/* ==========================================================================
   FOOTER
   ========================================================================== */
.footer {
  padding-bottom: 30px;
  position: relative;
  z-index: 1;
  font-size: 17px;
  line-height: 18px;
  @include media-breakpoint-up(xss) {
    padding-right: 10px;
    padding-left: 10px;
  }
  @include media-breakpoint-up(md) {
    padding-right: 0;
    padding-left: 0;
  }

  .container {
    padding-top: 51px;
    position: relative;
    @include media-breakpoint-up(md) {
      padding-top: 50px;
    }
    @include media-breakpoint-up(lg) {
      padding-top: 77px;
    }

    &::before {
      @include pseudo;
      width: 76px;
      height: 4px;
      position: absolute;
      top: 0;
      left: 15px;
      background: $color-orange;
    }
  }

  .col {
    margin-bottom: 50px;
    &:first-of-type {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      @include media-breakpoint-up(xl) {
        padding-right: 60px;
      }
    }
    &:last-child {margin-bottom: 0;}
  }

  &__logo {
    width: 100%;
    margin: 0 0 50px;

    img {
      width: 129px;
      display: block;
      @include user-select;
    }
  }

  &__menu {
    height: 216px;
    padding: 0;
    margin: 0;
    list-style: none;
    font: 600 16px/24px $font-heading;
    white-space: nowrap;
    float: left;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 45px;
    -moz-column-gap: 45px;
    column-gap: 45px;
    -webkit-column-fill: auto;
    -moz-column-fill: auto;
    column-fill: auto;
    @include media-breakpoint-up(xss) {
      -webkit-column-gap: 90px;
      -moz-column-gap: 90px;
      column-gap: 90px;
    }
    @include media-breakpoint-up(lg) {
      -webkit-column-gap: 45px;
      -moz-column-gap: 45px;
      column-gap: 45px;
    }
    @include media-breakpoint-up(xl) {
      -webkit-column-gap: 120px;
      -moz-column-gap: 120px;
      column-gap: 120px;
    }

    ul {
      padding: 0;
      margin-bottom: 24px;
      list-style: none;
    }

    a {
      color: $color-orange;
      text-decoration: none;
      transition: color $effect-s;
      @media (hover: hover) {
        &:hover, &:focus {color: black;}
      }
    }
  }

  &__security {
    @include media-breakpoint-up(lg) {
      margin-top: 12px;
    }
    @include media-breakpoint-up(xl) {
      margin-right: -30px;
      margin-left: 8px;
    }

    h3 {
      @include media-breakpoint-down(sm) {
        margin-bottom: 31px;
      }
      @include media-breakpoint-up(lg) {
        margin-bottom: 50px;
      }
    }

    p {
      margin: 0;
      @include media-breakpoint-up(xss) {
        margin-right: 34px;
      }
      @include media-breakpoint-up(md) {
        margin-right: 0;
      }
    }
  }

  .social {
    margin-top: 50px;
    position: relative;
    @include media-breakpoint-up(xss) {
      left: 3px;
    }
    @include media-breakpoint-up(sm) {
      left: auto;
    }
    @include media-breakpoint-up(xl) {
      margin-top: 56px;
      margin-left: 10px;
    }
  }

  &__form {
    width: 100%;
    max-width: 283px;
    padding-top: 20px;
    display: block;
    @include media-breakpoint-up(md) {
      padding-top: 0;
    }
    @include media-breakpoint-up(lg) {
      margin-top: 12px;
    }
    @include media-breakpoint-up(xl) {
      margin-left: -19px;
    }

    .form-heading {
      margin-bottom: 51px;
      font: 600 25px/30px $font-heading;
      @include media-breakpoint-up(md) {
        margin-bottom: 31px;
      }
      @include media-breakpoint-up(lg) {
        margin-bottom: 50px;
      }
    }

    .form-control, .btn {
      width: 100%;
      padding: 14px 28px;
      display: block;
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__copyright {
    margin: -7px 0 0;
    font-size: 9px;
    line-height: 14px;
    letter-spacing: .02em;
    color: $color-indigo;
    @include media-breakpoint-up(md) {
      margin: 0;
    }
    @include media-breakpoint-up(lg) {
      font-size: 13px;
      line-height: 20px;
    }
    @include media-breakpoint-up(xl) {
      margin-top: 21px;
    }

    a {
      text-decoration: none;
      @media (hover: hover) {
        &:hover, &:focus {text-decoration: underline;}
      }
    }
  }
}
