/* ==========================================================================
   HEADER
   ========================================================================== */
.header {
  width: 100%;
  min-width: $min-width;
  height: 90px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  @include media-breakpoint-up(xl) {
    height: 160px;
  }

  .container {
    height: 100%;
    position: relative;
  }

  &__brand {
    display: none;
  }

  &__logo {
    position: absolute;
    top: 25px;
    left: 16px;
    z-index: 5;
    @include media-breakpoint-up(xss) {
      left: 27px;
    }
    @include media-breakpoint-up(sm) {
      left: 17px;
    }
    @include media-breakpoint-up(xl) {
      top: 68px;
      left: 25px;
    }

    a {display: block;}

    img {
      width: 129px;
      height: 42px;
      display: block;
      @include user-select;
    }
  }

  &__toggle {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 25px;
    right: 14px;
    z-index: 3;
    cursor: pointer;
    @include media-breakpoint-up(xss) {
      right: 24px;
    }
    @include media-breakpoint-up(sm) {
      right: 14px;
    }
    @include media-breakpoint-up(xl) {
      top: 62px;
    }
    @include media-breakpoint-up(xxl) {
      right: 134px;
    }

    &::before, &::after, span {
      @include pseudo;
      width: 23px;
      height: 2px;
      margin: auto;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      background: white;
      transition: transform $effect, opacity $effect;
      transform: none;
      transform-origin: center;
    }
    &::before {top: 16px;}
    &::after {bottom: 16px;}

    .open & {
      @include media-breakpoint-down(xl) {
      }
    }
  }

  &__nav {
    min-width: 320px;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;

    &.visible {
      width: 100%;
      height: 100vh;
      position: fixed;
      bottom: auto;
      z-index: 10;
    }
  }

  &__space {
    height: 100%;
    display: none;
    overflow: hidden;
    overflow-y: auto;
    position: relative;
    z-index: 5;
    background: #f6f6f6;
    transition: opacity $effect;
    opacity: 0;
    -webkit-overflow-scrolling: touch;
    @include media-breakpoint-up(xss) {
      padding-right: 10px;
      padding-left: 10px;
    }

    // Logo
    & > .container::before {
      @include pseudo;
      width: 129px;
      height: 42px;
      position: absolute;
      top: 25px;
      left: 16px;
      z-index: 0;
      background: url('#{$img}/logo.svg') no-repeat center center;
      background-size: contain;
      @include media-breakpoint-up(xss) {
        left: 17px;
      }
      @include media-breakpoint-up(xl) {
        top: 68px;
        left: 25px;
      }
    }

    .visible & {display: block;}
    .open & {opacity: 1;}
  }

  &__menu {
    width: 100%;
    min-height: 100%;
    padding: 88px 0;
    margin: 0;
    font: 600 38px/42px $font-heading;
    list-style: none;
    position: relative;
    z-index: 1;
    @include media-breakpoint-up(sm) {
      padding-top: 110px;
      padding-bottom: 110px;
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
    }
    @include media-breakpoint-up(md) {
      max-width: 640px;
      padding-top: 140px;
      font-size: 56px;
      line-height: 60px;
    }
    @include media-breakpoint-up(lg) {
      max-width: 800px;
    }
    @include media-breakpoint-up(xl) {
      max-width: 997px;
      padding-top: 175px;
      font-size: 85px;
      line-height: 88px;
    }

    > li {
      transform: translate3d(0, -5px, 0);
      opacity: 0;
      transition: opacity .9s ease, transform .8s ease;
      @include media-breakpoint-up(md) {
        padding-bottom: 16px;
      }
      @include media-breakpoint-up(xl) {
        transform: translate3d(0, -7px, 0);
        transition: opacity 1.2s ease, transform 1s ease;
      }

      > a {
        display: inline-block;
        position: relative;
        z-index: 50;
        color: black;
        text-decoration: none;
        white-space: nowrap;
        cursor: pointer;
        @media (hover: hover) {
          transition: color $effect;
          &:hover, &:focus {color: $color-orange;}
        }
      }

      > ul {
        padding: 8px 0 7px 1px;
        margin: 0;
        font: 19px/26px $font-default;
        list-style: none;
        @include media-breakpoint-up(md) {
          font-size: 24px;
          line-height: 28px;
        }
        @include media-breakpoint-up(xl) {
          padding-top: 11px;
          padding-bottom: 11px;
          padding-left: 0;
          font-size: 34px;
          line-height: 37px;
        }

        a {
          text-decoration: none;
          @media (hover: hover) {
            transition: color $effect;
            &:hover, &:focus {color: $color-orange;}
          }
        }
      }

      &:last-child > ul {
        @include media-breakpoint-up(xl) {
          position: relative;
          left: 8px;
          top: 11px;
        }
      }
    }

    .open & > li {
      transform: translate3d(0, 0, 0);
      opacity: 1;
      @for $i from 1 through 10 {
        &:nth-child(#{$i}) {
          transition-delay: ($i * .1)+s;
        }
      }
    }
  }

  .social {
    margin-top: -78px;
    position: relative;
    z-index: 3;
    @include media-breakpoint-up(md) {
      margin-top: -90px;
    }
    @include media-breakpoint-up(xl) {
      width: 50%;
      margin-top: -98px;
      float: right;
      left: -5px;
    }
    @include media-breakpoint-up(xxl) {
      left: -74px;
    }
  }

  .copyright {
    margin: 15px 0 0;
    font-size: 9px;
    line-height: 16px;
    letter-spacing: .02em;
    color: #1e2739;
    position: relative;
    z-index: 3;
    @include media-breakpoint-up(md) {
      font-size: 12px;
    }
    @include media-breakpoint-up(xl) {
      margin-top: -92px;
      float: left;
      font-size: 13px;
    }

    a {
      text-decoration: none;
      @media (hover: hover) {
        &:hover, &:focus {text-decoration: underline;}
      }
    }
  }

  &__close {
    width: 40px;
    height: 40px;
    margin: auto;
    display: block;
    position: absolute;
    top: 25px;
    right: 14px;
    z-index: 10;
    cursor: pointer;
    @include media-breakpoint-up(xss) {
      right: 14px;
    }
    @include media-breakpoint-up(xl) {
      top: 62px;
    }
    @include media-breakpoint-up(xxl) {
      right: 134px;
    }

    &::before, &::after {
      @include pseudo;
      width: 23px;
      height: 2px;
      margin: auto;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      background: black;
    }
    &::before {transform: rotate(45deg);}
    &::after {transform: rotate(-45deg);}
  }

  &__download {
    min-width: 80px;
    padding: 5px 20px;
    font-size: 14px;
    line-height: 20px;
    display: none;
    position: absolute;
    z-index: 5;
    @include media-breakpoint-up(md) {
      display: block;
      top: 28px;
      right: 65px;
    }
    @include media-breakpoint-up(xl) {
      top: 65px;
      right: 65px;
    }
    @include media-breakpoint-up(xxl) {
      right: 185px;
    }
  }
}
