/* ==========================================================================
   MAIN
   ========================================================================== */
.main {
  width: 100%;
  min-height: 100%;
  padding: 0 10px;
  @include media-breakpoint-up(md) {
    padding: 0;
  }
  & > .container::after {@include clearfix;}
}