/* ==========================================================================
   MAIN
   ========================================================================== */
.main {
  width: 100%;
  min-height: 100%;
  @include media-breakpoint-up(xss) {
    padding: 0 10px;
  }
  @include media-breakpoint-up(md) {
    padding-right: 0;
    padding-left: 0;
  }
  & > .container::after {@include clearfix;}
}