/* ==========================================================================
   POPUP
   ========================================================================== */
.popup {
  width: 100%;
  min-width: 320px;
  overflow: hidden;
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 200;

  &.visible {
    display: block;
  }

  .container {
    height: 100%;
    position: relative;
  }

  &__close {
    width: 40px;
    height: 40px;
    margin: auto;
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
    cursor: pointer;
    @include media-breakpoint-down(xss) {
      + .popup__header {
        margin-top: 30px;
      }
    }
    @include media-breakpoint-up(lg) {
      top: 20px;
      right: 20px;
    }

    &::before, &::after {
      @include pseudo;
      width: 23px;
      height: 2px;
      margin: auto;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      background: black;
    }
    &::before {transform: rotate(45deg);}
    &::after {transform: rotate(-45deg);}
  }

  &__header {
    font-size: 14px;
    margin-bottom: 20px;
    @include media-breakpoint-up(xss) {
      font-size: 15px;
    }
    @include media-breakpoint-up(md) {
      margin-bottom: 24px;
      font-size: 16px;
    }
    @include media-breakpoint-up(xl) {
      margin-bottom: 30px;
      font-size: 18px;
    }

    h2, h3 {margin-bottom: .25em;}
    h3 {
      @include media-breakpoint-down(xss) {
        font-size: 22px;
      }
    }
    &:last-child {margin-bottom: 0;}

  }

  &__space {
    height: 100%;
    padding: 15px;
    display: none;
    overflow: hidden;
    overflow-y: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 5;
    transition: opacity $effect;
    background: rgba(black, .5);
    opacity: 0;
    -webkit-overflow-scrolling: touch;

    @media screen and (max-height: 700px) {
      display: block !important;
    }

    .visible & {display: flex;}
    .open & {opacity: 1;}
  }

  &__content {
    max-width: 100%;
    padding: 20px 15px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    z-index: 1;
    background: #f6f6f6;
    @include media-breakpoint-up(xss) {
      padding: 30px 20px;
    }
    @include media-breakpoint-up(xsl) {
      max-width: 560px;
      padding-right: 25px;
      padding-left: 25px;
    }
    @include media-breakpoint-up(md) {
      max-width: 680px;
      padding-right: 30px;
      padding-left: 30px;
    }
    @include media-breakpoint-up(lg) {
      max-width: 840px;
      #cookies-consent & {max-width: 680px;}
    }
    @include media-breakpoint-up(xl) {
      max-width: 920px;
    }
  }

  &--video {
    &.visible {
      display: flex;
    }
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);

    &__container {
      width: 75%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
    }

    &__video {
      width: 100%;
      height: auto;
      max-height: 100vh;
      object-fit: contain;
    }

    &__close {
      width: 40px;
      height: 40px;
      position: fixed;
      top: 20px;
      right: 20px;
      z-index: 201;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;

      &::before, &::after {
        @include pseudo;
        width: 23px;
        height: 2px;
        margin: auto;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        background: white;
      }
      &::before {transform: rotate(45deg);}
      &::after {transform: rotate(-45deg);}
    }

    &__background {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.5);
      cursor: pointer;
      z-index: -1;
    }
  }
}
