/* ==========================================================================
   BLOG
   ========================================================================== */
.blog {
  margin-bottom: 62px;
  position: relative;
  &::after {@include clearfix;}

  &__article {
    border-radius: 30px;
    margin-bottom: 68px;
    position: relative;
    font-size: 17px;
    background: $color-orange;
  }

  &__header {
    padding: 30px 20px 27px;
    @include media-breakpoint-up(md) {
      padding-top: 50px;
      padding-right: 120px;
    }
  }

  &__title {
    margin-bottom: 5px;
  }

  &__category {
    margin-bottom: 0;
  }

  &__date {
    margin-top: 5px;
    margin-bottom: 0;
    display: flex;
    font-size: 15px;
    @include media-breakpoint-up(md) {
      margin-top: 0;
      display: block;
      font-size: 17px;
      line-height: 30px;
      position: absolute;
      top: 54px;
      right: 48px;
      text-align: right;
    }

    @include media-breakpoint-down(md) {
      .date {margin-right: 10px;}
    }
  }

  &__image {
    padding: 0;
    margin: 0;
    display: block;
    background: #d9d9d9;

    img {
      width: 100%;
      max-width: 100%;
      height: auto;
      max-height: 480px;
      //height: 327px !important;
      display: block;
      object-fit: cover;
      object-position: top;
      @include user-select;
    }
  }

  &__content {
    padding: 30px 20px;
    font-size: 15px;
    line-height: 18px;
    @include media-breakpoint-up(md) {
      padding-top: 50px;
      padding-bottom: 40px;
      font-size: 17px;
      line-height: 19px;
    }
  }

  &__more {
    margin-top: 24px;
    .btn {
      min-width: 0;
      padding-left: 0;
      left: -3px;
      &::after {
        -webkit-filter: brightness(400%);
        filter: brightness(400%);
      }
      &:hover, &:focus {
        &::after {
          -webkit-filter: brightness(0%);
          filter: brightness(0%);
        }
      }
    }
  }

  &__pagination {
    margin: -5px 20px 0;
    font-size: 16px;
    line-height: 25px;
    display: flex;
    align-items: center;
    cursor: default;

    a {
      padding: 5px;
      display: block;
      text-decoration: none;
      &:hover, &:focus {
        color: $color-orange;
      }
    }

    em, strong {
      padding: 5px;
      display: block;
      font-style: normal;
    }
  }

  &__taglist {
    margin-bottom: 100px;
    @include media-breakpoint-up(md) {
      margin-bottom: 120px;
    }
    @include media-breakpoint-up(xl) {
      margin-bottom: 170px;
    }

    &-title {
      padding-top: 20px;
      display: flex;
      justify-content: space-between;
      position: relative;
      @include media-breakpoint-up(xl) {
        margin-bottom: 40px;
        font-size: 35px;
        line-height: 40px;
      }

      &::before {
        @include pseudo;
        height: 1px;
        border-top: 1px dashed $color-dark;
        margin-top: 10px;
        position: absolute;
        top: 50%;
        right: 0;
        left: 0;
      }

      span {
        padding-right: 10px;
        display: block;
        position: relative;
        z-index: 5;
        background: white;
      }

      var {
        padding-left: 10px;
        display: block;
        font-style: normal;
        position: relative;
        z-index: 5;
        background: white;
        cursor: default;
      }
    }
  }

  &__tags {
    height: 100%;
    margin-bottom: 4em;
    position: relative;

    @include media-breakpoint-up(lg) {
      width: 330px;
      height: 100vh;
      padding: 1em 0 5em;
      margin-bottom: 0;
      &-fixed {
        position: fixed;
        top: 0;
        &-bottom {
          position: absolute;
          top: auto;
          bottom: 0;
        }
      }

      &::before {
        @include pseudo;
        width: 76px;
        height: 4px;
        position: absolute;
        left: 0;
        bottom: 1.68em;
        background: $color-orange;
      }
    }
    @include media-breakpoint-up(xl) {
      width: 255px;
    }
    @include media-breakpoint-up(xxl) {
      width: 380px;
    }

    &-list {
      padding: 0;
      margin: 0;
      font-size: 1em;
      line-height: 1.15em;
      font-weight: 600;
      list-style: none;
      position: relative;
      @include media-breakpoint-up(lg) {
        height: 100%;
        overflow: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
      }
      @include media-breakpoint-up(xl) {
        font-size: 1em;
      }
      @include media-breakpoint-up(xxl) {
        font-size: 1.137em;
      }
    }
  }
}