/* ==========================================================================
   BOX
   ========================================================================== */
.box {
  padding-top: 70px;
  padding-bottom: 60px;
  position: relative;
  z-index: 1;
  color: black;
  @include media-breakpoint-up(xl) {
    padding-top: 100px;
    padding-bottom: 117px;
  }

  &__content {
    @include media-breakpoint-up(xss) {
      padding: 0 7px;
    }
    @include media-breakpoint-up(md) {
      padding: 0;
    }
    @include media-breakpoint-up(xl) {
      padding: 0 10px;
    }
  }

  &__title {
    margin-bottom: 36px;
    position: relative;
    top: 1px;
    font: 22px/24px $font-default;
    text-decoration: underline;
    text-decoration-thickness: .0625em;
    text-underline-offset: .167em;
    @include media-breakpoint-up(xl) {
      top: 3px;
    }
  }

  &__heading {
    margin-bottom: 36px;
    @include media-breakpoint-up(xl) {
      margin-bottom: 23px;
    }
  }

  &__solution {
    max-width: 380px;
    padding: 56px 10px 30px;
    margin: 0 auto 35px;
    position: relative;
    font-size: 14px;
    line-height: 15px;
    @include media-breakpoint-up(xss) {
      padding-right: 15px;
      padding-left: 15px;
    }
    @include media-breakpoint-up(md) {
      max-width: none;
      padding-right: 0;
      padding-bottom: 20px;
      padding-left: 0;
      margin-bottom: 0;
    }
    @include media-breakpoint-up(lg) {
      max-width: 260px;
      margin: 0;
      text-align: left;
    }
    @include media-breakpoint-up(xl) {
      max-width: 300px;
      padding-top: 30px;
      padding-left: 10px;
      padding-bottom: 0;
      top: 10px;
      font-size: 17px;
      line-height: 18px;
    }

    h3 {
      margin-bottom: 13px;
      @include media-breakpoint-up(xl) {
        margin-bottom: 15px;
      }

      &::after {
        @include pseudo;
        width: 51px;
        height: 51px;
        margin: 0 auto;
        position: absolute;
        top: 2px;
        right: 2px;
        left: 0;
        background: url($icon-globe) no-repeat center center;
        background-size: contain;
        @include media-breakpoint-up(lg) {
          margin-left: 20px;
          display: inline-block;
          vertical-align: middle;
          position: relative;
          top: -2px;
          right: auto;
          left: auto;
        }
        @include media-breakpoint-up(xl) {
          margin-left: 36px;
        }
      }
    }

    .btn {
      padding: 0;
      font-size: 16px;
      line-height: 16px;
      color: white;
    }
  }

  .col:last-of-type > .block__solution {
    margin-bottom: 0;
  }

  blockquote {
    margin-top: 18px;
    @include media-breakpoint-up(lg) {
      margin-right: -60px;
      margin-left: -60px;
    }
    @include media-breakpoint-up(xl) {
      margin-top: 30px;
      margin-right: -100px;
      margin-left: -100px;
    }
    @include media-breakpoint-up(xxl) {
      margin-right: -125px;
      margin-left: -125px;
    }

    & + figcaption {
      margin-bottom: 8px;
      @include media-breakpoint-up(xl) {
        margin-bottom: 19px;
      }
    }
  }

  &--orange {
    &::after {
      @include pseudo;
      width: 100vw;
      position: absolute;
      top: 0;
      right: -15px;
      bottom: 0;
      left: -15px;
      z-index: -1;
      background: $color-orange;
      @include media-breakpoint-up(xss) {
        right: -25px;
        left: -25px;
      }
      @include media-breakpoint-up(sm) {
        left: 50%;
        right: auto;
        transform: translate3d(-50%, 0, 0);
      }
    }
  }
}
