/* ==========================================================================
   BOX
   ========================================================================== */
.box {
  padding-top: 70px;
  padding-bottom: 70px;
  position: relative;
  z-index: 1;
  color: black;
  @include media-breakpoint-up(md) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  @include media-breakpoint-up(xl) {
    padding-top: 110px;
    padding-bottom: 110px;
  }

  &__content {
    @include media-breakpoint-up(xss) {
      padding: 0 7px;
    }
    @include media-breakpoint-up(md) {
      padding: 0;
    }
    @include media-breakpoint-up(xl) {
      padding: 0 10px;
    }
    p:last-child {margin-bottom: 0;}
  }

  &__icon {
    height: 50px;
    margin: 0 auto 10px;
    display: block;
    @include user-select;
    @include media-breakpoint-up(md) {
      margin-top: 0;
    }
    @include media-breakpoint-up(xl) {
      height: 78px;
      margin-top: -20px;
      margin-bottom: 20px;
    }
  }

  &__title {
    margin-bottom: 28px;
    font: 600 20px/22px $font-default;
    @include media-breakpoint-up(xl) {
      margin-bottom: 35px;
      font-size: 22px;
      line-height: 24px;
    }
  }

  &__heading {
    margin-bottom: 36px;
    @include media-breakpoint-up(xl) {
      margin-bottom: 28px;
    }

    @include media-breakpoint-up(xss) {
      font-size: 24px;
      line-height: 24px;
    }
    @include media-breakpoint-up(md) {
      font-size: 32px;
      line-height: 30px;
    }
    @include media-breakpoint-up(xl) {
      font-size: 36px;
      line-height: 36px;
    }
    @include media-breakpoint-up(xxl) {
      font-size: 48px;
      line-height: 48px;
    }
    


  }

  &__buttons {
    margin-top: 22px;
    @include media-breakpoint-up(md) {
      margin-top: 40px;
    }
    @include media-breakpoint-up(xl) {
      margin-top: 40px;
      margin-bottom: 16px;
    }
  }

  &__solution {
    max-width: 380px;
    padding: 60px 10px 30px;
    margin: 0 auto 35px;
    position: relative;
    font-size: 15px;
    line-height: 16px;
    @include media-breakpoint-up(xss) {
      padding-right: 15px;
      padding-left: 15px;
    }
    @include media-breakpoint-up(md) {
      max-width: none;
      padding-right: 0;
      padding-bottom: 0;
      padding-left: 0;
      margin-bottom: 0;
    }
    @include media-breakpoint-up(lg) {
      max-width: 260px;
      margin: 0 auto;
    }
    @include media-breakpoint-up(xl) {
      max-width: 300px;
      padding-top: 87px;
      padding-bottom: 6px;
      font-size: 17px;
      line-height: 18px;
    }

    .col:last-of-type > & {
      @include media-breakpoint-down(md) {
        padding-bottom: 10px;
        margin-bottom: 0 !important;
      }
    }

    &-icon {
      width: auto;
      height: 50px;
      margin: 0 auto;
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      cursor: default;
      @include user-select;
      @include media-breakpoint-up(xl) {
        height: 78px;
      }
    }

    h3 {
      margin-bottom: 15px;
      @include media-breakpoint-up(xl) {
        margin-bottom: 26px;
      }

      & + p {
        @include media-breakpoint-up(md) {
          min-height: 135px;
        }
        @include media-breakpoint-up(lg) {
          min-height: 120px;
        }
        @include media-breakpoint-up(xl) {
          min-height: 142px;
        }
      }
    }

    .btn {
      padding: 0;
      color: white;

      &.btn--arrow {
        transition: color $effect;
        &::before {display: inline-block;opacity: 1;-webkit-filter: brightness(0%);filter: brightness(0%);margin-top: -8px;}
        &::after {transition: opacity $effect;-webkit-filter: brightness(1000%);filter: brightness(1000%);}
        @media (hover: hover) {
          &:hover, &:focus {
            color: black;
            &::after {opacity: 0;}
          }
        }
      }
    }
  }

  &__testimonials {
    margin: 0 -15px;
    cursor: default;
    @include media-breakpoint-up(xss) {
      margin-right: -25px;
      margin-left: -25px;
    }
    @include media-breakpoint-up(sm) {
      margin-right: 0;
      margin-left: 0;
    }
    @include media-breakpoint-up(md) {
      margin-right: -50px;
      margin-left: -50px;
    }
    @include media-breakpoint-up(lg) {
      margin-right: -100px;
      margin-left: -100px;
    }

    .swiper {
      padding-bottom: 30px;
      margin-bottom: -15px;
      @include media-breakpoint-up(md) {
        padding-bottom: 40px;
      }
      @include media-breakpoint-up(xl) {
        padding-bottom: 55px;
      }
    }
    .swiper-wrapper {
      align-items: center;
    }

    .swiper-slide {
      padding-right: 15px;
      padding-left: 15px;
      @include media-breakpoint-up(xss) {
        padding-right: 25px;
        padding-left: 25px;
      }
      @include media-breakpoint-up(sm) {
        padding-right: 0;
        padding-left: 0;
      }
      @include media-breakpoint-up(md) {
        padding-right: 25px;
        padding-left: 25px;
      }

      blockquote {
        p {margin: 0;}
        & + figcaption {
          margin-top: 17px;
        }
      }
      &:nth-child(n+2) {display: none;}
    }

    &.init .swiper-slide:nth-child(n+2) {
      display: block;
    }

    .swiper-pagination-bullets {
      bottom: -5px;
      .swiper-pagination-bullet {background: $color-orange;}
    }
  }

  &--orange {
    &::after {
      @include pseudo;
      width: 100vw;
      position: absolute;
      top: 0;
      right: -15px;
      bottom: 0;
      left: -15px;
      z-index: -1;
      background: $color-orange;
      @include media-breakpoint-up(xss) {
        right: -25px;
        left: -25px;
      }
      @include media-breakpoint-up(sm) {
        left: 50%;
        right: auto;
        transform: translateX(-50%);
      }
    }

    &:last-child {
      @include media-breakpoint-down(xl) {
        margin-bottom: 40px;
      }
    }

    .btn--bordered {
      border-color: white;
      color: white;
      transition: border-color $effect, color $effect;
      @media (hover: hover) {
        &:hover, &:focus {
          border-color: black;
          color: black;
        }
      }
    }
  }

  &--network {
    font-size: 15px;
    line-height: 16px;
    position: relative;
    z-index: 1;
    @include media-breakpoint-up(md) {
      font-size: 17px;
      line-height: 18px;
    }
    @include media-breakpoint-up(xl) {
      padding-top: 50px;
      padding-bottom: 50px;
      font-size: 22px;
      line-height: 24px;
      .box__content {margin: 0 -65px;}
      .box__heading {margin-bottom: 40px;}
    }
    &::before {
      @include pseudo;
      width: 352px;
      height: 528px;
      margin-left: -50vw;
      display: none;
      position: absolute;
      top: -88px;
      left: 50%;
      z-index: -1;
      background: url('#{$img}/pattern.svg') no-repeat bottom left;
      background-size: 535px auto;
      opacity: .6;
      transform: rotate(-90deg);
      @include media-breakpoint-up(lg) {
        display: block;
      }
    }
  }

&--headline {
    font-size: 15px;
    line-height: 16px;
    position: relative;
    z-index: 1;
    @include media-breakpoint-up(md) {
      font-size: 17px;
      line-height: 18px;
    }
    @include media-breakpoint-up(xl) {
      padding-top: 50px;
      padding-bottom: 50px;
      font-size: 22px;
      line-height: 24px;
      .box__content {margin: 0 -65px;}
      .box__heading {margin-bottom: 40px;}
    }
    &::before {
      @include pseudo;
      width: 352px;
      height: 528px;
      margin-left: -50vw;
      display: none;
      position: absolute;
      top: -88px;
      left: 50%;
      z-index: -1;
      background: url('#{$img}/pattern.svg') no-repeat bottom left;
      background-size: 535px auto;
      opacity: .6;
      transform: rotate(-90deg);
      @include media-breakpoint-up(lg) {
        display: block;
      }
    }
  }

  &--cta {
    position: relative;
    z-index: 1;
    padding-top: 20px;
    padding-bottom: 20px;
    @include media-breakpoint-up(md) {
      padding-top: 20px;
      padding-bottom: 20px;
    }
    @include media-breakpoint-up(xl) {
      padding-top: 20px;
      padding-bottom: 20px;
    }
    &::before {
      @include pseudo;
      width: 352px;
      height: 528px;
      margin-left: -50vw;
      display: none;
      position: absolute;
      top: -88px;
      left: 50%;
      z-index: -1;
      background: url('#{$img}/pattern.svg') no-repeat bottom left;
      background-size: 535px auto;
      opacity: .6;
      transform: rotate(-90deg);
      @include media-breakpoint-up(lg) {
        display: block;
      }

      .box__button {
        margin:100px;
        }
    }
  }

  &--testimonials {
    position: relative;
    z-index: 1;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 20px;
    @include media-breakpoint-up(xl) {
      margin-top: 50px;
    }
    @include media-breakpoint-up(xxl) {
      padding-bottom: 50px;
    }

    &::before {
      @include pseudo;
      width: 76px;
      height: 4px;
      margin-right: auto;
      margin-left: auto;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      background: $color-orange;
      @include media-breakpoint-up(xxl) {
        left: 10px;
      }
    }

    &::after {
      @include pseudo;
      width: 220px;
      height: 540px;
      margin-right: -50vw;
      display: none;
      position: absolute;
      right: 50%;
      bottom: -160px;
      z-index: -1;
      background: url('#{$img}/pattern.svg') no-repeat top right;
      background-size: 535px auto;
      opacity: .6;
      transform: rotate(-90deg) translateY(-120px);
      @include media-breakpoint-up(lg) {
        display: block;
      }
    }

    strong {
      font-weight: inherit;
      text-decoration: underline;
      text-decoration-thickness: .0625em;
      text-underline-offset: .084em;
    }
  }

  &--how {
    @include media-breakpoint-up(xl) {
      padding-top: 103px;
      .box__heading {margin-bottom: 25px;}
      .box__content {margin-right: -30px;margin-left: -30px;}
      .box__buttons {margin-top: 49px;margin-bottom: 18px;}
    }
  }
}
