/* ==========================================================================
   BREADCRUMBS
   ========================================================================== */
.breadcrumbs {
  padding-left: 60px;
  display: none;
  position: absolute;
  font: 13px/16px $font-heading;
  cursor: default;
  @include media-breakpoint-up(xl) {
    padding-left: 123px;
    margin-top: -155px;
    display: block;
  }
  @include media-breakpoint-up(xxxl) {
    margin-top: -192px;
  }

  &::before {
    @include pseudo;
    width: 41px;
    height: 8px;
    position: absolute;
    top: 4px;
    left: 0;
    background: url('#{$icon-arrow-indigo}') no-repeat center center;
    background-size: 100% 100%;
    @include media-breakpoint-up(xl) {
      left: 62px;
    }
  }

  a {
    font-weight: normal;
    text-decoration: none;
    @media (hover: hover) {
      &:hover, &:focus {text-decoration: underline;}
    }
  }

  strong {
    font-weight: 900;
    letter-spacing: 0;
  }
}
