/* ==========================================================================
   FEATURES
   ========================================================================== */
.features {
  margin-bottom: 60px;
  position: relative;
  @include media-breakpoint-up(md) {
    margin-bottom: 100px;
  }
  @include media-breakpoint-up(xl) {
    margin-bottom: 120px;
  }

  &:last-child {margin-bottom: 0;}

  &__image {
    margin: 0 auto 40px;
    position: relative;
    display: block;
    @include media-breakpoint-up(md) {
      max-width: 580px;
      margin-bottom: 60px;
    }
    @include media-breakpoint-up(lg) {
      max-width: 100%;
      margin-bottom: 80px;
    }
    @include media-breakpoint-up(xl) {
      margin-bottom: 120px;
    }

    img {
      width: 100%;
      max-width: 100%;
      height: auto;
      margin: 0 auto;
      display: block;
      @include user-select;
    }

    & + hr {
      margin: 100px 0 60px;
      @include media-breakpoint-up(md) {
        margin: 120px 0 80px;
      }
      @include media-breakpoint-up(xl) {
        margin: 140px 0 100px;
      }
    }
  }

  &__after {
    max-width: 240px;
    margin: 40px auto;
    position: relative;
    display: block;
    @include media-breakpoint-up(md) {
      max-width: 300px;
    }
    @include media-breakpoint-up(lg) {
      max-width: 300px;
      margin: 0;
      position: absolute;
      right: 100px;
      bottom: 30px;
    }
    @include media-breakpoint-up(xl) {
      max-width: 360px;
      right: 140px;
      bottom: 60px;
    }
    @include media-breakpoint-up(xxl) {
      max-width: 440px;
      bottom: 20px;
    }

    img {
      width: 100%;
      max-width: 100%;
      height: auto;
      margin: 0 auto;
      display: block;
      @include user-select;
    }
  }

  &__heading {
    margin-bottom: 40px;
    text-align: center;
    @include media-breakpoint-up(lg) {
      margin-bottom: 50px;
      text-align: left;
    }
  }

  &__actions {
    margin-bottom: 50px;
    text-align: center;
    @include media-breakpoint-up(lg) {
      padding-bottom: 50px;
      margin-bottom: 0;
    }
    @include media-breakpoint-up(xxl) {
      padding-bottom: 46px;
      padding-right: 98px;
    }

    .btn {
      @include media-breakpoint-up(md) {
        padding-right: 34px;
        padding-left: 34px;
      }
    }
  }

  &__entry {
    padding: 0 0 50px 0;
    @include media-breakpoint-up(lg) {
      padding-right: 30px;
    }
    @include media-breakpoint-up(xl) {
      padding-right: 50px;
    }
    @include media-breakpoint-up(xxl) {
      padding-right: 70px;
    }

    h4 {
      @include media-breakpoint-up(xl) {
        margin-bottom: 40px;
      }
    }

    p:last-of-type {margin-bottom: 0;}
  }

  &__buttons {
    margin-top: 20px;
    margin-bottom: 10px;
    @include media-breakpoint-up(lg) {
      margin-top: -40px;
      margin-bottom: 0;
      position: relative;
      top: 70px;
    }

    .btn {
      margin-top: 10px;
      text-transform: none;
      & + .btn {
        margin-left: 10px;
        @include media-breakpoint-up(lg) {
          margin-left: 15px;
        }
      }
    }
  }
}
