/* ==========================================================================
   HEADLINE
   ========================================================================== */
.headline {
  padding: 100px 15px;
  margin: -80px -15px 93px;
  font: 16px/17px $font-default;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: $color-orange;
  @include media-breakpoint-up(xss) {
    padding-right: 60px;
    padding-bottom: 88px;
    padding-left: 25px;
    margin-right: -25px;
    margin-left: -25px;
  }
  @include media-breakpoint-up(sm) {
    padding: 40px 50px;
    border-radius: 120px 120px 0 120px;
    margin-top: 0;
    margin-right: -15px;
    margin-bottom: 120px;
    margin-left: -15px;
    position: relative;
    z-index: 2;
    text-align: center;
  }
  @include media-breakpoint-up(md) {
    max-width: 620px;
    margin-right: auto;
    margin-left: auto;
  }
  @include media-breakpoint-up(lg) {
    max-width: 680px;
  }
  @include media-breakpoint-up(xl) {
    max-width: 925px;
    min-height: 290px;
    padding: 30px 110px 35px;
    border-radius: 145px 145px 0 145px;
    margin-top: -30px;
    margin-bottom: 175px;
    font-size: 22px;
    line-height: 24px;
    background: $color-orange;
  }

  &::after {
    display: none !important;
    @include pseudo;
    position: absolute;
    top: 0;
    right: -15px;
    bottom: 0;
    left: -15px;
    z-index: -5;
    background: $color-orange;
    @include media-breakpoint-up(xss) {
      right: -25px;
      left: -25px;
    }
    @include media-breakpoint-up(sm) {
      display: none;
    }
  }

  &__content {
    position: relative;
    z-index: 2;
    @include media-breakpoint-up(xss) {
      padding-left: 4px;
    }
    @include media-breakpoint-up(sm) {
      padding-left: 0;
    }
  }

  &__title {
    margin: 0 0 25px;
    font: 22px/24px $font-default;
    text-decoration: underline;
    text-decoration-thickness: .0625em;
    text-underline-offset: .167em;
    @include media-breakpoint-up(xl) {
      margin-bottom: 30px;
    }
  }

  p {margin: 0;}

  // Homepage version
  .hero--homepage ~ & {
    @include media-breakpoint-up(sm) {
      margin-top: -120px;
    }
    @include media-breakpoint-up(md) {
      margin-top: -180px;
    }
    @include media-breakpoint-up(lg) {
      margin-top: -210px;
    }
    @include media-breakpoint-up(xl) {
      margin-top: -143px;
      margin-bottom: 273px;
    }
  }
}