/* ==========================================================================
   HEADLINE
   ========================================================================== */
.headline {
  padding: 70px 15px;
  margin: -80px -15px 10px;
  font-size: 16px;
  line-height: 18px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: $color-orange;
  @include media-breakpoint-up(xss) {
    padding-right: 60px;
    padding-left: 25px;
    margin-right: -25px;
    margin-left: -25px;
  }
  @include media-breakpoint-up(sm) {
    padding: 40px 50px;
    border-radius: 120px 120px 0 120px;
    margin-top: 0;
    margin-right: -15px;
    margin-left: -15px;
    position: relative;
    z-index: 2;
    text-align: center;
  }
  @include media-breakpoint-up(md) {
    max-width: 620px;
    padding-right: 80px;
    padding-left: 80px;
    margin-right: auto;
    margin-left: auto;
  }
  @include media-breakpoint-up(lg) {
    max-width: 680px;
  }
  @include media-breakpoint-up(xl) {
    max-width: 925px;
    min-height: 160px;
    padding: 45px 110px;
    border-radius: 145px 145px 0 145px;
    margin-top: -30px;
    font-size: 22px;
    line-height: 24px;
    background: $color-orange;
  }

  &::after {
    display: none !important;
    @include pseudo;
    position: absolute;
    top: 0;
    right: -15px;
    bottom: 0;
    left: -15px;
    z-index: -5;
    background: $color-orange;
    @include media-breakpoint-up(xss) {
      right: -25px;
      left: -25px;
    }
    @include media-breakpoint-up(sm) {
      display: none;
    }
  }

  &__content {
    position: relative;
    z-index: 2;
    @include media-breakpoint-up(xss) {
      padding-left: 4px;
    }
    @include media-breakpoint-up(sm) {
      padding-left: 0;
    }
  }

  &__title {
    margin: 0 0 25px;
    font: 600 20px/22px $font-default;
    @include media-breakpoint-up(md) {
      font-size: 22px;
      line-height: 24px;
    }
    @include media-breakpoint-up(xl) {
      margin-bottom: 28px;
    }
  }

  &__buttons {
    margin-top: 6px;
    @include media-breakpoint-up(md) {
      margin-top: 8px;
    }
    @include media-breakpoint-up(xl) {
      margin-top: 13px;
    }

    .btn {
      padding-bottom: 0;
      color: white;
      letter-spacing: 0.0125em;
      position: relative;

      &.btn--arrow {
        transition: color $effect;
        &::before {display: inline-block;opacity: 1;-webkit-filter: brightness(0%);filter: brightness(0%);}
        &::after {transition: opacity $effect;-webkit-filter: brightness(1000%);filter: brightness(1000%);}
        @media (hover: hover) {
          &:hover, &:focus {
            color: black;
            &::after {opacity: 0;}
          }
        }
      }
    }
  }

  p {margin: 0;}

  // Homepage version
  .hero--homepage ~ & {
    @include media-breakpoint-up(sm) {
      margin-top: -80px;
    }
    @include media-breakpoint-up(md) {
      margin-top: -80px;
    }
    @include media-breakpoint-up(lg) {
      margin-top: -80px;
    }
    @include media-breakpoint-up(xl) {
      margin-top: -120px;
    }
  }

  // About page: headline higher (closer to hero)
  .page--about .hero + & {
    margin-bottom: 40px;
    @include media-breakpoint-up(sm) {
      margin-top: -80px;
    }
    @include media-breakpoint-up(md) {
      margin-top: -80px;
    }
    @include media-breakpoint-up(lg) {
      margin-top: -80px;
    }
    @include media-breakpoint-up(xl) {
      margin-top: -120px;
    }
  }
}