/* ==========================================================================
   HERO
   ========================================================================== */
.hero {
  padding: 152px 0 68px;
  margin-bottom: 60px;
  color: white;
  position: relative;
  z-index: 0;
  background-position: -100px -100px;
  background-repeat: no-repeat;
  background-size: 1px 1px;
  @include media-breakpoint-up(md) {
    padding-bottom: 90px;
  }
  @include media-breakpoint-up(xl) {
    padding-top: 219px;
    padding-bottom: 109px;
    margin-bottom: 184px;
  }

  &::before {
    @include pseudo;
    width: 64.5%;
    height: 400px;
    margin-top: -120px;
    position: absolute;
    top: 100%;
    right: -15px;
    z-index: -1;
    background: url('#{$img}/pattern.svg') no-repeat top left;
    background-size: 535px auto;
    mix-blend-mode: hard-light;
    opacity: .65;
    @include media-breakpoint-up(xss) {
      right: -25px;
    }
    @include media-breakpoint-up(sm) {
      width: 417px;
      margin-top: -120px;
      margin-left: -417px;
      right: auto;
      left: 50%;
      transform: translateX(50vw);
      background-size: 535px auto;
    }
    @include media-breakpoint-up(md) {
      margin-top: -190px;
    }
    @include media-breakpoint-up(lg) {
      height: 570px;
      margin-top: -260px;
    }
    @include media-breakpoint-up(xl) {
      margin-top: -364px;
    }
  }
  &::after {
    @include pseudo;
    position: absolute;
    top: 0;
    right: -15px;
    bottom: 0;
    left: -15px;
    z-index: -5;
    background: #272d2d no-repeat 32.5% bottom;
    background-image: inherit;
    background-size: cover;
    @include media-breakpoint-up(xss) {
      right: -25px;
      left: -25px;
    }
    @include media-breakpoint-up(sm) {
      width: 100vw;
      right: auto;
      left: 50%;
      transform: translateX(-50%);
      background-position: center bottom;
    }
  }

  &__content {
    width: 100%;
    padding-bottom: 59px;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    font-size: 16px;
    line-height: 17px;
    @include media-breakpoint-up(xl) {
      padding-bottom: 64px;
      font-size: 22px;
      line-height: 24px;
    }

    &::after {
      @include pseudo;
      width: 76px;
      height: 4px;
      position: absolute;
      left: 0;
      bottom: 0;
      background: $color-orange;
      @include media-breakpoint-up(xxl) {
        left: 10px;
      }
    }
  }

  &__title {
    max-width: 340px;
    margin-bottom: 24px;
    color: rgba(white, .8);
    order: 1;
    @include media-breakpoint-up(xl) {
      max-width: 440px;
      margin-top: 38px;
      margin-bottom: 16px;
      color: white;
    }
    @include media-breakpoint-up(xxl) {
      margin-left: 10px;
    }

    p {margin: 0;}

    em {
      font-style: normal;
      text-decoration: underline;
      text-decoration-thickness: .0625em;
      text-underline-offset: .167em;
    }
  }

  &__heading {
    margin: 0 -10px 0 0;
    order: 2;
    @include media-breakpoint-up(xss) {
      margin-right: -20px;
    }
  }

  &__buttons {
    margin-top: 33px;
    position: relative;
    display: flex;
    order: 3;
    @include media-breakpoint-up(xss) {
      margin-left: -5px;
    }
    @include media-breakpoint-up(sm) {
      margin-left: 0;
    }
    @include media-breakpoint-up(md) {
      margin-right: -130px;
    }
    @include media-breakpoint-up(xl) {
      margin-top: 0;
      margin-right: 0;
      margin-bottom: 22px;
      order: 4;
    }

    & + .hero__subheading {
      @include media-breakpoint-up(xl) {
        margin-top: 34px;
        margin-bottom: 34px;
      }
    }

    .btn {
      color: white;
      white-space: nowrap;
      text-transform: none;

      @media (hover: hover) {
        &:hover, &:focus {
          color: white;
        }
      }

      sup {
        font-size: 100%;
        top: -.25em;
      }

      &.btn--bordered {
        @media (hover: hover) {
          &:hover, &:focus {
            border-color: white;
          }
        }
      }

      & + .btn {
        padding-right: 12px;
        padding-left: 12px;
        margin-left: 10px;
        @include media-breakpoint-up(xss) {
          margin-left: 20px;
        }
        @include media-breakpoint-up(md) {
          padding-right: 40px;
          padding-left: 40px;
          margin-left: 30px;
        }
      }

      span {
        display: none;
        @include media-breakpoint-up(md) {
          display: inline;
        }
      }
    }
  }

  &__subheading {
    max-width: 480px;
    margin-top: 30px;
    margin-bottom: 0;
    color: rgba(white, .8);
    order: 4;
    @include media-breakpoint-up(xl) {
      max-width: 625px;
      margin-top: 26px;
      color: white;
      order: 3;
    }
    @include media-breakpoint-up(xxl) {
      margin-left: 10px;
    }

    p {margin: 0;}
  }

  // Homepage version
  &--homepage {
    @include media-breakpoint-up(sm) {
      padding-bottom: 90px;
    }
    @include media-breakpoint-up(xl) {
      padding-top: 193px;
      padding-bottom: 127px;
      margin-bottom: 0;
    }

    &::before {
      @include media-breakpoint-down(lg) {
        height: 570px;
      }
      @include media-breakpoint-down(md) {
        margin-top: -77px;
      }
      @include media-breakpoint-up(xl) {
        width: 385px;
        margin-top: -450px;
        margin-left: -385px;
      }
    }

    .hero__heading {
      max-width: 400px;
      @include media-breakpoint-up(sm) {
        max-width: none;
      }
      @include media-breakpoint-up(xxl) {
        font-size: 127px;
        line-height: 114px;
      }
    }
  }
}
