/* ==========================================================================
   HERO
   ========================================================================== */
.hero {
  padding: 152px 0 68px;
  margin-top: -100px;
  margin-bottom: 20px;
  color: white;
  position: relative;
  z-index: 0;
  background-position: -100px -100px;
  background-repeat: no-repeat;
  background-size: 1px 1px;
  @include media-breakpoint-up(md) {
    margin-top: -120px;
    padding-bottom: 98px;
    margin-bottom: 20px;
  }
  @include media-breakpoint-up(xl) {
    padding-top: 219px;
    padding-bottom: 113px;
    margin-top: -170px;
    margin-bottom: 20px;
  }

  &::before {
    @include pseudo;
    width: 64.5%;
    height: 600px;
    margin-top: -120px;
    position: absolute;
    top: 100%;
    right: -15px;
    z-index: -1;
    background: url('#{$img}/pattern.svg') no-repeat top left;
    background-size: 535px auto;
    mix-blend-mode: hard-light;
    opacity: .65;
    @include media-breakpoint-up(xss) {
      right: -25px;
    }
    @include media-breakpoint-up(sm) {
      width: 450px;
      margin-top: -120px;
      margin-left: -417px;
      right: auto;
      left: 50%;
      transform: translateX(50vw);
      background-size: 535px auto;
    }
    @include media-breakpoint-up(md) {
      margin-top: -200px;
    }
    @include media-breakpoint-up(lg) {
      height: 600px;
      margin-top: -260px;
    }
    @include media-breakpoint-up(xl) {
      margin-top: -364px;
    }
    @include media-breakpoint-up(xxxxl) {
      transform: translateX(960px);
    }
  }
  &::after {
    @include pseudo;
    position: absolute;
    top: 0;
    right: -15px;
    bottom: 0;
    left: -15px;
    z-index: -5;
    background: #272d2d no-repeat 32.5% bottom;
    background-image: inherit;
    background-size: cover;
    @include media-breakpoint-up(xss) {
      right: -25px;
      left: -25px;
    }
    @include media-breakpoint-up(sm) {
      width: 100vw;
      right: auto;
      left: 50%;
      transform: translateX(-50vw);
      background-position: center center;
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    right: -15px;
    bottom: 0;
    left: -15px;
    background: rgba(39, 45, 45, 0.8); // 80% opaque dark grey (#272d2d) on top of hero image
    z-index: 0;
    pointer-events: none;
    @include media-breakpoint-up(xss) {
      right: -25px;
      left: -25px;
    }
    @include media-breakpoint-up(sm) {
      width: 100vw;
      right: auto;
      left: 50%;
      transform: translateX(-50vw);
    }
  }

  &__content {
    width: 100%;
    padding-bottom: 59px;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    font-size: 16px;
    line-height: 17px;
    @include media-breakpoint-up(md) {
      font-size: 18px;
      line-height: 19px;
      &-buttons::after {display: none !important;}
    }
    @include media-breakpoint-up(xl) {
      padding-bottom: 64px;
      font-size: 20px;
      line-height: 22px;
    }
    @include media-breakpoint-up(xxl) {
      padding-bottom: 64px;
      font-size: 22px;
      line-height: 24px;
    }

    &::after {
      @include pseudo;
      width: 76px;
      height: 4px;
      position: absolute;
      left: 0;
      bottom: 0;
      background: $color-orange;
      @include media-breakpoint-up(xxl) {
        left: 10px;
      }
    }
  }

  &__title {
    max-width: 340px;
    margin-bottom: 24px;
    color: rgba(white, .8);
    @include media-breakpoint-up(md) {
      max-width: 360px;
    }
    @include media-breakpoint-up(xl) {
      max-width: 440px;
      margin-top: 38px;
      margin-bottom: 16px;
      color: white;
    }
    @include media-breakpoint-up(xxl) {
      margin-left: 10px;
    }

    p {margin: 0;}

    em {
      font-style: normal;
      text-decoration: underline;
      text-decoration-thickness: .0625em;
      text-underline-offset: .167em;
    }
  }

  &__heading {
    margin: 0;
    position: relative;
    @include media-breakpoint-up(xss) {
      margin-right: -20px;
    }
    @include media-breakpoint-up(md) {
      margin-left: -4px;
    }

    small {
      margin-top: 30px;
      display: block;
      font: 300 16px/18px $font-default;
      color: rgba(white, .8);
      @include media-breakpoint-up(md) {
        width: 260px;
        font-size: 18px;
        line-height: 20px;
        color: black;
        position: absolute;
        right: 110px;
        bottom: 15px;
      }
      @include media-breakpoint-up(xl) {
        width: 300px;
        font-size: 22px;
        line-height: 24px;
        right: 50px;
      }
      @include media-breakpoint-up(xxl) {
        right: 19px;
        bottom: 21px;
      }
    }
  }

  &__buttons {
    margin-top: 33px;
    margin-bottom: -15px;
    position: relative;
    display: flex;
    @include media-breakpoint-up(md) {
      margin: 0;
      position: absolute;
      left: 0;
      bottom: -21px;
      z-index: 5;
    }

    .btn {
      color: white;
      white-space: nowrap;
      text-transform: none;
      min-width: 120px;
      padding: 8px 16px;
      font-size: 12px;
      line-height: 1.35;
      @include media-breakpoint-up(md) {
        min-width: 160px;
        padding: 10px 20px;
        font-size: 14px;
        line-height: 1.4;
      }

      @media (hover: hover) {
        &:hover, &:focus {
          color: white;
        }
      }

      &--arrow {
        &::after {
          -webkit-filter: brightness(400%);
          filter: brightness(400%);
        }
        @media (hover: hover) {
          &:hover, &:focus {
            color: $color-orange;
            &::after {
              -webkit-filter: brightness(100%);
            }
          }
        }
      }

      sup {
        font-size: 100%;
        top: -.25em;
      }

      &.btn--bordered {
        @media (hover: hover) {
          &:hover, &:focus {
            border-color: white;
          }
        }
      }

      & + .btn {
        padding-right: 10px;
        padding-left: 10px;
        margin-left: 8px;
        @include media-breakpoint-up(xss) {
          margin-left: 14px;
        }
        @include media-breakpoint-up(md) {
          padding-right: 24px;
          padding-left: 24px;
          margin-left: 20px;
        }
      }

      span {
        display: none;
        @include media-breakpoint-up(md) {
          display: inline;
        }
      }
    }
  }

  &__tagline {
    margin-top: 8px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.4;
    color: rgba(white, .75);
    @include media-breakpoint-up(md) {
      font-size: 15px;
      margin-top: 10px;
    }
    @include media-breakpoint-up(xl) {
      font-size: 16px;
      margin-top: 12px;
      color: rgba(white, .85);
    }
    @include media-breakpoint-up(xxl) {
      font-size: 17px;
      margin-top: 12px;
    }
    p { margin: 0; }
  }

  &__subheading {
    max-width: 480px;
    margin-top: 30px;
    margin-bottom: 0;
    position: relative;
    color: rgba(white, .8);
    @include media-breakpoint-up(md) {
      max-width: 520px;
      min-height: 38px;
    }
    @include media-breakpoint-up(xl) {
      max-width: 580px;
      min-height: 44px;
      margin-top: 26px;
      color: white;
    }
    @include media-breakpoint-up(xxl) {
      max-width: 650px;
      margin-left: 10px;
      min-height: 48px;
    }
    p {margin: 0;}
  }

  &__scroll {
    width: 32px;
    height: 52px;
    margin-top: -25px;
    margin-left: -60px;
    display: none;
    position: absolute;
    left: 100%;
    top: 50%;
    background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzNCIgaGVpZ2h0PSI1MiIgZmlsbD0ibm9uZSI+PHBhdGggc3Ryb2tlPSIjRjE1RDJGIiBzdHJva2Utd2lkdGg9IjIiIGQ9Ik0xNy41NTcgNTAuNzA3IDEuMjkzIDM0LjQ0NE0xNi4yOTMgNTAuNTU2bDE2LjI2My0xNi4yNjNNMTcgNDlWMCIvPjwvc3ZnPg==') no-repeat center center;
    @include media-breakpoint-up(md) {
      display: block;
      transform: scale(.75);
    }
    @include media-breakpoint-up(xl) {
      margin-top: -21px;
      margin-left: -20px;
      transform: none;
    }
    @include media-breakpoint-up(xxl) {
      margin-left: 20px;
    }
  }

  &__toggle {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 25px;
    right: 0;
    z-index: 3;
    @include media-breakpoint-up(md) {
      right: -10px;
    }
    @include media-breakpoint-up(xl) {
      top: 62px;
    }
    @include media-breakpoint-up(xxl) {
      right: 119px;
    }
    &::before, &::after, span {
      @include pseudo;
      width: 23px;
      height: 2px;
      margin: auto;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      background: white;
      transition: transform $effect, opacity $effect;
      transform: none;
      transform-origin: center;
    }
    &::before {top: 16px;}
    &::after {bottom: 16px;}
  }

  // Homepage version
  &--homepage {
    @include media-breakpoint-up(sm) {
      padding-bottom: 90px;
    }
    @include media-breakpoint-up(xl) {
      padding-top: 193px;
      padding-bottom: 127px;
      margin-bottom: 0;
    }

    &::before {
      background: url('') no-repeat top left;
      @include media-breakpoint-down(lg) {
        height: 600px;
      }
      @include media-breakpoint-down(md) {
        margin-top: -157px;
      }
      @include media-breakpoint-down(sm) {
        margin-top: -77px;
      }
      @include media-breakpoint-up(xl) {
        width: 407px;
        margin-top: -443px;
        margin-left: -407px;
      }
    }

    &::after {
      @include media-breakpoint-up(xxxxl) {
        background-size: auto 1440px;
      }
    }

    .hero__content::after {display: block !important;}

    .hero__heading {
      max-width: 360px;
      @include media-breakpoint-up(md) {
        max-width: 500px;
        font-size: 64px;
        padding-bottom: 10px;
        line-height: 57px;
      }
      @include media-breakpoint-up(xl) {
        max-width: 800px;
        font-size: 64px;
        padding-bottom: 10px;
        line-height: 57px;
      }
      @include media-breakpoint-up(xxl) {
        max-width: 900px;
        font-size: 84px;
        padding-bottom: 10px;
        line-height: 75px;
      }
    }

    .hero__subheading {
      min-height: 0;
      margin-top: 21px;
      margin-bottom: 21px;
      @include media-breakpoint-up(xl) {
        max-width: 700px;
        margin-bottom: 44px;
      }
    }

    .hero__buttons {
      margin: 0;
      margin-bottom: 12px;
      @include media-breakpoint-up(md) {
        position: relative;
        left: auto;
        bottom: auto;
      }
      @include media-breakpoint-up(xl) {
      }
      @include media-breakpoint-up(xxl) {
        .btn.btn--bordered {
          //min-width: 350px;
        }
      }
    }
  }

  // Rounded version
  &--rounded {
    @include media-breakpoint-up(md) {
      min-height: 575px;
      padding-top: 120px;
      padding-bottom: 100px;
      &::before {margin-top: 0;margin-left: -45vw;top: 40%;}
      &::after {width: 94vw;border-radius: 0 380px 380px 300px;background-position: right bottom;transform: translateX(-60vw);}
      .hero__content {
        max-width: 580px;padding-bottom: 0;
        &::after {bottom: -50px;left: 4px;}
      }
      .hero__heading {min-height: 228px;display: flex;align-items: center}
      .hero__subheading {min-height: 0;margin-top: 26px;margin-left: 2px;}
      .hero__buttons {margin-top: 26px;position: relative;bottom: 0;}
    }
    @include media-breakpoint-up(lg) {
      &::before {margin-left: -51.25vw;top: 32%;}
      &::after {width: 85vw;}
    }
    @include media-breakpoint-up(xl) {
      min-height: 690px;
      padding-top: 165px;
      padding-bottom: 125px;
      &::before {top: 165px;}
      &::after {width: 80vw;border-radius: 0 345px 345px 320px;background-position: right bottom;transform: translateX(-60vw);}
      .hero__content::after {bottom: -65px;}
      .hero__heading {min-height: 264px;}
      .hero__subheading {margin-top: 22px;}
      .hero__buttons {
        margin-top: 34px;
        .btn {min-width: 170px;}
      }
    }
    @include media-breakpoint-up(xxl) {
      min-height: 764px;
      padding-top: 153px;
      padding-bottom: 178px;
      &::before {margin-left: -739px;}
      &::after {width: 76.75vw;border-radius: 0 367px 387px 454px;}
      .hero__content {max-width: 760px;}
      .hero__heading {min-height: 297px;}
    }
    @include media-breakpoint-up(xxxxl) {
      &::after {width: 1474px;transform: translateX(-1152px);}
    }
  }

  // Right version
  &--right {
    @include media-breakpoint-up(md) {
      min-height: 416px;
      padding-top: 120px;
      padding-bottom: 80px;
      color: black;
      &::before {margin-top: 0;margin-left: -64.5vw;top: -440px;}
      &::after {width: 66.25vw;border-radius: 470px 0 290px 430px;top: -200px;left: 63.75%;background-position: left bottom;transform: none;}
      .hero__content {
        max-width: 540px;padding-bottom: 0;
        &::after {bottom: -80px;left: 4px;}
      }
      .hero__heading {min-height: 152px;display: flex;align-items: center;color: inherit;}
      .hero__subheading {min-height: 0;margin-top: 26px;margin-left: 2px;color: inherit;}
    }
    @include media-breakpoint-up(lg) {
      &::after {width: 61.25vw;left: 48.75%;}
    }
    @include media-breakpoint-up(xl) {
      min-height: 555px;
      padding-top: 170px;
      &::before {top: -360px;}
      .hero__content::after {bottom: -83px;}
      .hero__heading {min-height: 176px;}
      .hero__subheading {margin-top: 30px;}
    }
    @include media-breakpoint-up(xxl) {
      padding-top: 189px;
      padding-bottom: 83px;
      &::before {top: -303px;}
      .hero__heading {min-height: 198px;}
      .hero__subheading {margin-top: 37px;}
    }
    @include media-breakpoint-up(xxxxl) {
      &::after {width: 976px;transform: translateX(0);}
    }
  }

   // Right thanks version
   &--rightthanks {
    @include media-breakpoint-up(md) {
      padding-top: 120px;
      padding-bottom: 80px;
      color: black;
      &::before {margin-top: 0;margin-left: -64.5vw;top: -440px;}
      &::after {width: 66.25vw;border-radius: 470px 0 290px 430px;top: -200px;left: 63.75%;background-position: left bottom;transform: none;}
      .hero__content {
        max-width: 540px;padding-bottom: 0;
        &::after {bottom: -80px;left: 4px;}
      }
      .hero__heading {min-height: 152px;display: flex;align-items: center;color: inherit;}
      .hero__subheading {min-height: 0;margin-top: 26px;margin-left: 2px;color: inherit;}
    }
    @include media-breakpoint-up(lg) {
      &::after {width: 61.25vw;left: 48.75%;}
    }
    @include media-breakpoint-up(xl) {
      padding-top: 170px;
      &::before {top: -360px;}
      .hero__content::after {bottom: -83px;}
      .hero__heading {min-height: 176px;}
      .hero__subheading {margin-top: 30px;}
    }
    @include media-breakpoint-up(xxl) {
      padding-top: 189px;
      padding-bottom: 83px;
      &::before {top: -303px;}
      .hero__heading {min-height: 198px;}
      .hero__subheading {margin-top: 37px;}
    }
    @include media-breakpoint-up(xxxxl) {
      &::after {width: 976px;transform: translateX(0);}
    }
  }


  // Smaller version
  &--smaller {
    .hero__heading {
      @include media-breakpoint-down(md) {
        font-size: 42px;
        @include media-breakpoint-up(xsm) {
          font-size: 50px;
        }
      }
    }
  }

  // Right version
  &--align {
    padding-top: 130px;
    @include media-breakpoint-up(xl) {
      padding-top: 167px;
      padding-bottom: 140px;
    }

    .hero__heading span {
      @include media-breakpoint-up(md) {
        white-space: nowrap;
      }
    }

    .hero__buttons .btn + .btn {
      @include media-breakpoint-up(md) {
        padding-right: 16px;
        padding-left: 16px;
        margin-left: 12px;
      }
    }

    &::after {
      background-position: 65% center;
      @include media-breakpoint-up(xsm) {
        background-position: 55% center;
      }
      @include media-breakpoint-up(sm) {
        background-position: center center;
      }
    }
  }

}

// Globe absolutely positioned on top of hero, on top of everything
.article--with-hero-globe {
  position: relative;
}

.hero-globe-section {
  display: block;
  position: absolute;
  top: 60px;
  right: -20px;
  z-index: 0; // behind hero content (1), in front of background/overlay (0)
  pointer-events: none;
  .hero-globe__frame {
    pointer-events: auto;
    @include media-breakpoint-down(sm) {
      pointer-events: none; // pass through so button is clickable
    }
  }

  @include media-breakpoint-up(md) {
    top: 80px; // align top with bottom of header (header height)
    right: -40px;
    z-index: 10; // on top of hero overlay (0) and content (1)
    @include media-breakpoint-up(xl) {
      top: 100px; // header height at xl
    }
  }
}

.hero-globe__frame {
  box-sizing: border-box;
  width: 320px;
  height: 320px;
  max-width: 100%;
  aspect-ratio: 1 / 1; // globe is a circle, so container stays square
  padding: 16px; // smaller padding for small globe
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-shrink: 0;

  @include media-breakpoint-up(lg) {
    width: 500px;
    height: 500px;
    padding: 20px; // equal on all sides so edges are equi-distant from the globe
  }

  .globe-network-wrapper {
    width: 100%;
    height: 100%;
    margin: 0;
    min-height: 0;
    aspect-ratio: 1 / 1; // inner area square so globe (circle) fits exactly
  }

  .globe-network-canvas {
    width: 100%;
    height: 100%;
    display: block;
  }
}
