/* ==========================================================================
   PARTNERS
   ========================================================================== */
.partners {
  padding: 70px 0;
  @include media-breakpoint-up(xl) {
    padding-top: 100px;
  }
  @include media-breakpoint-up(xxl) {
    padding-top: 145px;
  }

  &__title {
    margin-bottom: 23px;
    font: 600 20px/22px $font-default;
    text-align: center;
    @include media-breakpoint-up(xl) {
      padding-left: 8px;
      margin-bottom: 11px;
      font-size: 22px;
      line-height: 24px;
      text-align: left;
    }
  }

  &__heading {
    margin-bottom: 74px;
    text-align: center;
    @include media-breakpoint-up(xl) {
      margin-bottom: 87px;
      text-align: left;
    }
  }

  &__logos {
    margin: 0 -15px -30px;
    position: relative;
    overflow: hidden;
    @include media-breakpoint-up(xss) {
      margin-right: -25px;
      margin-left: -25px;
    }
    @include media-breakpoint-up(md) {
      margin-right: 0;
      margin-bottom: -15px;
      margin-left: 0;
    }
    @include media-breakpoint-up(lg) {
      margin-bottom: 0;
    }

    .swiper {
      padding-bottom: 45px;
      margin: 0 -90px;
      @include media-breakpoint-up(sm) {
        margin: 0;
      }
      @include media-breakpoint-up(md) {
        padding-right: 30px;
        padding-bottom: 40px;
        padding-left: 30px;
      }
      @include media-breakpoint-up(lg) {
        padding-bottom: 0;
      }
    }

    .swiper-wrapper {
      align-items: center;
    }

    .swiper-slide {
      padding: 0 15px;
      text-align: center;
      &:nth-child(n+2) {display: none;}

      a {
        max-width: 100%;
        display: inline-block;
        @include user-select;
        @include media-breakpoint-up(md) {
          max-width: none;
        }
      }

      img {
        max-width: 100%;
        height: auto;
        margin: 0 auto;
        display: block;
        @include user-select;
      }
    }


    .swiper-button-prev {
      left: -20px;
      @include media-breakpoint-up(lg) {
        left: -5px;
      }
    }
    .swiper-button-next {
      right: -20px;
      @include media-breakpoint-up(lg) {
        right: -5px;
      }
    }

    .swiper-button-prev, .swiper-button-next {
      --swiper-navigation-color: #f15d2f;
      display: none;
      @include media-breakpoint-up(sm) {
        display: flex;
      }

      &:after {
        font-size: 20px;
        @include media-breakpoint-up(md) {
          font-size: 26px;
        }
        @include media-breakpoint-up(xl) {
          font-size: 34px;
        }
      }

      &.swiper-button-disabled {
        opacity: 0;
      }
    }

    &.init .swiper-slide:nth-child(n+2) {
      display: block;
    }

    .swiper-pagination-bullets {
      bottom: -5px;
      @include media-breakpoint-up(lg) {
        display: none;
      }
      .swiper-pagination-bullet {background: $color-orange;}
    }
  }
}
