/* ==========================================================================
   PRICING
   ========================================================================== */
.pricing {
  position: relative;
  z-index: 1;

  & ~ .download {
    padding-top: 17px;
    padding-bottom: 20px;
  }

  &__header {
    text-align: center;
  }

  &__title {
    margin-bottom: 20px;
    font: 600 20px/22px $font-default;
    @include media-breakpoint-up(xl) {
      margin-bottom: 33px;
      font-size: 22px;
      line-height: 24px;
    }
  }

  &__heading {
    margin-bottom: 0;
  }

  &__include {
    margin-top: 50px;
    margin-bottom: 0;
    text-align: center;
    @include media-breakpoint-up(md) {
      display: flex;
      justify-content: center;
      text-align: left;
    }
    @include media-breakpoint-up(xl) {
      margin-top: 57px;
    }

    dd {
      margin-left: 0;
      margin-bottom: 20px;
      font-size: 20px;
      line-height: 20px;
      font-weight: 600;
      @include media-breakpoint-up(md) {
        width: 207px;
        margin-bottom: 0;
        font-size: 25px;
        line-height: 22px;
      }
    }

    dt {
      @include media-breakpoint-up(md) {
        width: 322px;
      }
    }

    ul {
      padding: 0;
      margin: -6px 0 0;
      font-size: 17px;
      line-height: 26px;
      list-style: none;
    }
  }

  &__switch {
    max-width: 340px;
    padding: 92px 0 0;
    margin: 40px auto 50px;
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    color: #d9d9d9;
    list-style: none;
    cursor: default;
    @include user-select;
    @include media-breakpoint-up(xl) {
      margin: 53px auto 73px;
      font-size: 25px;
    }

    label {
      @include pseudo;
      width: 125px;
      height: 62px;
      border-radius: 31px;
      margin: 0 auto;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      background: $color-orange;
      cursor: pointer;

      &::before {
        @include pseudo;
        width: 38px;
        height: 38px;
        border-radius: 19px;
        position: absolute;
        top: 12px;
        left: 12px;
        background: white;
        transition: left $effect;
      }
    }

    span {
      margin: 0 20px;
      transition: color $effect;
      &.active {color: black;}
    }
  }

  &__plan {
    max-width: 340px;
    min-height: 100%;
    padding: 24px 20px 70px;
    border-radius: 30px;
    margin: 0 auto;
    position: relative;
    color: black;
    background: $color-orange;
    @include media-breakpoint-up(md) {
      margin-right: -10px;
      margin-left: -10px;
    }
    @include media-breakpoint-up(lg) {
      margin-right: auto;
      margin-left: auto;
    }
    @include media-breakpoint-up(xl) {
      padding: 54px 23px 98px;
    }

    &s {
      .col + .col {
        padding-top: 30px;
        @include media-breakpoint-up(md) {
          padding-top: 0;
        }
      }
    }

    &-title, &-description {
      margin-bottom: 20px;
      font-size: 20px;
      line-height: 20px;
      font-weight: 600;
      @include media-breakpoint-up(xl) {
        margin-bottom: 30px;
        font-size: 25px;
        line-height: 22px;
      }
    }

    &-description {
      @include media-breakpoint-up(md) {
        min-height: 80px;
      }
      @include media-breakpoint-up(lg) {
        min-height: 60px;
      }
      @include media-breakpoint-up(xl) {
        min-height: 66px;
      }
    }

    &-get-in-touch {
      font-size: 40px;
      line-height: 36px;
      font-weight: 600;
      @include media-breakpoint-up(xl) {
        margin-top: 35px;
        font-size: 60px;
        line-height: 54px;
      }
    }

    &-price {
      margin-top: 30px;
      margin-bottom: 30px;
      position: relative;
      font-size: 64px;
      line-height: 60px;
      font-weight: 600;
      @include media-breakpoint-up(xl) {
        margin-top: 72px;
        margin-bottom: 37px;
        font-size: 89px;
        line-height: 80px;
      }

      span {
        display: block;
        position: relative;
        &::before {
          content: '$';
          font-size: 40px;
          line-height: 36px;
          @include media-breakpoint-up(xl) {
            margin-left: -5px;
            font-size: 60px;
            line-height: 56px;
          }
        }
        &::after {
          margin-left: 4px;
          content: '/mo';
          position: relative;
          top: -3px;
          font-size: 12px;
          line-height: 14px;
          font-weight: normal;
          text-transform: uppercase;
          @include media-breakpoint-up(xl) {
            margin-left: 11px;
            font-size: 13px;
            top: -5px;
          }
        }
      }

      &-yearly {
        font-size: 12px;
        line-height: 14px;
        font-weight: normal;
        display: block !important;
        position: absolute;
        top: 100%;
        left: 0;
        transition: opacity $effect;
        @include media-breakpoint-up(xl) {
          margin-top: 5px;
          font-size: 14px;
        }
      }
    }

    &-features {
      font-size: 14px;
      line-height: 20px;
      @include media-breakpoint-up(xl) {
        font-size: 17px;
        line-height: 26px;
      }
      p {margin-bottom: 0;}
    }

    &-action {
      position: absolute;
      right: 20px;
      bottom: 16px;
      left: 20px;
      text-align: center;
      @include media-breakpoint-up(xl) {
        bottom: 20px;
      }
    }

    .btn {
      min-width: 190px;
      padding-top: 10px;
      padding-bottom: 10px;
      border-radius: 24px;
      display: inline-block;
      font-size: 15px;
      line-height: 24px;
      color: black;
      background: white;
      cursor: pointer;
      @include media-breakpoint-up(xl) {
        padding-top: 14px;
        padding-bottom: 14px;
        border-radius: 30px;
        font-size: 16px;
      }
    }
  }

  &__checkbox {
    margin-top: 40px;
    position: absolute;
    left: 50%;
    visibility: hidden;
    &:not(:checked) {
      ~ .pricing__switch .yearly {color: black;}
      ~ .pricing__plans .monthly {display: none;}
      ~ .pricing__plans .pricing__plan-price-yearly {opacity: 1;}
    }

    &:checked {
      ~ .pricing__switch label::before {left: 75px;}
      ~ .pricing__switch .monthly {color: black;}
      ~ .pricing__plans .yearly {display: none;}
      ~ .pricing__plans .pricing__plan-price-yearly {opacity: 0;}
    }
  }
}
