/* ==========================================================================
   SOCIAL
   ========================================================================== */
.social {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  @include user-select;

  li {
    margin-left: 48px;
    &:first-child {margin-left: 0;}
  }

  a {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (hover: hover) {
      &:hover, &:focus {
        svg path {fill: black;}
      }
    }
  }

  svg {
    display: block;
    path {
      fill: $color-orange;
      transition: fill $effect;
    }
  }
}
