/* ==========================================================================
   STORY
   ========================================================================== */
.story {
  margin-bottom: 80px;
  @include media-breakpoint-up(md) {
    margin-bottom: 100px;
  }
  @include media-breakpoint-up(xl) {
    margin-bottom: 120px;
  }

  .main > .container > &:last-child {
    margin-bottom: 80px;
  }

  &__content {
    @include media-breakpoint-up(xl) {
      padding-right: 40px;
    }
    @include media-breakpoint-up(xxl) {
      padding-right: 50px;
    }
    > h4:not([class]) {margin-bottom: 12px;}
    > p + h4:not([class]) {margin-top: 30px;}
    //> p:last-child {margin-bottom: 0;}

    br + br {
      @include media-breakpoint-down(xxl) {
        display: none;
      }
    }
  }

  &__title {
    margin-bottom: 24px;
    font: 600 20px/22px $font-default;
    @include media-breakpoint-up(xl) {
      margin-bottom: 21px;
      font-size: 22px;
      line-height: 24px;
    }
  }

  &__heading {
    margin-bottom: 22px;
    @include media-breakpoint-up(xxl) {
      margin-right: -50px;
    }
  }

  &__icon {
    width: auto;
    height: 50px;
    margin: -12px 0 -4px 16px;
    display: inline-block;
    vertical-align: middle;
    @include user-select;
    @include media-breakpoint-up(xl) {
      height: 64px;
      margin-left: 25px;
    }
    @include media-breakpoint-up(xxl) {
      height: 76px;
      margin: -16px 0 0 30px;
    }
  }

  &__buttons {
    margin-top: 22px;
    display: flex;
    @include media-breakpoint-up(md) {
      margin-top: 33px;
    }

    .btn {
      & + .btn {
        margin-left: 10px;
        @include media-breakpoint-up(sm) {
          margin-left: 20px;
        }
        @include media-breakpoint-up(xl) {
          margin-left: 40px;
        }
      }

      &--arrow {
        left: 0;
      }
    }
  }

  &__image {
    margin: 0 auto 30px;
    position: relative;
    display: block;
    @include media-breakpoint-up(md) {
      max-width: 580px;
      margin-bottom: 60px;
    }
    @include media-breakpoint-up(lg) {
      max-width: none;
      margin-right: 0;
      margin-bottom: 0;
      margin-left: 0;
    }

    img {
      width: 100%;
      max-width: 100%;
      height: auto;
      margin: 0 auto;
      display: block;
      @include user-select;
    }

    &.circle, &.oval {
      img {
        max-width: 272px;
        border-radius: 136px;
        @include media-breakpoint-up(sm) {
          max-width: 300px;
          border-radius: 150px;
        }
        @include media-breakpoint-up(md) {
          max-width: 360px;
          border-radius: 180px;
        }
        @include media-breakpoint-up(lg) {
          max-width: 390px;
          border-radius: 195px;
        }
        @include media-breakpoint-up(xl) {
          max-width: 420px;
          border-radius: 210px;
        }
      }
    }
    &.circle {
      img {
        @include media-breakpoint-up(xxl) {
          max-width: 461px;
          border-radius: 50%;
        }
      }
    }
    &.oval {
      @include media-breakpoint-up(xxl) {
        img {
          max-width: 477px;
          border-radius: 239px;
        }
      }
    }

    &.network {
      @include media-breakpoint-up(lg) {
        padding-right: 30px;
      }
      @include media-breakpoint-up(xl) {
        padding-right: 37px;
      }
      img {
        @include media-breakpoint-up(lg) {
          width: 840px;
          max-width: none;
          height: auto;
          display: block;
          float: right;
        }
        @include media-breakpoint-up(xl) {
          width: 960px;
        }
        @include media-breakpoint-up(xxl) {
          width: 1050px;
          height: 604px;
        }
      }
    }

    &.network-wide {
      @include media-breakpoint-up(xxl) {
        margin-bottom: -155px;
        margin-left: -64px;
      }
      img {
        @include media-breakpoint-up(xxl) {
          width: 737px;
          max-width: none;
          height: auto;
        }
      }
    }
    &.cli-full {
      @include media-breakpoint-up(xxl) {
        margin-top: -120px;
        margin-left: -40px;
        margin-bottom: -40px;
      }
      img {
        @include media-breakpoint-up(xxl) {
          width: 625px;
          max-width: none;
          height: auto;
        }
      }
    }
    &.vault-full {
      img {
        @include media-breakpoint-up(lg) {
          width: 800px;
          max-width: none;
          height: auto;
        }
        @include media-breakpoint-up(xl) {
          width: 954px;
          margin-left: 20px;
        }
      }
    }
    &.network-full {
      img {
        @include media-breakpoint-up(lg) {
          width: 860px;
          max-width: none;
          height: auto;
        }
        @include media-breakpoint-up(xl) {
          width: 1093px;
          margin-left: 20px;
        }
      }
    }
  }

  &__video {
    max-width: 360px;
    margin: 0 auto 45px;
    position: relative;
    @include media-breakpoint-up(md) {
      max-width: 572px;
    }
    @include media-breakpoint-up(lg) {
      margin: 0;
    }
    @include media-breakpoint-up(xxl) {
      top: 24px;
      left: 2px;
    }

    a {
      display: block;
    }

    img {
      width: 100%;
      max-width: 100%;
      height: auto;
      margin: 0 auto;
      display: block;
      @include user-select;
    }
  }

  &__teams {
    margin-bottom: 40px;
    position: relative;
    @include media-breakpoint-up(sm) {
      max-width: 530px;
      margin-right: auto;
      margin-bottom: 30px;
      margin-left: auto;
      display: flex;
      flex-wrap: wrap;
    }
    @include media-breakpoint-up(md) {
      margin-bottom: 0;
    }
    @include media-breakpoint-up(xl) {
      margin-top: 26px;
      left: 45px;
    }

    &::before {
      @include pseudo;
      width: 460px;
      height: 600px;
      display: none;
      position: absolute;
      top: -100px;
      left: 0;
      z-index: 0;
      background: url('#{$img}/pattern.svg') no-repeat top left;
      background-size: 535px auto;
      opacity: .6;
      transform: rotate(-90deg);
      @include media-breakpoint-up(lg) {
        display: block;
      }
      @include media-breakpoint-up(xl) {
        left: 14px;
      }
    }

    &-person {
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      flex-basis: 50%;
      position: relative;
      z-index: 1;
      cursor: default;
      @include media-breakpoint-up(sm) {
        padding: 15px 0;
        margin-bottom: 9px;
        flex-direction: column;
        text-align: center;
        justify-content: center;
      }
      @include media-breakpoint-up(xl) {
        padding: 30px 0;
      }
    }

    &-photo {
      width: 108px;
      height: 108px;
      display: block;
      @include media-breakpoint-up(sm) {
        width: 145px;
        height: 145px;
        margin: 0 0 16px;
      }

      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        display: block;
        object-fit: cover;
        @include user-select;
      }
    }

    &-title {
      margin-bottom: 0;
      margin-left: 17px;
      font-size: 13px;
      line-height: 14px;
      @include media-breakpoint-up(sm) {
        margin: 0;
      }
    }
  }

  // Homepage version
  &--homepage {
    .story__image {
      @include media-breakpoint-up(lg) {
        width: 50vw;
        margin-left: -15px;
        overflow: hidden;
        img {
          width: 900px;
          max-width: none;
        }
      }
      @include media-breakpoint-up(xxl) {
        margin-bottom: -100px;
        img {
          width: 1220px;
        }
      }
    }

    & + .story + .story {
      @include media-breakpoint-up(xl) {
        margin-bottom: 110px;
      }
    }
  }

  // Homepage version
  &--homepage-l {
    .story__image {
      @include media-breakpoint-up(lg) {
        width: 50vw;
        margin-left: -15px;
        overflow: hidden;
        img {
          width: 900px;
          max-width: none;
        }
      }
      @include media-breakpoint-up(xxl) {
        margin-bottom: -100px;
        img {
          width: 1220px;
        }
      }
    }

    & + .story + .story {
      @include media-breakpoint-up(xl) {
        margin-bottom: 110px;
      }
    }
  }

  // Stories version
  .stories > .row > .col:nth-child(2) & {
    @include media-breakpoint-up(xl) {
      padding-left: 42px;
    }
  }
  .stories & {
    > .row {
      display: block !important;
      > .col {width: 100% !important;}
    }

    .story__image {
      @include media-breakpoint-up(lg) {
        margin-bottom: 40px;
        img {width: auto;max-width: none;height: 270px;}
      }
      @include media-breakpoint-up(xl) {
        margin-bottom: 62px;
        img {height: 310px;}
      }
      @include media-breakpoint-up(xxl) {
        img {height: 350px;}
        &.cli img {margin-left: -20px;}
        &.vault img {margin-left: 10px;}
      }
    }
  }

  // Dashed
  &--dash {
    position: relative;
    z-index: 1;

    &::after {
      @include pseudo;
      width: 76px;
      height: 4px;
      position: absolute;
      left: 0;
      bottom: -43px;
      background: $color-orange;
    }
  }

  // App
  &--app {
    > .row {
      display: block !important;
      > .col-lg-6 {width: 100% !important;}
    }
  }

  &--next {
    & + hr {
      @include media-breakpoint-down(lg) {
        display: none;
      }
    }
  }
}
.stories {
  hr {
    @include media-breakpoint-up(lg) {
      display: none;
    }
  }
}