/* ==========================================================================
   STORY
   ========================================================================== */
.story {
  margin-bottom: 100px;
  @include media-breakpoint-up(md) {
    margin-bottom: 130px;
  }
  @include media-breakpoint-up(xl) {
    margin-bottom: 160px;
  }

  &__content {
    @include media-breakpoint-up(xl) {
      padding-right: 40px;
    }
    > h4:not([class]) {margin-bottom: 12px;}
    > p + h4:not([class]) {margin-top: 30px;}
    > p:last-child {margin-bottom: 0;}
  }

  &__title {
    margin-bottom: 25px;
    font: 22px/24px $font-default;
    text-decoration: underline;
    text-decoration-thickness: .0625em;
    text-underline-offset: .167em;
    @include media-breakpoint-up(xl) {
      margin-bottom: 21px;
      margin-left: 6px;
    }
  }

  &__heading {
    margin-bottom: 34px;
    @include media-breakpoint-up(xxl) {
      margin-right: -50px;
    }
  }

  &__icon {
    width: auto;
    height: 50px;
    margin: -12px 0 -4px 16px;
    display: inline-block;
    vertical-align: middle;
    @include user-select;
    @include media-breakpoint-up(xl) {
      height: 64px;
      margin-left: 25px;
    }
    @include media-breakpoint-up(xxl) {
      height: 76px;
      margin: -16px 0 0 30px;
    }
  }

  &__buttons {
    margin-top: 24px;
    display: flex;
    @include media-breakpoint-up(md) {
      margin-top: 34px;
    }


    .btn {
      & + .btn {
        margin-left: 10px;
        @include media-breakpoint-up(sm) {
          margin-left: 20px;
        }
        @include media-breakpoint-up(xl) {
          margin-left: 40px;
        }
      }
    }
  }

  &__image {
    margin: 0 auto 45px;
    position: relative;
    display: block;
    @include media-breakpoint-up(md) {
      max-width: 580px;
      margin-bottom: 60px;
    }
    @include media-breakpoint-up(lg) {
      max-width: none;
      margin-right: 0;
      margin-left: 0;
    }

    img {
      width: 100%;
      max-width: 100%;
      height: auto;
      margin: 0 auto;
      display: block;
      @include user-select;
    }

    &.circle, &.oval {
      img {
        max-width: 272px;
        border-radius: 136px;
        @include media-breakpoint-up(sm) {
          max-width: 300px;
          border-radius: 150px;
        }
        @include media-breakpoint-up(md) {
          max-width: 360px;
          border-radius: 180px;
        }
        @include media-breakpoint-up(lg) {
          max-width: 390px;
          border-radius: 195px;
        }
        @include media-breakpoint-up(xl) {
          max-width: 420px;
          border-radius: 210px;
        }
      }
    }
    &.circle {
      img {
        @include media-breakpoint-up(xxl) {
          max-width: 461px;
          border-radius: 50%;
        }
      }
    }
    &.oval {
      @include media-breakpoint-up(xxl) {
        img {
          max-width: 477px;
          border-radius: 239px;
        }
      }
    }
  }

  &__video {
    max-width: 360px;
    margin: 0 auto 45px;
    position: relative;
    @include media-breakpoint-up(md) {
      max-width: 572px;
    }
    @include media-breakpoint-up(lg) {
      margin: 0;
    }
    @include media-breakpoint-up(xxl) {
      top: 24px;
      left: 2px;
    }

    a {
      display: block;
    }

    img {
      width: 100%;
      max-width: 100%;
      height: auto;
      margin: 0 auto;
      display: block;
      @include user-select;
    }
  }

  &__gallery {
    margin: 0 -15px 50px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    @include media-breakpoint-up(xss) {
      margin-right: -25px;
      margin-left: -25px;
    }
    @include media-breakpoint-up(sm) {
      width: 100vw;
      margin-right: 0;
      margin-left: 0;
      right: auto;
      left: 50%;
      transform: translateX(-50vw);
    }
    @include media-breakpoint-up(md) {
      width: auto;
      max-width: 560px;
      margin-right: auto;
      margin-left: auto;
      left: auto;
      display: block;
      transform: none;
    }
    @include media-breakpoint-up(lg) {
      max-width: none;
      margin-top: -50px;
      margin-right: 0;
      margin-bottom: 0;
      margin-left: 0;
      overflow: visible;
    }
    @include media-breakpoint-up(xl) {
      margin-top: -80px;
      margin-right: -25px;
      margin-left: -25px;
    }
    @include media-breakpoint-up(xxl) {
      margin-top: -125px;
      margin-right: -45px;
      margin-left: -25px;
    }

    &::before {
      @include pseudo;
      width: 428px;
      height: 555px;
      display: none;
      position: absolute;
      top: -127px;
      left: -33px;
      z-index: 0;
      background: url('#{$img}/pattern.svg') no-repeat top left;
      background-size: 535px auto;
      opacity: .6;
      @include media-breakpoint-up(xl) {
        display: block;
      }
    }
    &::after {@include clearfix;}

    &-image {
      width: 294px;
      margin-left: 48px;
      flex-grow: 0;
      flex-shrink: 0;
      position: relative;
      z-index: 1;
      @include media-breakpoint-up(md) {
        margin-left: 0;
      }

      &:nth-child(1) {
        margin-left: 160px;
      }

      @include media-breakpoint-up(md) {
        &:nth-child(1) {width: 437px;margin-left: 0;float: left;}
        &:nth-child(2) {width: 239px;margin-top: -60px;float: right;}
        &:nth-child(3) {width: 239px;margin-top: -40px;margin-left: 135px;float: left;clear: both;}
      }
      @include media-breakpoint-up(lg) {
        &:nth-child(1) {width: 380px;}
        &:nth-child(2) {margin-top: -55px;}
        &:nth-child(3) {margin-top: -40px;margin-left: 85px;}
      }
      @include media-breakpoint-up(xl) {
        &:nth-child(1) {width: 437px;}
      }
      @include media-breakpoint-up(xxl) {
        &:nth-child(2) {margin-top: 209px;}
        &:nth-child(3) {margin-top: -14px;margin-left: 186px;}
      }

      img {
        width: 100%;
        height: auto;
        border: 1px solid #eee;
        border-radius: 15px;
        display: block;
        object-fit: cover;
        @include user-select;
      }
    }
  }

  &__teams {
    margin-bottom: 40px;
    position: relative;
    @include media-breakpoint-up(sm) {
      max-width: 530px;
      margin-right: auto;
      margin-bottom: 30px;
      margin-left: auto;
      display: flex;
      flex-wrap: wrap;
    }
    @include media-breakpoint-up(md) {
      margin-bottom: 0;
    }
    @include media-breakpoint-up(xl) {
      margin-top: 30px;
      left: 43px;
    }

    &::before {
      @include pseudo;
      width: 421px;
      height: 555px;
      display: none;
      position: absolute;
      top: -66px;
      left: 0;
      z-index: 0;
      background: url('#{$img}/pattern.svg') no-repeat top left;
      background-size: 535px auto;
      opacity: .6;
      transform: rotate(-90deg);
      @include media-breakpoint-up(lg) {
        display: block;
      }
      @include media-breakpoint-up(xl) {
        left: 14px;
      }
    }

    &-person {
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      flex-basis: 50%;
      position: relative;
      z-index: 1;
      @include media-breakpoint-up(sm) {
        padding: 15px 0;
        margin-bottom: 5px;
        flex-direction: column;
        text-align: center;
        justify-content: center;
      }
      @include media-breakpoint-up(xl) {
        padding: 30px 0;
      }
    }

    &-photo {
      width: 108px;
      height: 108px;
      display: block;
      @include media-breakpoint-up(xss) {
        margin-left: -3px;
      }
      @include media-breakpoint-up(sm) {
        width: 145px;
        height: 145px;
        margin: 0 0 18px;
      }

      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        display: block;
        object-fit: cover;
        @include user-select;
      }
    }

    &-title {
      margin: 0 0 14px 17px;
      font-size: 15px;
      line-height: 16px;
      text-decoration: underline;
      text-decoration-thickness: .0625em;
      text-underline-offset: .167em;
      @include media-breakpoint-up(sm) {
        margin: 0;
      }
    }
  }

  // Homepage version
  .hero--homepage ~ .headline + .story + .story + & {
    @include media-breakpoint-up(xl) {
      margin-bottom: 110px;
    }
  }

  // Stories version
  .stories & {
    .row {
      display: block !important;
      .col {
        width: 100% !important;
      }
    }
    .story__image {
      &.oval {
        @include media-breakpoint-up(xxl) {
          margin: 0 0 47px;
          left: -38px;

          img {
            max-width: 494px;
            border-radius: 247px;
            margin: 0;
          }
        }
      }
    }
    .story__content {
      @include media-breakpoint-up(xxl) {
        padding-right: 60px;
      }
    }
  }


  // Dashed
  &--dash {
    position: relative;
    z-index: 1;

    &::after {
      @include pseudo;
      width: 76px;
      height: 4px;
      position: absolute;
      left: 0;
      bottom: -43px;
      background: $color-orange;
    }
  }
}