/* ==========================================================================
   TEAM
   ========================================================================== */
.team {
  padding-bottom: 73px;
  margin-bottom: 100px;
  position: relative;

  &::after {
    @include pseudo;
    width: 76px;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: $color-orange;
  }

  &__preheading {
    margin-bottom: 39px;
    position: relative;
    top: 1px;
    font: 22px/24px $font-default;
    text-decoration: underline;
    text-decoration-thickness: .0625em;
    text-underline-offset: .167em;
    @include media-breakpoint-up(xl) {
      top: 2px;
    }
  }

  &__heading {
    margin: 0 0 30px;
    font: 600 22px/24px $font-heading;
    text-align: center;
    @include media-breakpoint-up(lg) {
      margin-right: -60px;
      margin-left: -60px;
    }
    @include media-breakpoint-up(xl) {
      margin-right: -100px;
      margin-bottom: 47px;
      margin-left: -100px;
      font-size: 40px;
      line-height: 43px;
    }
    @include media-breakpoint-up(xxl) {
      margin-right: -125px;
      margin-left: -125px;
    }
  }

  &__person {
    padding: 30px 0 43px;
    font-size: 17px;
    line-height: 18px;
    text-align: center;

    &-photo {
      width: 142px;
      height: 142px;
      margin: 0 auto 29px;
      display: block;

      img {
        width: 142px;
        height: 142px;
        border-radius: 50%;
        display: block;
        @include user-select;
      }
    }

    &-name {
      margin-bottom: 16px;
    }

    p {
      margin: 0;
    }
  }
}
