---
layout: default
title: About Diode&#8482;
tagline: To connect devices, people and businesses securely in ways that matter.

about-title: Diode<sup>TM</sup> Web3 Network
about-description: >-
    PKI, the system that we all have relied on to protect web traffic for over 30 years, is broken. The governance structures
    have failed, broken implementations and misuse are spread far beyond repair, and it's weaknesses are exploited through 
    fraud and digital theft every day. Our Diode Chain&trade; software creates a new network designed for smart
    devices. The Diode Network is the first to implement unforgable proof-of-time and network-device authentication
    based on blockchain technology.
    Man-In-The middle attacks become impossible, and security dependencies on third parties are removed. The network has higher 
    security than PKI with much lower overhead and maintenance needs. It is truly autonomous.
    Diode allows developers to build new IoT applications on top of the network, or to migrate existing
    workloads that take advantage of the higher security and lower operating costs.


features-title: What can Diode do for IoT?
features-description:
features:

### Feature 1
- title: Secure Connectivity
  icon: svgs/security.svg
  description: >-
    The Diode Chain software uses unique blockchain authentication that allows devices to directly establish 
    secure connectivity with the blockchain. After connecting, devices have full access to the data protected 
    by the blockchain consensus. Man-In-The-Middle attacks through fake PKI certificates and DNS spoofing
    have no chance.

### Feature 2
- title: Lower Cost
  icon: svgs/lower_cost.svg
  description: >-
    The Diode Network has an inherent monetization system, based on the Diode token.  In combination with Diode Fleet
    contracts, this monetization system creates an IoT resource marketplace where providers compete for business, 
    leading to the lowest possible prices. The blockchain autonomously keeps the controls tight and ensures correct behaviour.


### Feature 3
- title: Streaming Network
  icon: svgs/streaming.svg
  description: >-
    Whether it is video data from a home camera to an end user, or broadcasting messages to thousands of
    endpoints, the Diode Network is a native IoT network providing streaming and storage services for all
    connected devices.
---

{% include header-blockquick.html %}

{% include sections/about.html %}

{% include sections/offer.html offer-text="Follow us on twitter!" button-text="@diode_chain" link="https://twitter.com/diode_chain" %}

{% include sections/features.html %}

{% include sections/offer.html offer-text="Join us on telegram!" button-text="@diode_chain" link="https://t.me/diode_chain" %}

{% include sections/team.html %}

{% include sections/offer.html offer-text="Contact us to buy Diode Tokens, or to license the <a href=\"https://github.com/diodechain\" class=\"underline\" target=\"_blank\">Diode Chain&trade;</a> software!" button-text="Telegram" link="https://t.me/diode_chain" %}
