# Can be put into /etc/systemd/system/
[Unit]
Description=Diode blockchain network client
After=network.target

[Service]
Type=simple
ExecStart=/home/pi/opt/diode/diode publish -public 22:22,80:80,3030:3030
Restart=always
RuntimeMaxSec=38400
User=pi

[Install]
WantedBy=multi-user.target


