---
layout: default
---


{% include sections/about.html %}

{% include sections/offer.html offer-text="Follow us on twitter!" button-text="@diode_chain" link="https://twitter.com/diode_chain" %}

{% include sections/features.html %}

{% include sections/offer-subscribe.html %}

{% include sections/blog.html %}

{% include sections/team.html %}

{% include sections/offer.html offer-text="Contact us to buy Diode Tokens, or to license the <a href=\"https://github.com/diodechain\" class=\"underline\" target=\"_blank\">Diode Chain&trade;</a> software!" button-text="Telegram" link="https://t.me/diode_chain" %}
