---
layout: default

### Hero Section
hero-title: Reclaim your digital sovereignty
hero-subtitle: Share and manage confidential files and connected assets.
hero-description: <span class="company-name">Diode<span>TM</span></span> lets you retain the security and privacy of a local area network while enabling the convenience of remote accessibility - all without IT admins.

hero-xs-title: Reclaim your digital sovereignty
hero-xs-subtitle: Share and manage confidential files and connected assets.
hero-xs-description: <span class="company-name">Diode<span>TM</span></span> lets you retain the security and privacy of a local area network while enabling the convenience of remote accessibility - all without IT admins.

### Feature Section
features:
  ### Feature 1
  - title: Private File Sharing
    description: >-
      Diode Drive enables businesses and individuals to keep files on local systems while unlocking the efficiencies that come with remote collaboration and sharing.  Files are synchronized with authenticated peers, and can be shared publicly or privately without requiring an account.  Collaboration is totally private (no user identity required) and file sharing does not require uploading the file to an intermediate storage environment.
    xs-title: Private File Sharing
    xs-description: Diode Drive enables businesses and individuals to keep files on local systems while unlocking the efficiencies that come with remote collaboration and sharing.  Files are synchronized with authenticated peers, and can be shared publicly or privately without requiring an account.  Collaboration is totally private (no user identity required) and file sharing does not require uploading the file to an intermediate storage environment.
    icon: svgs/remote-work.svg
    link-text: Learn More About Diode Drive
    link-url: products/d-drive/

  ### Feature 2
  - title: Remote Device Management
    description: >-
      The Diode CLI is a small terminal client application that enables a secure remote connection to IoT devices and IT assets.  It is more secure, lighter weight, and easier to manage than a VPN, and removes common attack vectors by reducing the attack surface and eliminating custom IT administration.  Because connectivity is established via the decentralized Diode Network, communications appear like any other secure Internet transmission and remain robust even in hostile environments.
    xs-title: Remote Device Management
    xs-description: The Diode CLI is a small terminal client application that enables a secure remote connection to IoT devices and IT assets.  It is more secure, lighter weight, and easier to manage than a VPN, and removes common attack vectors by reducing the attack surface and eliminating custom IT administration.  Because connectivity is established via the decentralized Diode Network, communications appear like any other secure Internet transmission and remain robust even in hostile environments.
    icon: svgs/data-sovereignity.svg
    link-text: Learn more About Diode CLI
    link-url: products/diode-cli/

  ### Feature 3
  - title: Web3 Hosting and Decentralization
    description: >-
      The Diode Network is the world’s only fully trustless communications network.  It is made possible by the fundamental innovation of the BlockQuick algorithm which enables trustless authentication without large memory or bandwidth requirements.  The Diode Network is enabling next-generation decentralized technologies that are more secure, private, and reliable than today’s brittle, costly, and/or insecure cloud environments.  Our Web2.0 to Web3 bridging technology allows fully decentralized web hosting and services to power today’s Web2.0 top level domains.
    xs-title: Web3 Hosting and Decentralization
    xs-description: The Diode Network is the world’s only fully trustless communications network.  It is made possible by the fundamental innovation of the BlockQuick algorithm which enables trustless authentication without large memory or bandwidth requirements.  The Diode Network is enabling next-generation decentralized technologies that are more secure, private, and reliable than today’s brittle, costly, and/or insecure cloud environments.  Our Web2.0 to Web3 bridging technology allows fully decentralized web hosting and services to power today’s Web2.0 top level domains.
    icon: svgs/no-it-administration.svg
    link-text: See How the Diode Network Can Upgrade the Internet
    link-url: products/diode-network/
---

{% include header.html %} {% include sections/hero.html %} {% include
sections/features.html %} {% include sections/offer.html offer-text="Join the
conversation on Telegram" %} {% include sections/blog.html %}
