<!-- About Section -->
<section class="site-section about-section" id="about">

  <div class="container">
    <!-- Products Header Page Title -->
    <h2 class="site-section__title">{{ page.header-title }}</h2>

    <!-- Products Header Page Description -->
    <h3 class="site-section__description">{{ page.header-description }}</h3>

    <div class="content-container">
        {{ page.text }}
        <div class="action">
          <a class="button button--outline hidden-xs" href="{{ site.links.contact_us }}">CONTACT US </a>
          <a class="button hidden-sm hidden-md hidden-lg" href="{{ site.links.contact_us }}">CONTACT US </a>
        </div>
    </div>
  </div>
</section>

<!-- Team Section -->
<section class="site-section team-section" id="team">
  <div class="container">
    <h3 class="site-section__title--small">
      {{ page.team.title }}
    </h3>
    <p class="site-section__description--small">
      {{ page.team.description }}
    </p>

    <div class="team-card">
      {% for member in page.team.members %}
        <div class="member-col">
          <div class="member-picture">
            <img src="{{ member.picture }}" />
          </div>
          <div class="member-name">
            {{ member.name }}
          </div>
          <div class="member-position">
            {{ member.role }}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

<!-- Story Sections -->
<section class="site-section story-section hidden-xs" id="story">
  <h3 class="section-title">Our Story</h3>
  {% for story in page.stories %}
    <div class="story story--{{ story.style-type }}">
      <div class="container">
        <h4 class="story__title">{{ story.title }}</h4>
        <div class="story__content">
          {{ story.description }}
        </div>

        {% if forloop.index == forloop.length - 1 %}
          <div class="story__action">
            <a class="button button--outline" href="{{ site.links.contact_us }}">CONTACT US</a>
          </div>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</section>

<section class="site-section story-section story-section--xs hidden-sm hidden-md hidden-lg" id="xs_story">
  <h3 class="section-title">Our Story</h3>
  {% for story in page.xs-stories %}
    <div class="story story--{{ story.style-type }}">
      <div class="container">
        <div class="story__content">
          {{ story.description }}
        </div>
      </div>
    </div>
  {% endfor %}
</section>