<script type="text/javascript"> 
function ThankYouRedirect(redirect_link)
{
   var RedirectURL = redirect_link;
   var RedirectPauseSeconds = 2;
   setTimeout("DoTheRedirect('"+RedirectURL+"')",parseInt(RedirectPauseSeconds*1000));
}
   
function DoTheRedirect(url) { window.location=url; }

</script>

<!-- Download Section -->
<section class="site-section download-section" id="download">
    <div class="container hidden-sm hidden-md hidden-lg">
        <!-- Download Page Title -->
        <h2 class="site-section__title">{{ page.header-title }}</h2>
        <!-- Download Description -->
        <h3 class="site-section__description">{{ page.header-description }}</h3>
    </div>
    <!-- Download dDrive -->
    <div id="diode-drive-download" style="position:relative; top:-80px;"></div>
    <div class="download">
        <div class="container">
            <div class="row">
                <div class="download__left col-sm-6 col-md-4">
                    <div class="download-title">
                        <img class="icon" src="{{ site.d-drive.icon }}" />
                        <h2 class="title">{{ site.d-drive.title }} </h2>
                    </div>
                    <p class="hidden-sm hidden-md hidden-lg">{{ site.d-drive.description }}</p>
                    <div class="download-action">
                        <a class="button hide JSButton" id="download_button">Download the Beta</a>
                        <noscript>Select your download:</noscript>
                    </div>
                </div>
                <div class="col-sm-6 col-md-8 hidden-xs">
                    <div class="download-content">
                        <div class="download-description">
                            {{ site.d-drive.description }}
                        </div>
                        <a class="link link--arrow " href="{{ site.d-drive.learn-more }}">LEARN MORE</a>
                    </div>
                </div>
            </div>
            <noscript>
               <div class="row download-list">
                  <div class="col-xs-12">
                     <div class="action-description">
                        <ul class="downloads">
                           {% for download in site.d-drive.downloads %}
                           <li>
                              <a href="{{ site.d-drive.download-base }}{{ download.link }}">{{ download.name }}</a><br/>
                              <span class="sha" style="padding-left:10px;">{{ download.sha }}</span>
                           </li>
                           {% endfor %}
                        </ul>
                     </div>
                     </br>
                     <p>By downloading Diode Drive you accept the <a href="{{ site.links.terms }}" target="_blank">Diode Master Services Agreement</a> 
                     and our <a href="{{ site.links.privacy }}" target="_blank">privacy policy</a>.</p> 
                  </div> 
               </div>
           </noscript>
        </div>
        <div id="download_popup" class="download-popup" style="display: none;">
            <div id="popup" class="popup">
                <div class="popup-title">
                    <img class="icon" src="{{ site.d-drive.icon }}" />
                    <h2 class="title">{{ site.d-drive.title }}</h2>
                    <a id="popup_dismiss">Close</a>
                </div>
                <div class="popup-content">
                    <h3>Get Diode Drive</h3>
                    <p>
                        By downloading Diode Drive you accept the <a href="{{ site.links.terms }}" target="_blank">Diode Master Services Agreement</a> 
                        and our <a href="{{ site.links.privacy }}" target="_blank">privacy policy</a>.
                    </p>

                    {% for download in site.d-drive.downloads %}
                    <a onclick="ThankYouRedirect('{{ site.d-drive.thank-you-for-downloading }}')" class="button hide {{ download.id }}" href="{{ site.d-drive.download-base }}{{ download.link }}">Download Diode Drive for {{ download.name }}</a>
                    {% endfor %}
                    
                    <div class="action-description">
                        All downloads with SHA-1 their checksums:
                        <ul class="downloads">
                            {% for download in site.d-drive.downloads %}
                            <li>
                                <a onclick="ThankYouRedirect('{{ site.d-drive.thank-you-for-downloading }}')" href="{{ site.d-drive.download-base }}{{ download.link }}">{{ download.name }}</a><br/>
                                <span class="sha">{{ download.sha }}</span>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>        
    </div>
    <!-- Download Diode CLI -->
    <div id="diode-cli-download" style="position:relative; top:-80px;"></div>
    <div class="download">
        <div class="container">
            <div class="row">
                <div class="download__left col-sm-6 col-md-4">
                    <div class="download-title">
                        <img class="icon" src="{{ site.diode-cli.icon }}" />
                        <h2 class="title">{{ site.diode-cli.title }} </h2>
                    </div>
                </div>
                <div class="col-sm-6 col-md-8 hidden-xs">
                    <div class="download-content">
                        <div class="download-description">
                            {{ site.diode-cli.description }}
                        </div>
                        <a class="link link--arrow" href="{{ site.diode-cli.learn-more }}">LEARN MORE</a>
                    </div>
                </div>
            </div>

            <div class="row download-command">
                <div class="col-xs-12">
                    <p class="hidden-xs">
                        Copy & paste the line below into a terminal:
                    </p>
                    <p class="hidden-sm hidden-md hidden-lg">
                        Copy & paste below line into a terminal to install the Diode client for your current user on macOS, Linux, Raspberry Pi (or Windows if you have curl).
                    </p>
                    <div class="download-action">
                        <code>
                            <span class="noselect">$ </span>
                            {{ site.diode-cli.download-command }}
                        </code>
                        <div class="action-description hidden-xs">
                            Supported on macOS, Linux, Raspberry Pi (or Windows if you have curl)
                        </div>
                    </div>
                </div>
            </div>
            <hr class="orange" />
            <p>Or manually install in location of your choice</p>
            <div class="row download-choices">
                {% for choice in page.choices %}
                    <div class="col-md-4 col-sm-12">
                        <div class="choice">
                            <div class="choice-title">
                                <div class="circle">
                                    {{forloop.index}}
                                </div>
                                {{choice.title}}
                            </div>
                            <div class="choice-description">
                                {{choice.description}}
                            </div>
                            {% if choice.downloads %}

                            {% for item in site.diode-cli.downloads %}
                            <a class="choice-action hide {{ item.id }}" href="{{ site.diode-cli.download-base }}{{ item.link }}">
                                {{ item.title }}
                            </a>
                            {% endfor %}

                            <div class="choice-downloads">
                                {% for item in site.diode-cli.downloads %}
                                    <a class="download-item" href="{{ site.diode-cli.download-base }}{{ item.link }}">
                                        {{ item.title }}
                                    </a>
                                {% endfor %}
                            </div>
                            {% else %}
                            <code>
                                <span class="noselect">$&nbsp;</span>
                                {{ choice.command }}
                            </code>
                            <div class="choice-hint">
                                {{ choice.hint }}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
