<!-- How-It-Works Section 1 -->
<section class="site-section section-focus how-it-works-section" id="how-it-works-1">
  <div class="container">
    <!-- How-It-Works Page Title -->
    <h2 class="site-section__title">{{ page.header-title }}</h2>
    <!-- How-It-Works Page Description -->
    <h3 class="site-section__description">{{ page.header-description }}</h3>
    <div class="row">
      <iframe class="tutorial" src="{{page.video}}" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="actions hidden-xs">
      <a 
        class="button"
        href="{{ site.links.download }}"
      >
        Download
      </a>
      <a href="{{ site.diode-network.link }}" class="button button--outline">START USING THE NETWORK</a>
      <a href="resources/about" class="link link--arrow">ABOUT US</a>
    </div>
    <div class="actions hidden-sm hidden-md hidden-lg">
      <a class="button" href="{{ site.links.download }}">Download</a>
      <a class="button button--outline" href="resources/about">ABOUT US</a>
    </div>
  </div>
</section>

<!-- How-It-Works Section 2 -->
<section class="site-section section-focus how-it-works-section--2" id="how-it-works-2">
  <div class="container">
    <h3 class="title">
      {{ page.section2.title }}
    </h3>
    <p class="description">
      {{ page.section2.description }}
    </p>
  </div>
</section>

<!-- How-It-Works Section 3 -->
<section class="site-section section-focus how-it-works-section--3" id="how-it-works-3">
  <div class="section-top-container">
    <div class="container">
      <h3 class="title">
        {{ page.section3.title }}
      </h3>
      <p class="description">
        {{ page.section3.description }}
      </p>

      <div class="row">
        {% for item in page.section3.items %}
          {% if forloop.index < 3 %}
            <div class="item-container col-sm-6">
              <div class="item">
                <div class="item-title-wrapper">
                  <img src="images/rect_{{ forloop.index + 1 }}.svg">
                  <h4 class="item-title">
                    {{ item.title }}
                  </h4>
                </div>
                <p class="item-description">{{ item.description }}</p>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="section-bottom-container">
    <div class="container">
      <div class="container__label">Additional key concepts include:</div>
      {% for item in page.section3.items %}
        <div class="item-container">
          {% if forloop.index > 2 %}
            <div class="item">
              <div class="item-title-wrapper">
                <img src="images/rect_{{ forloop.index + 1 }}.svg">
                <h4 class="item-title">
                  {{ item.title }}
                </h4>
              </div>
              <div class="item-description">
                {{ item.description }}
              </div>
            </div>
          {% endif %}
        </div>
      {% endfor %}

    </div>
    <div class="action hidden-xs">
      <a href="prenet/" class="button button--outline">Browse the Network Explorer</a>
    </div>

  </div>
</section>

<!-- How-It-Works Section 4 -->
<section class="site-section section-focus how-it-works-section--4" id="how-it-works-4">
  <div class="container">
    <h3 class="title">
      {{ page.section4.title }}
    </h3>
    <p class="description">
      {{ page.section4.description }}
    </p>
    {% for item in page.section4.items %}
      <div class="row">
        <div class="number">
          {{ forloop.index + 1 }}
        </div>

        <div class="item">
          <h4 class="item-title">
            {{ item.title }}
          </h4>
          <div class="item-description">
            {{ item.description }}
          </div>
        </div>
      </div>
    {% endfor %}
    <div class="action hidden-xs">
      <a href="https://support.diode.io/category/cck0x29491" class="link link--arrow">Start Using the Network</a>
    </div>
  </div>
</section>
