<!-- Offer Section -->
<section class="offer-section">
  <div class="container">

    <div class="col-md-6 col-sm-12">
      <h2>Subscribe to our mailing list</h2>
    </div>
    <div class="col-md-6 col-md-push-0 col-sm-8 col-sm-push-2 col-xs-10 col-xs-push-1">
      <!--[if lte IE 8]>
      <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
      <![endif]-->
      <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
      <script>
        hbspt.forms.create({
          portalId: "508291",
          formId: "c755aa11-5a13-4594-acc4-2e15d8a00224",
          css: '',
          cssRequired: '',
          cssClass: 'newsletter-email-signup',
          submitButtonClass: 'button button-block',
          locale: 'en',
          translations: {
            en: {
              submitText: "Sign Up Now",
            }
          }
        });
      </script>
    </div>

  </div>
</section>