<!-- Docs Sidebar -->
<aside class="site-sidebar">
    <div class="widget search-widget">
        <div class="widget-content">
            <input placeholder="Search" autocomplete="off" id="search"/>
            <script>
                var idx = [
                    {% for doc in site.docs %}
                        ["#{{ doc.url | slugify }}", "{{ doc.content | downcase | strip_html | strip_newline | replace: '"', '' | split: " " | uniq | join: "," }}"],
                        ["#{{ doc.url | slugify }}", "{{ doc.title | downcase | strip_html | strip_newline | replace: '"', '' | split: " " | uniq | join: "," }}"],
                    {% endfor %}
                ];
            </script>
        </div>
    </div>

    <div class="widget toc-widget">
        <div class="widget-content">
            {% assign groups = site.docs | sort: "category" | group_by: "category" %}
            {% for group in groups %}
            <div class="group">
                <h3>
                    {{ group.name }}
                    <span class="arrow"><svg width="24" height="24" viewBox="0 0 24 24"><path fill="#565656" d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z"></path><path d="M0 0h24v24H0z" fill="none"></path></svg></span>
                </h3>
                <ul>
                    {% assign items = group.items | sort: "title" %}
                    {% for doc in items %}
                    <li
                        id="{{ doc.url | slugify }}"
                        {% if doc.url == page.url %}
                        class="current"
                        {% endif %}
                    ><a href=".{{ doc.url }}">{{ doc.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>
    </div>

</aside>