<footer class="footer" role="contentinfo">
    <div class="container">
        <div class="row">
            <div class="col col-12 col-sm-10 col-md-8 col-lg-8">
                {%- include parts/logo.liquid class="footer__logo" -%}
                {%- include parts/nav.liquid class="footer__menu" -%}
            </div>
            <div class="col col-12 col-md-5 col-lg-4 col-xl-3 offset-xl-1">
                {%- include parts/get-in-touch.liquid -%}
                {%- include parts/social.liquid -%}
            </div>
            <div class="col col-12">
                {%- include parts/copyright.liquid class="footer__copyright" -%}
            </div>
        </div>
    </div>
</footer>