<!-- Site Footer -->
<footer class="site-footer" id="footer">
  <div class="container">

    <div class="scrollup-container">
        <div class="footer-logo">
          <img src="images/logo-focus.svg" width="140" alt="Diode - Logo" />
        </div>
        <a id="scrollupButton" class="button scrollup">
          <i class="pe-7s-angle-up"></i>
        </a>
    </div>
    <div class="row">
      <div class="col-xs-12 col-lg-7">
        <div class="footer-menu">
          <!-- Full menu -->
          {% for nav in site.navigation %}
            {% if nav.target %}
            {% elsif nav.subs %}
              <div class="footer-menu__col full-menu" style="order: {{ nav.ft_order }}">
                <a class="footer-link" href="javascript:;">{{ nav.title }}</a>
                <ul>
                  {% for subnav in nav.subs %}
                    {% if subnav.ft_title %}
                    <li>
                      <a href="{{ subnav.link }}">{{ subnav.ft_title }}</a>
                    </li>
                    {% endif %}
                  {% endfor %}
                </ul>
              </div>
            {% else %}
              <div class="footer-menu__col full-menu" style="order: {{ nav.ft_order }}">
                <a  class="footer-link" href="{{ nav.link }}">{{ nav.title }}</a>
              </div>
            {% endif %}
          {% endfor %}

          <!-- Quick menu -->
          <div class="footer-menu__col quick-menu">
            <a class="footer-link" href="javascript:;">QUIK LINKS</a>
              <ul>
                {% for nav in site.quick_links %}
                  <li>
                    <a href="{{ nav.link }}">{{ nav.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            </a>
          </div>

        </div>
      </div>
      <div class="col-xs-12 col-lg-5">
        <div class="footer-socials">
          <a href="{{ site.links.youtube }}" target="_blank"><i class="fab fa-youtube"></i></a>
          <a href="{{ site.links.telegram }}" target="_blank"><i class="fab fa-telegram-plane"></i></a>
          <a href="{{ site.links.twitter }}" target="_blank"><i class="fab fa-twitter"></i></a>
          <a href="{{ site.links.telegram }}" class="mr-5" target="_blank"><i class="fab fa-github"></i></a>
        </div>
      </div>
    </div>

    <div class="row footer-bottom-1">
      <div class="col-xs-12 col-sm-4 col-md-6 col-lg-7">
        <div class="footer-logo">
          <img src="images/logo.svg" width="100" alt="Diode - Logo" />
        </div>
      </div>
      <div class="col-xs-12 col-sm-8 col-md-6 col-lg-5">
        <div class="footer-text">
          <div class="footer-copyright">
            DIODE © 2020, All Rights Reserved
          </div>
          <div class="v-cross"></div>
          <div class="footer-privacy">
            Privacy Policy
          </div>
        </div>
      </div>
    </div>

    <div class="row footer-bottom-2">
      <div class="col-xs-12">
        <div class="footer-text">
          <div class="footer-copyright">
            DIODE © 2020, All Rights Reserved
          </div>
        </div>
      </div>
    </div>

  </div>
</footer>

<!-- Go To Top Button -->
<a href="#home" class="go-to-top-button"><i class="pe-7s-angle-up"></i></a>
