{% if site.data.network_points %}
<div class="globe-network-wrapper" id="globe-network-wrapper">
  <div class="globe-network-canvas" id="globe-network" aria-hidden="true" data-world-map="{{ 'world-map.svg' | prepend: site.path.images | relative_url }}"></div>
  <div class="globe-tooltip" id="globe-network-tooltip" role="tooltip" aria-hidden="true"></div>
</div>
<script src="https://unpkg.com/three@0.160.0/build/three.min.js" defer></script>
<script>
  window.DIODE_NETWORK_POINTS = {{ site.data.network_points | jsonify }};
  {% if site.data.globe_map_config %}window.DIODE_GLOBE_MAP_CONFIG = {{ site.data.globe_map_config | jsonify }};{% endif %}
</script>
<script src="{{ 'globe-network.js' | prepend: site.path.scripts | relative_url }}" defer></script>
{% endif %}
