<header class="header" role="banner">
    <div class="container">
        {%- include parts/brand.liquid -%}
        {%- include parts/logo.liquid class="header__logo" -%}
        {%- if site.nav -%}
            <div id="menu" class="header__nav">
                <div class="header__space">
                    <div class="container">
                        {%- include parts/nav.liquid class="header__menu" -%}
                        {%- include parts/social.liquid -%}
                        {%- include parts/copyright.liquid -%}
                        <a href="#close" class="header__close" aria-label="Hide navigation"></a>
                    </div>
                </div>
            </div>
            {%- include parts/download.liquid class="header__download" -%}
            <a href="#menu" class="header__toggle" aria-label="Show navigation"><span></span></a>
        {% endif %}
    </div>
</header>