<!-- Site Header -->
<header class="site-header" id="home" data-scrollax-parent="true">

  <div class="container">
    <!-- Site Navigation Bar -->
    <div class="row site-navigation-bar parent">
      <!-- Logo -->
      <div class="col-md-2 col-xs-4 logo">
        <a href=""
          ><img
            src="images/logo.svg?{{site.time | date: '%s%N'}}"
            alt="Diode - Logo"
        /></a>
      </div>

      <!-- Toggle Mobile Menu -->
      <div class="col-xs-8 toggle-menu">
        <div class="toggle-menu__actions">
          <a class="nav-link--shortcut" href="{{ site.links.telegram }}" target="_blank"><i class="fab fa-telegram-plane"></i></a>
          <a class="button nav-button" href="resources/download/">Download</a>
        </div>
        <!-- Burger -->
        <div class="navTrigger"><i></i><i></i></div>
      </div>

      <!-- Navigation Bar -->
      <div class="col-sm-10 col-xs-8 navigation-bar">
        <!-- Navigation Menu -->
        <nav id="navMenu" class="nav-menu">
          <ul class="menu">
            {% for nav in site.navigation %}
              {% if nav.is_button %}
                <li class="has-button-nav">
                  <a class="button nav-button" href="{{ nav.link }}">{{ nav.title }}</a>
                </li>
              {% elsif nav.target %}
                <li class="has-target-nav">
                  <a  class="nav-link" href="{{ nav.link }}" target="{{ nav.target }}"
                    >{{ nav.title }}</a
                  >
                </li>
              {% elsif nav.subs %}
                <li class="subnav">
                  <div class="nav-link" data-href="{{ nav.link }}">{{ nav.title }}</div>
                  <div class="subnav-content">
                    <div class="row container">
                      {% for subnav in nav.subs %}
                        <div class="col-sm-4">
                          <a
                            href="{{ subnav.link }}"
                            {% if subnav.target %}
                            target="{{ subnav.target }}"
                            {% endif %}
                          >{{ subnav.title }}</a>
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                </li>
              {% else %}
                <li>
                  <a  class="nav-link" href="{{ nav.link }}">{{ nav.title }}</a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </nav>
      </div>
    </div>
  </div>
  
  <!-- Toggle Mobile Sub Menu -->
  {% for nav in site.navigation %}
    {% if nav.subs %}
      <div class="toggle-submenu" data-parent="{{ nav.link }}">
        <div class="sub-header">
          <div class="container">
            <div class="button-back">
              <i class="pe-7s-angle-left"></i>
            </div>
            <div class="sub-header__title">
              Solution
            </div>
            <div class="button-close">
              <i></i><i></i>
            </div>
          </div>
        </div>
        <div class="sub-menu">
          <div class="container">
            <ul class="subnavs">
              {% for subnav in nav.subs %}
              <li class="subnav">
                <a class="subnav-link" href="{{ subnav.link }}">
                  {{ subnav.title }}
                </a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    {% endif %}
  {% endfor %}
  <!-- Overlay Lightbox -->
  <div id="video_overlay" class="overlay"></div>
</header>
