{%- if include.data -%}
    {% assign data = page[include.data] %}
{% else %}
    {% assign data = page.headline %}
{% endif %}

<section class="headline">
    <div class="headline__content">
        {%- if data.title -%}<h3 class="headline__title">{{ data.title }}</h3>{% endif %}
        {%- if data.text -%}{{ data.text | markdownify }}{% endif %}
    </div>
</section>