<section class="headline">
    <div class="headline__content">
        {%- if include.title -%}<h3 class="headline__title">{{ include.title }}</h3>{% endif %}
        {%- if include.text -%}<p>{{ include.text }}</p>{% endif %}
    </div>
</section>