{%- if include.data -%}
    {% assign stories = include.data | split: ',' %}
{% endif %}

<div class="stories">
    <div class="row">
        {% for story in stories %}
            <div class="col col-12 col-lg-6">
                {%- include story.liquid data=story -%}
            </div>
        {% endfor %}
    </div>
</div>