/**
 *
 *  Blog Section Style
 *
 *  @package gleesik_layout
 *
 **/

section.blog-section {

  .row {
    align-items: initial;
  }

  hr.small {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  // Blog Page
  &.page-layout {
    padding-top: 30px;

    .blog-articles-container {
      margin-top: 0;
    }

    &.no-sidebar {
      .blog-articles-container {
        width: 100%;
      }
    }

    .blog-articles-container > .title {
      text-align: center;
    }

    .blog-articles-container > .subtitle {
      text-align: center;
      margin-top: 1rem;
    }

    article.border-article {

      border: 1px solid gray;
      padding: 1em;
      border-style: dashed;      
    }

    article.blog-article {

      overflow: hidden;

      // Article Boxes
      .article-boxes {
        float: left;
        width: 100%;
        padding: 50px 0;

        section.offer-section {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;
          background-color: $light-gray;
          color: $global-text;
          .button-cta {
            border: 2px solid $primary;
            color: $primary;

            &:hover,
            &:active {
              color: $white;
              background-color: $primary;
            }
          }
        }

        // Box
        .box {
          display: block;
          width: 100%;
          float: left;
          margin-bottom: 30px;

          &:last-child {
            margin-bottom: 0;
          }

          // Title
          span.title {
            float: left;
            color: $secondary;
            font-weight: bold;
            width: 100px;
          }

          @media (max-width: 768px) {
            span.title {
              width: 100%;
              font-size: 1.2rem;
              padding-top: 0;
              margin-bottom: 20px;
            }

            &.share-article {
              background-color: $light-gray;
              width: 100%;
              position: fixed;
              padding: 0.2rem;
              bottom: 0px;
              left: 0px;
              z-index: 99999999999;
              .social-icons {
                width: 100%;
              }
              ul {
                display: flex;
                margin: 0;
                li {
                  flex-grow: 1;
                }
                a {
                  display: flex;
                  justify-content: center;
                  box-pack: center;
                  font-size: 2.5rem;
                }
              }
            }
          }

          .box-content {
            float: left;
          }
        }

        // Tags Article
        .tags-article {
          span.title {
            padding-top: 8px;
          }
        }
      }
    }
  }

  // Blog Articles Container
  .blog-articles-container {
    // width: 100%;
    margin-top: 80px;
    align-items: initial;

    // Resonsive Media
    .col-md-4 {
      @media (max-width: 430px) {
        width: 100%;
        left: 0;
      }
    }

    // Blog Article
    article.blog-article {
      position: relative;
      width: 100%;
      max-width: 700px;
      margin: 0 auto;
      @media (max-width: 992px) {
        max-width: 100%;
      }
      margin-bottom: 30px;

      img {
        max-width: 100%;
        margin: 0 auto;
      }

      &.blog-single-page {
        header.article-header {
          .article-title {
            // margin: 50px 0;

            h3.title {
              color: $secondary;
              font-size: 2rem;
            }
          }
        }
      }

      // Article Header
      header.article-header {
        display: block;
        position: relative;
        width: 100%;
        float: left;

        .article-author {
          .avatar {
            width: 38px;
            height: 38px;
            background-size: auto 100%;
            background-position: 50%;
            background-repeat: no-repeat;
            background-color: transparent;
            display: inline-block;
            vertical-align: top;
            border-radius: 50%;
            margin-right: 10px;
            position: relative;
            bottom: 8px;            
          }
        }

        .article-date {
          float: right;
        }

        .img-wrap {
          max-width: 100%;
          height: auto;
          margin-bottom: 1em;

          a {
            width: 100%;
          }

          img.preview {
            object-fit: cover;
            max-height: 400px;
            width: 100%;

            @media (max-width: 992px) {
              object-fit: cover;
              height: 200px;
            }    
          }

          img.vertical-preview {
            object-fit: contain;
            object-position: center;
            height: 250px;
            width: 100%;

            @media (max-width: 992px) {
              height: 200px;
            }    
          }


          img.top {
            object-position: top;
          }
          img.bottom {
            object-position: bottom;
          }
          img.center {
            object-position: center;
          }
          img.cover {
            object-fit: cover;
          }
          img.contain {
            object-fit: contain;
          }
          img.fill {
            object-fit: fill;
          }
          img.none {
            object-fit: none;
          }
        }

        .article-title {
          display: block;
          width: 100%;
          margin: 30px 0;

          h3.title {
            font-size: 1.6rem;
            line-height: 1.4;
            text-transform: uppercase;
            margin-bottom: 10px;

            a {
              color: $secondary;

              &:hover,
              &:active {
                color: $primary;
              }
            }
          }

          h4.category {
            color: $primary;
            text-transform: capitalize;
          }
        }

      }

      // Article Content
      .article-content {
        font-size: 21px;
        display: block;
        position: relative;
        float: left;
        width: 100%;

        @media (max-width: 992px) {
          font-size: $global-font-size;
        }

        strong {
          color: black;
        }

        table {
          border: 1px solid black;
          margin: 1em auto;
        }

        td, th {
          padding: 0.3em;
          &.red {
            background-color: #ea9999;
          }
          &.green {
            background-color: #b6d7a8;
          }
          &.yellow {
            background-color: #f1c232;
          }
        }

        th {
          color: $secondary;
          font-weight: normal;
          background-color: $light-gray;
        }

        .math {
          display: block;
          font-family: 'Times New Roman', serif;
          background-color: #f3f3f3;
          font-size: 0.9em;
          padding: 1em;
          margin: 1em;
        }

        pre {
          // This is an ugly hack, but I can't find a way right now
          // to make scaling to small screens work for 
          // http://localhost:3000/diode/4-steps-to-hosting-a-decentralized-static-website-using-ens-and-ipfs-19350/
          max-width: 80vw;
        }

        iframe {
          max-width: 100%;
        }

        em, i {
          background-color: $light-orange;
        }

        ol {
          list-style: decimal;
          margin: 1em 1em 1em 1.2em;
          line-height: 1.2em;
          padding-left: 0.3em;

          li {
            margin-bottom: 0.5em;
          }
        }

        ul {
          list-style: disc;
          margin: 1em 1em 1em 1.2em;
          line-height: 1.2em;
          padding-left: 0.3em;

          li {
            margin-bottom: 0.5em;
          }
        }

        ul ul {
          list-style: circle;
        }

        ul ul ul {
          list-style: square;
        }

        // Article Date
        .article-date {
          width: 100px;
          float: left;
          padding-right: 30px;
          color: $white;
          text-transform: uppercase;

          .date {
            width: 100%;
            padding-bottom: 100%;
            margin-bottom: 5px;
            background: $primary;

            .day {
              font-size: 1.875rem;
            }

            .month {
              font-size: 1rem;
            }
          }

          .time {
            width: 100%;
            padding: 10px 0;
            background: $primary;
          }

        }

        // Article Text
        .article-text {
          width: calc(100% - 100px);
          font-size: 0.9rem;
          float: left;

          p {
            line-height: 1.4;
          }
        }

        // Show More
        .show-more {
          display: block;
          width: 100%;
          margin-top: 20px;
          text-align: center;
          float: left;

          .button {
            float: left;
            margin: 0 0 0 100px;
          }
        }

        h1, h2, h3, h4, h5, h6 {
          margin-bottom: 1em;
        }
        h2, h3, h4, h5, h6 {
          margin-top: 1em;
        }

      }

    }

  }

  // View All Posts
  .view-posts {
    hr.normal {
      margin: 20px auto;
    }

    .button-cta {
      margin-bottom: 0;
      float: inherit !important;
    }
  }

}
