/**
 *
 *  Docs Section Style
 *
 *  @package gleesik_layout
 *
 **/

 body.docs {
  .container {
    width: 100%;
  }

  div.highlighter-rouge {
    margin: 0 auto;
    width: 80%;
    max-width: 100%;
  }

  .nav-sidebar {
    text-align: center;
    margin-top: 0.8em;
    padding: 0.2em;
    border: 1px solid $primary;
    width: 80%;
    
    cursor: pointer;
    transition: background-color $transition-links $transition-links-type;
    &:hover {
      background-color: lighten($primary, 20%);
    }
    &.folded {
      background-color: $primary;
      color: white;
    }
  }

  .col-sidebar {
    top: 0px;
    height: 100vh;
    position: sticky;
    padding-top: 20px;
    width: 15em;

  }
  .col-content {
    padding-top: 20px;
    width: calc(100% - 15em);
  }
  @media (max-width: 991px) {
    .col-sidebar {
      display: none;
      position: relative;
      z-index: 999;
      top: 0em;
      width: 80%;
    }
    .col-content {
      width: 100% !important;
     }
   }
   section.docs-layout .docs-row {
      // flex-direction: row;
      justify-content: center;
    }

  section.site-section {
    padding: 0px;
  }
 }

 section.docs-layout {
  .docs-row {
    position: relative;
    justify-content: stretch;
    align-items: initial;
  }

  section.docs-section {
    padding-bottom: 1em;
    font-size: 21px;
    @media (max-width: 992px) {
      font-size: 16px;
    }

    h1 { font-size: 2em }
    h1:after, h2:after, h3:after { 
      content: ' ';
      display: block;
      background-color: $light-blue;
      height: 0.075em;
      position: relative;
      top: 0.2em;

    }
    h2 { font-size: 1.8em }
    h3 { font-size: 1.6em }
    h4 { font-size: 1.4em }
    h5 { font-size: 1.2em }
    h6 { font-size: 1em }

    h1, h2, h3, h4, h5, h6 {
      margin: 0.8em 0;
    }

    hr.normal {
      margin: 5px auto;
    }

    ul {
      margin: 0em 0em 1em 2em;
      list-style: disc;
      font-size: 0.9em;
    }
    
    table {
      border: 1px solid black;
      margin: 1em auto;
    }

    td, th {
      padding: 0.3em;
      border: 1px dashed black;
    }

    th {
      color: $secondary;
      font-weight: normal;
      background-color: $light-gray;
    }

    img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
      max-height: 500px;
    }

  
    .header-row {
      div.edit {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;

        h2 {
          display: flex;
          margin-top: 0;
          a {
            padding: 0 0.1em;
            font-size: 0.5em;
          }
        }
      }
    }

    .docets {
      align-items: stretch;
      justify-content: stretch;

      .doc-outer {
        // width: 100%;
        margin-top: 1em;
        flex-grow: 1;
      }
      a {
        height: 100%;
      }
      .doc {
        height: 100%;
        padding: 1em;
        border: 1px solid gray;
        border-style: dashed;

        h3 {
          margin-top: 0em;
          margin-bottom: 0.5em;
          color: $primary;
          font-size: 1.2em;
        }
        h3::after {
          display: none;
        }
        span {
            color: #5e5e5e;
        }

        transition: box-shadow $transition-links $transition-links-type;
        background-color: $sidebar-header;
        &:hover {
          box-shadow: 0px 0px 15px 0px $primary;
        }
      }
    }
  }

}