/**
 *
 *  Download Section Style
 *
 *  @package gleesik_layout
 *
 **/

 section.download-section {

  .row {
    align-items: initial;
    margin-bottom: 1em;
  }

  hr.small {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .download-header {
    margin-bottom: 1em;

    .title {
      font-size: 2em;
      font-weight: bold;
    }

    p {
      font-size: 1.5em;
    }
  }

  .download-box {
    .download-content {
      padding: 1em 1em;
      margin-top: 0;
      border: 2px solid $light-gray;

      p {
        margin: 1em 0;
      }

      .download-link {
        font-weight: bold;
        padding: 5px;
        border: 1px solid $light-gray;
        background-color: $light-gray;
        color: $secondary;

        &:hover,
        &:active {
          color: $primary;
          background-color: $secondary;
          border-color: $secondary;
        }
      }
    }
  }

  .download-content {
    padding: 0;
    margin-top: 0;

    p {
      margin: 1em 0;
    }
  }
}
