/**
 *
 *  Download Section Style
 *
 *  @package gleesik_layout
 *
 **/

 section.download-section {

  .row > [class*="col-"] {
    justify-content: stretch;
  }

  .button-cta {
    display: none;
    margin-bottom: 0.4em;
  }

  code {
    white-space: nowrap;
    border: 1px solid black;
    border-radius: .4em;
    background-color: #2e0a23;
    color: lightgray;    
    font-size: 0.8em;
    display: inline-block;
    overflow: auto;
    width: 100%;
    text-align: center;
    padding: 1em .5em 1em .5em;
    font-family: monospace;    
  }

  .row {
    align-items: initial;
    margin-bottom: 1em;
  }

  hr.small {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .download-header {
    margin-bottom: 1em;

    .title {
      font-size: 2em;
      font-weight: bold;
    }

    p {
      font-size: 1.5em;
    }
  }

  counter-reset: boxes;

  .download-box {
    text-align: center;
    height: 100%;
    margin-bottom: 1em;

    h4::before {
      counter-increment: boxes;
      content: counter(boxes);
      padding: 3px 8px;
      margin-right: .5em;
      color: white;
      font-weight: bold;
      font-family: monospace;
      background-color: $primary;
      border: .1em solid $primary;
      border-radius: 2em;      
    }

    .download-content {
      padding: 1em 0.7em;
      margin-top: 0;
      border: 2px solid $light-gray;
      height: inherit;

      p {
        margin: 1em 0;
      }

      .download-link {
        font-size: 90%;
        // font-weight: bold;
        display: inline-block;
        margin: 0.3em;
      }
    }
  }

  .download-content {
    padding: 0;
    margin-top: 0;

    p {
      margin: 1em 0;
    }
  }
}
