/**
 *
 *  Features Section Style
 *
 *  @package gleesik_layout
 *
 **/

section.features-section {
  background-color: $white;

  @media (max-width: 768px) {
    padding: 40px 0;
  }
  // Feature
  .feature {
    margin-bottom: 100px;
    position: relative;

    &:last-child {
      margin-bottom: 30px;
    }

    &-content {
      order: 1;
    }
    &-icon {
      order: 2;

      svg {
        width: 100%;
        max-width: 294px;
      }
    }
    @media (max-width: 768px) {
      &-icon {
        position: absolute;
        width: 50%;
        right: 0;
        align-items: flex-start;
        height: 100%;
        top: -100px;
        
        &--1 {
          top: 0;
        }

        svg {
          width: 100%;
          height: 50%;
          min-height: 160px;
        }
      }
    }
    &:nth-child(even) {
      .feature-content {
        order: 2;
      }
      .feature-icon {
        order: 1
      }
    }

    .feature-title {
      font-size: $title-font-size-1;
      text-transform: uppercase;
      margin-bottom: 20px;
      color: $web-blue;
      font-weight: 600;

      &--xs {
        display: none;
        font-size: 1.4rem;
        margin-bottom: 30px;
      }
      @media (max-width: 768px) {
        display: none;
        &--xs {
            display: block;
        }
      }
    }

    .feature-description {
      font-size: $text-font-size-1;
      margin-bottom: 30px;

      &--xs {
        display: none;
        font-size: $text-font-size-2-xs;
        margin-bottom: 30px;
      }
      @media (max-width: 768px) {
        display: none;
        &--xs {
            display: block;
        }
      }
    }

    .feature-link {
      &--xs {
        display: none;
      }
      @media (max-width: 768px) {
        display: none;
        &--xs {
            display: block;
        }
      }
    }
  }
  // CONTACT US and LEARN MORE
  .feature-more {
    &>div:first-child {
      
      .contact-button {
        display: block;
        width: fit-content;
        font-weight: 700;
        margin-right: 20px;
        margin-left: auto;
      }
    }
    &>div:last-child {
      a {
        margin-left: 20px;
      }
    }

    &--xs {
      display: none;
    }
    @media (max-width: 768px) {
      display: none;
      &--xs {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          margin-top: -40px;
          margin-bottom: 40px;
          a {
            margin: 5px;
          }
      }
    }
  }

}
