/**
 *
 *  Header Style
 *
 *  @package gleesik_layout
 *
 **/

.no-scroll header.site-header .site-navigation-bar {
  overflow: visible;
}


header.site-header {
  position: relative;
  width: 100%;
  height: 100vh;
  max-height: 1080px;
  z-index: 1;

  // Overlay Lightbox
  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $black-transparent;
    z-index: 99999999999999;

    iframe {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }  

  // Blog Header
  &.blog-header {
    height: 80px;

    .parallax-wrapper {
      height: 600px;
    }

    .container {
      height: 600px;
    }

    .header-banner {
      height: calc(600px - 250px);
    }
  }

  // Parallax-wrapper
  .parallax-wrapper {
    pointer-events: none;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100vh;
    max-height: 1080px;
    top: 0;
    left: 0;
  }

  .container {
    pointer-events: none;
    position: relative;
    height: 100vh;
    max-height: 1080px;

    .heading-content {
      .heading-title h2 {
        margin: auto;
        max-width: 1080px;
      }
      pointer-events: all;
      .tutorial {
        width: calc(100vh / 900 * 560); 
        height: calc(100vh / 900 * 315);
      }
    }
  }

  // Site Navigation Bar
  .site-navigation-bar {
    justify-content: space-between;
    pointer-events: all;
    position: relative;
    overflow: hidden;
    height: 80px;
    min-height: 80px;
    z-index: 2;
    text-transform: uppercase;    
    font-weight: bold;
    -webkit-transform: translate3d(0, 0, 0);

    // Logo
    .logo img {
      width: 120px;
      max-width: initial;
    }

    // Navigation Bar
    .navigation-bar {

      nav.nav-menu {
        position: relative;
        display: flex;
        justify-content: flex-end;

        i.fi {
          font-size: 1.8em;
        }

        ul {
          flex-direction: row;
          align-items: center;
          li {
            margin-right: 30px;

            &:last-child {
              margin-right: 0;
            }

            &.current-menu-item {
              a {
                color: $primary;
                position: relative;

                &:before {
                  content: '';
                  display: block;
                  position: absolute;
                  width: 50%;
                  height: 1px;
                  left: 50%;
                  bottom: -10px;
                  transform: translateX(-50%);
                  background-color: $primary;
                }
              }
            }

            a {
              display: block;
              color: $white;
              padding: 10px 0;

              &:hover,
              &:active {
                color: $primary;
              }

            }
          }
        }

      }
    }

  }

  // Animated text fragment
  .frag {
    color: $primary;
  }

  // Site Header Banner
  .header-banner {
    margin-top: 2em;
    height: calc(100vh - 250px);
    max-height: calc(1080px - 250px);
    z-index: 2;
    color: $white;

    .heading-content {
      width: 100%;
      text-transform: uppercase;

      .buttons-header {
        margin-top: 2em;

        .button-cta {
          margin-top: 0.5em;
          width: 100%;
        }

        div {
          padding-left: 13px;
          padding-right: 13px;
        }
      }
    }
  }

  // Arrow Down Section
  .arrow-down-section {
    position: absolute;
    width: 100%;
    height: 150px;
    bottom: 0;
    z-index: 3;

    .arrow-down {
      display: block;
      position: relative;
      font-size: 4rem;
      line-height: 4rem;
      color: $white;
      width: 64px;
      height: 64px;

      &:before,
      &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        transform: rotate(45deg);
      }

      // Stroke
      &:before {
        border: 1px solid $primary;
        animation: sera-pulse $animation-arrow-header-time $animation-arrow-header-type infinite alternate;
      }

      // Background
      &:after {
        transition: background-color $transition-links $transition-links-type;
        background-color: rgba(255, 255, 255, 0.2);
      }

      &:hover {
        i {
          transform: scale(1.3);
        }

        &:after {
          background-color: rgba(255, 255, 255, 0.3);
        }
      }

      i {
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform $transition-links $transition-links-type;

        &:before {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

}
