/**
 *
 *  Responsive Header Style + Navigation Mobile Menu
 *
 *  @package gleesik_layout
 *
 **/

.row > .toggle-menu {
  display: none;
}

@media (max-width: 992px) {
  body>section:first-of-type {
    margin-top: $mobile-header-height;
  }

  // Site Header Mobile
  header.site-header {
    width: 100%;
    overflow: visible !important;
    z-index: 99999;

    // Header Banner
    .header-banner {
      top: 50px;
      height: calc(100vh - 190px);
      max-height: calc(1080px - 190px);

      .heading-content {
        padding: 0 40px;
      }
    }

    // Cover
    .cover::before {
      height: 50px;
    }

    &.blog-header {
      height: 50px;
      .parallax-wrapper {
        visibility: hidden;
      }
    }

    &>.container {
      height: $mobile-header-height;
      
      &::before {
        opacity: 0;
      }

      // Site Navigation Bar
      .site-navigation-bar {
        height: $mobile-header-height;
        z-index: 99999999999998;

        // Logo
        .logo img {
          width: 100px;
        }

        // Navigation Bar
        .navigation-bar {
          position: fixed;
          top: $mobile-header-height;
          left: 0;
          width: 100%;
          height: calc(100vh - 50px);
          font-weight: lighter;
          overflow-y: scroll;
          opacity: 1;
          transform: translateY(100%);
          background: $web-blue;
          transition: transform 0.8s $transition-links-type;
          z-index: 99999999999999;

          // Nav Menu
          .nav-menu {
            width: 100%;
            padding: 30px 0;
            font-size: 1.3rem;

            ul.menu {
              position: relative;
              display: block;
              padding: 0px 48px;
              list-style: none;

              li {
                width: 100%;
                margin-bottom: 5px;
                opacity: 0;
                transform: scale(1.15) translateY(-30px);
                transition: transform 0.5s $cubic, opacity 0.6s $cubic;
                position: relative;

                &::before {
                  content: '';
                  position: absolute;
                  width: 36px;
                  height: 1px;
                  background-color: $orange;
                  left: calc(50% - 18px);
                }
                &:first-child::before {
                  content: none;
                }

                &>.nav-link {
                  height: $mobile-header-height !important;
                  display: flex !important;
                  justify-content: center;
                  align-items: center;
                }

                &.has-target-nav {
                  display: none;
                }

                &.has-button-nav {
                  display: none;
                }

                &>.subnav-content {
                  display: none !important;
                }

                @for $i from 1 through $menuItems {
                  &:nth-child(#{$i}) {
                      transition-delay: #{0.56 - ($i * 0.07)}s;
                  }
                }

                // Remove current menu item indicator
                &.current-menu-item {
                  a:before {
                    content: '';
                    display: none;
                  }
                }

                .nav-link {
                  display: flex;
                  color: $white;
                  width: 100%;
                  padding: 15px 0 20px 0;

                }
                
              }
            }

          }

          // Active Mode
          &.active {
            opacity: 1;
            transform: translateY(0);
            transition-duration: $transition-links;

            // Nav Menu Active
            .nav-menu {
              ul.menu {
                  li {
                      transform: scale(1) translateY(0);
                      opacity: 1;
                      @for $i from 1 through $menuItems {
                          &:nth-child(#{$i}) {
                              transition-delay: #{0.07 * $i+0.2}s;
                          }
                      }
                  }
              }
            }
          }

        }

        // Toggle Menu
        .toggle-menu {
          display: flex;
          align-items: center;
          font-size: 3rem;
          color: $white;
          flex-direction: row;
          justify-content: flex-end;

          &__actions {
            display: flex;
            align-items: center;
            .nav-link--shortcut {
              color: $white;
              font-size: $title-font-size-1;
              margin-right: 30px;
              @media (max-width: 410px) {
                display: none;
              }
            }
            .button {
              padding: 12px 5px;
              margin-right: 30px;
              font-size: 1.1rem;
              @media (max-width: 320px) {
                display: none;
              }
            }
          }


          // Nav Toggle Trigger Button
          .navTrigger {
            cursor: pointer;
            width: 36px;
            height: 32px;
            position: relative;

            i {
              background-color: #fff;
              content: '';
              display: block;
              width: 100%;
              height: 3px;
              border-radius: 1px;
            }
            i:nth-child(1) {
              // animation: sera-outT 0.8s backwards;
              // animation-direction:reverse;
              margin-top: 9px;
              width: 36px;
            }
            i:nth-child(2) {
              margin: 11px 0 0 18px;
              // animation: sera-outM 0.8s backwards;
              // animation-direction:reverse;
              width: 18px;
            }

            // &.active {
            //   i:nth-child(1) {
            //     animation: sera-inT 0.8s forwards;
            //   }
            //   i:nth-child(2) {
            //     animation: sera-inM 0.8s forwards;
            //   }
            // }
          }

        }

      }
    }

    // Toggle Mobile Sub Menu
    &>.toggle-submenu {
      display: block;
      position: fixed;
      width: 100vw;
      height: 100vh;
      top: 0;
      left: -100vw;
      z-index: 99999999999998;
      background-color: $bg;
      transition: left 0.2s $transition-links-type;

      &.show {
        left: 0;
      }

      .sub-header>.container {
        height: $mobile-header-height;
        background-color: $web-blue;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $white;
        .button-back {
          width: 50px;
          margin-left: -20px;
          cursor: pointer;

          &:hover {
            color: $orange;
          }
          i {
            font-weight: bolder;
            font-size: 3rem;
          }
        }
        .sub-header__title {
          font-size: $title-font-size-1;
        }
        .button-close {
          cursor: pointer;
          width: 36px;
          height: 32px;
          position: relative;

          i {
            background-color: $white;
            content: '';
            display: block;
            width: 100%;
            height: 3px;
            border-radius: 1px;
          }
          i:nth-child(1) {

            margin-top: 9px;
            width: 36px;
          }
          i:nth-child(2) {
            margin: 11px 0 0 18px;
            width: 18px;
          }
          &:hover {
            i {
              background-color: $orange;
            }
          }
        }

      }

      .sub-menu {
        padding: 40px 0;
        .subnav {
          margin-bottom: 10px;
          &-link {
            line-height: 2;
            font-size: $text-font-size-1;
            position: relative;
            color: $web-blue;
            font-weight: 700;
            cursor: pointer;
            &::after {
              content: '\e684';
              position: absolute;
              font-weight: 700;
              font-size: 1.6em;
              font-family: '7-stroke';
              top: calc(50% - 14px);
              line-height: 30px;
            }
            &:hover, &.current-menu-item {
              color: $orange;
            }
          }
        }
      }
    }
  }

}

// Medium Media
@media (max-width: 992px) and (min-width: 550px) {

  // Site Header Mobile
  header.site-header {

    // Header Banner
    .header-banner {
      margin-top: 0em;
      .heading-title {
        h1 {
          font-size: 3rem;
        }

        h2 {
          font-size: 1.75rem;
        }
      }
    }

    .site-navigation-bar {
      .navigation-bar {
        left: 60%;
        width: 40%;
        transform: translate(100%, 0);
        transition: transform 0.8s $transition-links-type;

        &.active {
          transform: translate(0);
        }

      }
    }

  }

}

// Responsive Navigation Menu
@media (max-width: 720px) and (min-width: 550px) {

  // Site Header Mobile
  header.site-header {

    // Site Navigation Bar
    .site-navigation-bar {
      .navigation-bar {
        .nav-menu {
          ul.menu {
            padding: 0 20px;
          }
        }
      }
    }

  }

}

// Small Media
@media (max-width: 550px) {

  // Site Header on small devices
  header.site-header {
    .header-banner {
      margin-top: 0em;

      .heading-title {
        h1 {
          font-size: 2.4rem;
        }

        h2 {
          font-size: 1.3rem;
        }
      }

      .buttons-header {
        .button-cta {
          font-size: 1rem;
        }
      }
    }
  }
}

// Large Media
@media (min-width: 993px) {
  .toggle-submenu.show {
    display: none !important;
  }
  &.subnav {
    width: 130px;
    display: flex;
    justify-content: center;
    &:hover {
      &::after {
        content: '';
        position: absolute;
        margin-left: 0px;
        bottom: 0;
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid $bg;
        pointer-events: none;
      }
    }
  }
}
