/**
 *
 *  Header Style
 *
 *  @package gleesik_layout
 *
 **/

.no-scroll header.site-header .site-navigation-bar {
  overflow: visible;
}

body>section:first-of-type {
  margin-top: $desktop-header-height;
}

header.site-header {
  position: fixed;
  width: 100%;
  background-color: $web-blue;
  z-index: 1;
  top: 0;

  // Toggle Mobile Sub Menu
  .toggle-submenu {
    display: none;
  }

  // Overlay Lightbox
  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $black-transparent;
    z-index: 99999999999999;

    iframe {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }  

  // Blog Header
  &.blog-header {
    height: 80px;

    .parallax-wrapper {
      height: 600px;
    }

    .container {
      height: 600px;
    }

    .header-banner {
      height: calc(600px - 250px);
    }
  }

  // Parallax-wrapper
  .parallax-wrapper {
    pointer-events: none;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100vh;
    max-height: 1080px;
    top: 0;
    left: 0;
  }

  &>.container {
    pointer-events: none;
    max-height: 1080px;
    height: $desktop-header-height;

    .heading-content {
      .heading-title h2 {
        margin: auto;
        max-width: 1080px;
      }
      pointer-events: all;
      .tutorial {
        width: calc(100vh / 900 * 560); 
        height: calc(100vh / 900 * 315);
      }
    }
  }

  // Site Navigation Bar
  .site-navigation-bar {
    justify-content: space-between;
    pointer-events: all;
    height: $desktop-header-height;
    z-index: 2;
    font-weight: bold;

    // Logo
    .logo img {
      width: 120px;
      max-width: initial;
    }

    // Navigation Bar
    .navigation-bar {

      nav.nav-menu {
        display: flex;
        justify-content: flex-end;
        padding-left: 25px;

        i.fi {
          font-size: 1.8em;
        }

        ul {
          flex-direction: row;
          align-items: center;
          width: 100%;
          justify-content: space-between;

          li {
            padding: 0 10px;

            &.current-menu-item>.nav-link {
              color: $orange;
            }

            // Sub nav menu
            &.subnav {
              &>.nav-link {
                overflow: hidden;
                height: $desktop-header-height;
                display: flex;
                align-items: center;
                cursor: pointer;
              }

              &:hover>.subnav-content {
                display: block;
              }
            }

            &>.subnav-content {
              display: none;
              position: fixed;
              left: 0;
              top: $desktop-header-height;
              background-color: $bg;
              width: 100%;
              z-index: 1;
              padding-top: 30px;
              padding-bottom: 30px;
              border-bottom: 2px solid $web-blue;

              .container {
                margin-left: auto;
                margin-right: auto;
                justify-content: end;

                a {
                  color: $web-blue;
                  cursor: pointer;
                  padding-top: 15px;
                  padding-bottom: 10px;
                  margin-bottom: 10px;
                  position: relative;
                  width: fit-content;
                  font-size: $text-font-size-2;
                  font-weight: 400;
                  &:hover::before {
                    content: '';
                    position: absolute;
                    height: 2px;
                    background-color: $orange;
                    bottom: 0;
                    width: 100%;
                  }
                  &.current-menu-item {
                    color: $orange;
                  }
                }

                &>.current-menu-item>a::before {
                  content: '';
                  position: absolute;
                  height: 2px;
                  background-color: $diode-orange;
                  bottom: 0;
                  width: 100%;
                }

              }


            }
            
            &:last-child {
              margin-right: 0;
              padding: 0;
            }

            &.current-menu-item {
              .nav-link {
                color: $primary;
                position: relative;
                &.button {
                  color: $white;
                }
              }
            }

            .nav-link {
              display: flex;
              color: $white;
              padding: 10px 0;
              font-size: $text-font-size-2;
              height: 100%;
              text-transform: initial;
              height: $desktop-header-height;
              align-items: center;
              font-weight: 400;

              &:hover,
              &:active {
                color: $primary;
              }

              i {
                font-size: 1.5rem;
              }

            }
          }
        }

      }
    }

  }

  // Animated text fragment
  .frag {
    color: $primary;
  }

  // Site Header Banner
  .header-banner {
    margin-top: 2em;
    height: calc(100vh - 250px);
    max-height: calc(1080px - 250px);
    z-index: 2;
    color: $white;

    .heading-content {
      width: 100%;
      text-transform: uppercase;

      .buttons-header {
        margin-top: 2em;

        .button-cta {
          margin-top: 0.5em;
          width: 100%;
        }

        div {
          padding-left: 13px;
          padding-right: 13px;
        }
      }
    }
  }

  // Arrow Down Section
  .arrow-down-section {
    position: absolute;
    width: 100%;
    height: 150px;
    bottom: 0;
    z-index: 3;

    .arrow-down {
      display: block;
      position: relative;
      font-size: 4rem;
      line-height: 4rem;
      color: $white;
      width: 64px;
      height: 64px;

      &:before,
      &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        transform: rotate(45deg);
      }

      // Stroke
      &:before {
        border: 1px solid $primary;
        animation: sera-pulse $animation-arrow-header-time $animation-arrow-header-type infinite alternate;
      }

      // Background
      &:after {
        transition: background-color $transition-links $transition-links-type;
        background-color: rgba(255, 255, 255, 0.2);
      }

      &:hover {
        i {
          transform: scale(1.3);
        }

        &:after {
          background-color: rgba(255, 255, 255, 0.3);
        }
      }

      i {
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform $transition-links $transition-links-type;

        &:before {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

}
