/**
 *
 *  Offer Style
 *
 *  @package gleesik_layout
 *
 **/

section.offer-section {
  padding: 40px 0;
  color: $white;
  background-color: $web-blue;
  padding: 100px 0;

  .offer-link {
    color: $white;
    display: flex;
    align-items: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;

    &:hover {
      color: $orange;
    }

    h2 {
      font-size: $title-font-size-1;
      text-transform: uppercase;
    }
    i {
      font-size: $title-font-size-1;
      font-weight: 700;
    }
    &::after {
      content: '';
      position: absolute;
      width: 226px;
      height: 1px;
      background-color: $orange;
      bottom: -30px;
      left: calc(50% - 113px);
    }
    @media (max-width: 768px) {
      text-align: center;
      h2 {
        font-size: $text-font-size-2;
        font-weight: 400;
        text-transform: inherit;
      }
      i {
        display: none;
      }
    }
  }
}
