/**
 *
 *  Offer Style
 *
 *  @package gleesik_layout
 *
 **/

section.offer-section {
  padding: 40px 0;
  color: $white;
  background-color: $primary;

  .hs-form-required {
    display: none;
  }

  a {
    color: $white;
    &:hover,
    &:active {
      background-color: lighten($primary, 20%);
    }
  }

  .underline {
    text-decoration: none;
    border-bottom: 7px solid $white;    
  }

  .newsletter-email-signup {
    input {
      border-color: white;
      border-width: 2px;
      color: white;
      height: 4em;
    }

    input::placeholder {
      color: white;
    }

  }

  h2 {
    text-transform: uppercase;
    font-size: 1.75rem;
    padding: 1.125rem 0;
  }

  @media (max-width: 991px) {
    h2 {
      text-align: center;
      line-height: 1.2;
      padding: 0;
    }

    .mc_embed_signup_scroll {
      margin-top: 10px;
    }

    .newsletter-email-signup {
      text-align: center;
      input {
        height: 3em;
      }
    }
  }

  .button {
    padding: 0em 3em;
  }
}
