section.products-pricing-section {
    background-color: $white !important;
    padding: 10px 0 60px;


    .plan-switch-container {
      width: 100%;
      text-align: center;
    }
    .plan-switch-label-container {
      width: 100%;
      text-align: center;
      margin-top: 15px;
      margin-bottom: 15px;
      .plan-switch-label {
        span {
          text-transform: uppercase;
          font-size: $text-font-size-1;
          font-weight: 700;
          color: $text-gray;
          margin: 0 5px;
          &.active {
            color: $dark-blue;
          }
        }
      }
    }

    .plans-description {
      width: 100%;
      text-align: center;
      margin-bottom: 40px;
      font-size: $text-font-size-3;
      color: $web-blue;
      line-height: 1.5;
      @media (max-width: 993px) {
        font-size: $text-font-size-2;
      }
    }

    .plans-annotation {
      width: 100%;
      text-align: center;
      margin-bottom: 40px;
      font-size: $text-font-size-1-xs;
      color: $web-blue;
      line-height: 1.5;
      @media (max-width: 993px) {
        font-size: $text-font-size-0-xs;
      }
    }
  
    .products-section__description {
      margin: 0 auto 60px auto;
      font-size: $title-font-size-1;
      line-height: 1.5;
      font-weight: 400;
      color: $gray;
      text-align: center;
      max-width: 900px;

      @media (max-width: 993px) {
        font-size: $text-font-size-2;
      }

      @media (max-width: 768px) {
        font-size: $text-font-size-3-xs;
      }
    }
  
    .products-pricing__contact-us {
      display: flex;
      justify-content: center;
    }
  
    .plans {
      .col-blank {
        width: 350px;
        &--text {
          padding: 10px 25px 10px 0;
          font-size: 30px;
          color: $web-blue;
          font-weight: 400;
          line-height: 1.5;
          margin-bottom: 30px;
          text-align: left;
          text-align: left;
          justify-content: flex-start;
          display: flex;
          align-items: flex-start;
          a {
            text-align: left;
          }
        }
      }
      .col-plan {
        width: calc((100% - 350px) / 3);
        padding: 15px;
        &--card {
          padding: 20px;
          width: calc((100% - 100px) / 3);
        }
      }

      @media (max-width: 1199px) {
        .col-blank {
            width: 250px;
            font-size: 24px;
        }
        .col-plan {
            width: calc((100% - 250px) / 3);
            padding: 15px;
            &--card {
              width: 33%;
              ul {
                padding: 0 !important;
              }
            }
        }
      }
      @media (max-width: 993px) {
        .col-blank {
            width: 180px;
            font-size: $text-font-size-3-xs;
        }
        .col-plan {
            width: calc((100% - 180px) / 3);
            padding: 10px;
            &--card {
              width: 33%;
            }
        }
      }
      // pricing card
      .plan {
        border: 1px solid $orange;
        border-radius: 5px;
        padding: 25px;
        text-align: center;
        height: 540px;
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
  
        &__title {
          font-size: $text-font-size-2;
          color: $dark-blue;
          margin-bottom: 25px;
        }
        &__description {
          color: $dark-blue;
          line-height: 1.5;
          letter-spacing: 1px;
          font-size: $text-font-size-1-xs;
          margin-bottom: 20px;
          letter-spacing: .5px;
        }
        &__price {
          color: $dark-blue;
          font-size: $title-font-size-2;
          margin-bottom: 20px;
          &>span {
            font-size: $text-font-size-2;
            color: $web-blue;
          }
          .plan__price_annotation {
            font-size: 12px;
            color: #2d3e50;
          }
        }

        &__action {
          margin-top:auto;
          &>.button {
            width: 100%;
            text-transform: uppercase;
          }
        }

        &__features {
          margin-bottom: 10px;
          height: 200px;

          @media (min-width: 769px) and (max-width: 993px) {
            height: 225px;
          }

          ul {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding: 0 20px;
            li {
              display: flex;
              margin-bottom: 12px;
              position: relative;
              padding-left: 30px;
              font-size: $text-font-size-1-xs;
              color: $dark-blue;
              text-align: left;
              letter-spacing: .5px;
              &>.circle {
                position: absolute;
                display: block;
                width: 20px;
                height: 20px;
                border: 2px solid $orange;
                border-radius: 20px;
                left: 1px;
                top: -1px;
              }

              &::before {
                content: '';
                position: absolute;
                width: 5px;
                height: 2px;
                background-color: $orange;
                left: 5px;
                top: 10px;
                transform: rotate(45deg);
              }
              &::after {
                content: '';
                position: absolute;
                width: 11px;
                height: 2px;
                background-color: $orange;
                transform: rotate(-45deg);
                left: 7px;
                top: 8px;
              }
            }
          }
        }

        @media (max-width: 993px) {
            padding: 25px 10px;
            &__price {
                font-size: $text-font-size-6-xs;
                &>span {
                    font-size: $text-font-size-2-xs;
                }
            }
        }
        @media (max-width: 768px) {
          padding: 25px;
          &__price {
              font-size: $title-font-size-2;
              &>span {
                  font-size: $text-font-size-2;
              }
          }
        }
      }

      // mobile layout
      &--xs {
        .col-plan {
            width: 100%;
            .plan {
              height: inherit;
              min-height: 460px;
              margin-bottom: 0;
            }
        }
      }
    }
    
    // pricing table
    .pricing-table {
      margin-bottom: 60px;
      &__header{
        font-weight: 700;
        background-color: $white;
        z-index: 0;
        .col-plan {
          font-weight: 700 !important;
        }
      }
      &__description {
        font-size: $text-font-size-1-xs;
        margin: 10px 0;
        line-height: 1.5;
      }
      .row.plans {

        .col-blank {
          color: $web-blue;
          font-size: $text-font-size-2;
          line-height: 1.2;
          text-transform: uppercase;
          min-height: 80px;
          display: flex;
          align-items: center;
          justify-content: center;
          align-items: flex-start;
          padding-left: 15px;
          border-bottom: 1px solid $web-gray;
        }
        .col-plan {
          border-left: 2px solid $orange;
          background-color: $white;
          color: $web-blue;
          text-align: center;
          font-size: $text-font-size-2;
          text-transform: uppercase;
          font-weight: 400;
          min-height: 80px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          line-height: 1.2;
          border-bottom: 1px solid $web-gray;
          &>.ammount {
            font-size: $text-font-size-3;
          }
          &>.ammount--tip {
            font-size: $text-font-size-2-xs;
          }
          &>.has-asterisk {
            position: relative;
            &::after {
              position: absolute;
              content: '*';
              right: -10px;
            }
          }
        }
        @media (max-width: 993px) {
            .col-plan, .col-blank {
                font-size: $text-font-size-1;
            }
        }
      }
    }
  
  }
