/**
 *
 *  Sidebar Aside Style
 *
 *  @package gleesik_layout
 *
 **/

.col-sidebar {
  background-color: $light-blue;

  top: 0px;
  height: 100vh;
  position: sticky;
  padding-top: 20px;
  width: 15em;
  overflow-y: scroll;

  aside.site-sidebar {
    h3 {
      &:hover {
        color: black;
      }
      display: flex;
      justify-content: space-between;
      align-items: center;
      // font-weight: normal;
      margin: 0.2em 0;
      color: $secondary;
      cursor: pointer;
      text-transform: uppercase;
    }

    .group {
      margin-bottom: 2em;
    }


    input {
      // transition: border-width 0.3s linear;
      &.active {
        outline: solid 1px green;
        border-color: green;
        background-color: rgb(185, 255, 185);
      }

      &.notfound {
        outline: solid 1px orange;
        border-color: orange;
        background-color: rgb(255, 230, 184);
      }
    }

    .folded {
      span.arrow {
        transform: rotate(180deg)
      }

      ul {
        display: none;
      }
    }

    span.arrow {
      transition: transform .2s linear, -webkit-transform .2s linear;
    }

    ul {
      padding: 0px;
      li {
        a {
          display: block;
          height: 1.1em;
        }
        padding: 0 0 5px 0px;
      }

      li.current {
        line-height: 1.2em;
        font-weight: bold;
        text-decoration-thickness: 2px;
        text-decoration-color: $primary;
      }

      li.matching-item {
        box-shadow: 0 0 3pt 3pt  rgb(99, 212, 99);
        border-radius: 20px;
      }

      li.non-matching-item a {
        text-decoration: line-through red 2px;
      }
    }

    // Widget
    .widget {
      margin-bottom: 20px;

      // Widget Header
      header.widget-header {
        padding: 24px 30px;
        color: $sidebar-title;
        margin-bottom: 30px;
        background-color: $sidebar-header;

        h4.widget-title {
          font-size: 1.25rem;
          text-transform: uppercase;
        }
      }
    }
  }
}