
.taglist-post {
    margin-bottom: 400px;

    .img-wrap {
        a {
            width: 100%;
        }
        img {
            object-fit: none;
            height: 100px;
            width: 100%;
        }
    }

    h2.category {
        color: #F15C2E;
        text-transform: capitalize;
    }
}