@import 'plugins/normalize',
        'plugins/swiper';

@import 'base/variables',
        'base/breakpoints',
        'base/grid',
        'base/default',
        'base/form';

@import 'blocks/header',
        'blocks/main',
        'blocks/footer',
        'blocks/popup';

@import 'blocks/social',
        'blocks/hero',
        'blocks/headline',
        'blocks/story',
        'blocks/box',
        'blocks/partners',
        'blocks/team',
        'blocks/teams',
        'blocks/article',
        'blocks/features',
        'blocks/download',
        'blocks/download-popup',
        'blocks/pricing';
