body.network {
  font: 16px/1.4em "Titillium Web", Arial, sans-serif;
  /* background-color: #262e2b; */
}

body.network input, body.network textarea {
  padding: 0.3em;
  margin-bottom: 0.5em;
}

body.network h1, body.network h2, body.network h3, body.network h4, body.network h5, body.network h6 {
  color: black;
  margin-bottom: 0.2em;
}

body.network #app {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

body.network .header {
  background-color: #262e2b;
  padding: 5px 0px;
  box-shadow: 0px 10px 8px -15px #111;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

body.network .header .logo {
  padding-left: 7%;
}

body.network .header .logo img {
  width: 120px;
}

body.network ul.navbar {
  margin-right: 7%;
  padding-left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

body.network ul.navbar li {
  display: block;
  padding-left: 2em;
}

body.network ul.navbar li a {
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.08rem;
  text-decoration: none;
  white-space: nowrap;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

body.network ul.navbar li a:hover {
  color: #f15c2e;
}

body.network ul.navbar li a.router-link-exact-active, body.network ul.navbar li a.router-link-active {
  padding-bottom: 3px;
  border-bottom: 1px solid #f15c2e;
}

body.network .page-content {
  padding: 0% 7%;
}

body.network #home .site-navigation-bar {
  padding: 0% 13% 0% 13%;
}

body.network #home .header-banner {
  margin-top: 5%;
}

body.network .column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

body.network a {
  color: #f15c2e;
  cursor: pointer;
  z-index: 100;
}

body.network a.no-decoration {
  text-decoration: none;
}

body.network .title {
  width: 100%;
  height: 80px;
  text-align: left;
  background-color: #f15c2e;
  padding: 1% 7%;
  margin: 0;
}

body.network .title p {
  color: white;
  text-align: right;
  font-size: 14px;
  text-transform: capitalize;
  float: right;
}

body.network .title p a {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #ffffff;
}

body.network .title h1 {
  color: #ffffff;
  font-weight: normal;
  font-size: 1.2em;
}

body.network .title h2 {
  color: #ffffff;
  font-weight: normal;
  font-size: 1.1em;
}

body.network .title i.fa {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  z-index: 99;
  width: 20px;
  cursor: pointer;
}

body.network .input-button {
  display: block;
  position: relative;
  width: 100%;
  height: 40px;
  border: 1.3px solid white;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  background-color: #f15c2e;
  min-width: 308px;
}

body.network .input-button.search-bar {
  width: 350px;
}

body.network .input-button input[type="text"] {
  padding: 5px;
  float: left;
  width: 80%;
  background-color: #f15c2e;
  color: white;
  border: 0;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  padding-left: 12%;
}

body.network .input-button input[type="text"]:focus {
  text-decoration: underline;
}

body.network .input-button input[type="text"]::placeholder {
  color: #c0c5cb;
}

body.network .input-button input[type="text"]:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #f15c2e inset !important;
  -webkit-text-fill-color: white;
  caret-color: white;
}

body.network .input-button input[type="text"].no-icon {
  padding-left: 3%;
}

body.network .input-button button {
  position: absolute;
  top: 1px;
  right: 0.6%;
  border: 1px solid #d6442e;
  border-left: none;
  color: #000000;
  min-width: 58px;
  background: #ffffff;
}

body.network .input-button button[disabled] {
  cursor: not-allowed !important;
  border: none;
  background-color: #b4b4b4;
}

body.network .input-button button[name="search"] {
  right: 0.6%;
}

body.network .input-button::after {
  content: "";
  clear: both;
  display: table;
}

body.network .input-button.white {
  border: 1.3px solid #f15c2e;
  background-color: white;
}

body.network .input-button.white input {
  background-color: white;
  color: grey;
}

body.network .input-button.white button {
  border: 1px solid #d6442e;
  border-left: none;
  color: white;
  background: #F15E40;
}

body.network .input-button.white button[disabled] {
  cursor: not-allowed !important;
  border: none;
  background-color: #b4b4b4;
}

body.network .logs-data {
  font-size: 10px;
  line-height: 12px;
  max-height: 700px;
  max-width: 100%;
  overflow-x: auto;
}

body.network td.fleet,
body.network th.fleet {
  background-color: #ebebeb;
}

body.network table {
  table-layout: fixed;
  border-top: 0 !important;
}

body.network table caption {
  text-align: left;
  border: 1px solid #ddd;
  padding: 12px 10px 5px 10px;
  background: white;
  color: #000000;
}

body.network table .empty-search {
  color: #eb411d;
  padding: 20px 45px 45px 45px;
}

body.network table.data {
  margin-top: 25px;
  margin-bottom: 25px;
  border: 1px solid #ddd;
  width: 100%;
  background-color: #ffffff;
  border-collapse: collapse;
  border-spacing: 0;
}

body.network table.data td {
  word-wrap: break-word;
}

body.network table.transposed {
  border-top: 1px solid #ddd !important;
  color: #000;
}

body.network table.transposed tr th {
  width: 20%;
  font-weight: normal;
  border-right: 1px solid #ddd;
}

body.network table.transposed tr td {
  padding-left: 20px;
}

body.network table.nested {
  margin: 5px;
  border-top: 1px solid #ddd !important;
}

body.network table.small-margin {
  margin-top: 25px;
}

body.network table.inner {
  border-collapse: collapse;
  border-spacing: 0;
  border: none;
  width: 100%;
  margin: 0;
}

body.network table.inner tr td,
body.network table.inner tr th {
  border-collapse: collapse;
  border-spacing: 0;
  border: none;
  width: 100%;
  margin: 0;
}

body.network table.data tr:nth-child(2n) {
  background-color: #f2f2f2;
}

body.network table.data tr.active {
  background-color: #ddd;
  border: 3px solid #d6442e;
}

body.network table.data th,
body.network table.data td {
  height: 60px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  padding: 8px;
  vertical-align: middle;
  color: #000000;
}

body.network table.data th.big,
body.network table.data td.big {
  word-break: break-all;
  min-height: 220px;
  max-height: 640px;
  overflow: scroll;
  display: block;
}

body.network table.data th {
  font-size: 16px;
  white-space: nowrap;
  vertical-align: top;
  padding-top: 20px;
  color: #000000;
}

body.network table.data td.big {
  overflow-wrap: anywhere;
  overflow-x: hidden;
}

body.network .ether-value {
  text-align: right;
  font-family: monospace;
}

body.network * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body.network .error,
body.network .bad {
  color: red;
  margin-top: 10px;
}

body.network .good,
body.network .bad {
  font-weight: bold;
}

body.network .good {
  color: green;
}

body.network .chart-text {
  /*font: 16px/1.4em "Montserrat", Arial, sans-serif;*/
  fill: #000;
  -ms-transform: translateY(0.25em);
  -webkit-transform: translateY(0.25em);
  transform: translateY(0.25em);
}

body.network .chart-number {
  font-size: 0.6em;
  line-height: 1;
  text-anchor: middle;
  -ms-transform: translateY(-0.25em);
  -webkit-transform: translateY(-0.25em);
  transform: translateY(-0.25em);
}

body.network .chart-label {
  font-size: 0.2em;
  text-transform: uppercase;
  text-anchor: middle;
  -ms-transform: translateY(0.7em);
  -webkit-transform: translateY(0.7em);
  transform: translateY(0.7em);
}

body.network figure {
  border: 1px solid #dbdbdb;
  margin: 25px 0px 0px 0px;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background: white;
  padding: 8px 40px 5px 12px;
}

body.network figure h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin: 0px;
  font-size: 1em;
  color: #000000;
}

body.network figure figcaption {
  margin-top: 25px;
}

@media (min-width: 768px) {
  body.network figure {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

body.network .figure-title {
  padding-right: 10px;
  float: left;
  text-transform: capitalize;
}

body.network .figure-content {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
      -ms-flex: 2;
          flex: 2;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 10px;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
}

body.network .ul1,
body.network .ul2 {
  float: left;
  padding-right: 10px;
}

body.network .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

body.network .list-complete-item {
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  /* display: inline-block; */
  margin-right: 10px;
}

body.network .list-complete-enter,
body.network .list-complete-leave-to {
  opacity: 0;
  -webkit-transform: translateX(-30px);
      -ms-transform: translateX(-30px);
          transform: translateX(-30px);
}

body.network .list-complete-leave-active {
  position: absolute;
}

body.network button {
  height: 25px;
  background: #ffffff;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin: 5px 5px 0 0;
  font-weight: normal;
  font-size: 14px;
  padding: 0 8px;
}

body.network .button {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: #F15C2E;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  color: #ffffff;
  border: none;
}

body.network .button strong {
  color: inherit;
}

body.network .button .icon {
  height: 1.5em;
  width: 1.5em;
}

body.network .button .icon.is-small, body.network .button .icon.is-medium, body.network .button .icon.is-large {
  height: 1.5em;
  width: 1.5em;
}

body.network .button .icon:first-child:not(:last-child) {
  margin-left: -webkit-calc(-0.5em - 1px);
  margin-left: calc(-0.5em - 1px);
  margin-right: 0.25em;
}

body.network .button .icon:last-child:not(:first-child) {
  margin-left: 0.25em;
  margin-right: -webkit-calc(-0.5em - 1px);
  margin-right: calc(-0.5em - 1px);
}

body.network .button .icon:first-child:last-child {
  margin-left: -webkit-calc(-0.5em - 1px);
  margin-left: calc(-0.5em - 1px);
  margin-right: -webkit-calc(-0.5em - 1px);
  margin-right: calc(-0.5em - 1px);
}

body.network .button[disabled] {
  background-color: white;
  border-color: #dbdbdb;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: not-allowed;
  color: grey;
}

body.network .headtable {
  width: 50%;
  display: inline-flex;
  flex-direction: inherit;
  flex-wrap: wrap;
  align-content: center;
}

body.network .headtable figure {
  width: 100%;
}

body.network .headtable .doclet {
  flex-grow: 1;
  margin: 25px 25px 0 0;
  padding: 8px 5px 5px 12px;
  background-color: #ffffff;
  border: 1px solid #c0c5cb;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}

body.network .headtable .doclet h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin: 0px;
  font-size: 1em;
  color: #000000;
}

body.network .headtable .doclet div.link {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 11px;
}

body.network .headtable .doclet div.link a {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 1px;
}

body.network .full-width {
  width: 100%;
}

body.network .padding-right-10 {
  padding-right: 10px;
}

body.network .marginized {
  margin: 10px 15px;
}

body.network .marginized-top {
  margin-top: 15px;
}

body.network .marginized-top-2 {
  margin-top: 30px;
}

body.network .marginized-bottom {
  margin-bottom: 10px;
}

body.network .btn-loading {
  height: 14px;
  margin-right: 5px;
  position: absolute;
  top: 5px;
  left: 40%;
}

body.network .network path {
  fill-rule: evenodd;
  fill: #ffffff50;
}

body.network p {
  margin-bottom: 0em;
}

body.network .network text {
  font-size: 80%;
  stroke: white;
  fill: white;
}

body.network .network circle {
  fill: #8ae234;
  stroke: white;
  stroke-width: 0.5px;
}

body.network .network circle.self {
  fill: #8ae234;
}

body.network .network circle.connected {
  fill: #8ae234;
}

body.network .network line {
  stroke: none;
  stroke-width: 1px;
}

body.network .network line.connected {
  stroke: #8ae234;
  stroke-width: 1px;
}

body.network .network circle.notConnected {
  fill: gainsboro;
}

body.network .tooltip {
  display: none;
  z-index: 10000;
  font-size: medium;
  min-width: 350px;
  height: 82px;
  position: absolute;
  will-change: transform;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
}

body.network .tooltip .tooltip-inner {
  background: white;
  color: black;
  box-shadow: 5px 5px 5px black;
  padding: 5px 8px;
  line-height: 20px;
}

body.network .tooltip .tooltip-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 5px;
  border-color: black;
  z-index: 1;
  display: none;
}

body.network .tooltip[x-placement^="top"] {
  margin-bottom: 5px;
}

body.network .tooltip[x-placement^="top"] .tooltip-arrow {
  border-width: 5px 5px 0 5px;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  bottom: -5px;
  left: -webkit-calc(50% - 5px);
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}

body.network .tooltip[x-placement^="bottom"] {
  margin-top: 5px;
}

body.network .tooltip[x-placement^="bottom"] .tooltip-arrow {
  border-width: 0 5px 5px 5px;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-top-color: transparent !important;
  top: -5px;
  left: -webkit-calc(50% - 5px);
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}

body.network .tooltip[x-placement^="right"] {
  margin-left: 5px;
}

body.network .tooltip[x-placement^="right"] .tooltip-arrow {
  border-width: 5px 5px 5px 0;
  border-left-color: transparent !important;
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
  left: -5px;
  top: -webkit-calc(50% - 5px);
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

body.network .tooltip[x-placement^="left"] {
  margin-right: 5px;
}

body.network .tooltip[x-placement^="left"] .tooltip-arrow {
  border-width: 5px 0 5px 5px;
  border-top-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  right: -5px;
  top: -webkit-calc(50% - 5px);
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

body.network .tooltip.popover .popover-inner {
  background: #f9f9f9;
  color: black;
  padding: 24px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
}

body.network .tooltip.popover .popover-arrow {
  border-color: #f9f9f9;
}

body.network .tooltip[aria-hidden="true"] {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.15s, visibility 0.15s;
  -o-transition: opacity 0.15s, visibility 0.15s;
  transition: opacity 0.15s, visibility 0.15s;
}

body.network .tooltip[aria-hidden="false"] {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 0.15s;
  -o-transition: opacity 0.15s;
  transition: opacity 0.15s;
}

body.network .progress {
  position: relative;
  display: flex;
}

body.network .progress-track {
  position: absolute;
  top: 5px;
  width: 100%;
  height: 5px;
  background-color: #dfe3e4;
  z-index: -1;
}

body.network .progress-step {
  position: relative;
  width: 100%;
  font-size: 12px;
  text-align: center;
}

body.network .progress-step:last-child:after {
  display: none;
}

body.network .progress-step:before {
  font: 10px/1 FontAwesome;
  content: "\f00c";
  display: flex;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 10px;
  height: 10px;
  background: #fff;
  border: 4px solid #dfe3e4;
  border-radius: 100%;
  color: #fff;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

body.network .progress-step:after {
  content: "";
  position: absolute;
  top: 6px;
  left: 50%;
  width: 0%;
  transition: width 1s ease-in;
  height: 5px;
  background: #dfe3e4;
  z-index: -1;
}

body.network .progress-step.is-active {
  color: #2183dd;
}

body.network .progress-step.is-active:before {
    border: 4px solid #777;
    animation: pulse 2s infinite;
}

body.network .progress-step.is-complete {
  color: #009900;
}

body.network .progress-step.is-complete:before {
  color: #fff;
  background: #009900;
  border: 4px solid transparent;
}

body.network .progress-step.is-complete:after {
  background: #2183dd;
  animation: nextStep 1s;
  animation-fill-mode: forwards;
}

body.network :disabled {
  background-color: darkgray;
}

body.network .node_stats {
  th {
      vertical-align: middle;
  }

  table {
    td {
      padding: 0.5em;
    }
  }
}

body.network {
  .draggable {
    cursor: move;
  }

  .map {
    background-color: #262e2b;
  }
}

body.network .bridge_list table {
  border-collapse: separate;
  border-spacing: 5px;
}

.spinner {
  width: 24px;
  height: 24px;
  animation: rotateMe 2s linear infinite;
}

@keyframes rotateMe {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0);
  }
}