/**
 *
 *  Buttons Style
 *
 *  @package gleesik_components
 *
 **/

// Buttons
.button, button {
  background-color: $orange;
  color: $white;
  display: inline-block;
  width: auto;
  max-width: 100%;
  padding: 10px 20px;
  cursor: pointer;
  font-size: $text-font-size-1;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  border: 2px solid $orange;

  @media (max-width: 768px) {
    font-size: $text-font-size-1-xs;
  }

  &.button-focus {
    background-color: $dark-orange;
  }

  &:hover,
  &:active {
    background-color: $dark-orange;
    color: $white;
    filter: drop-shadow(0px 0px 5px $orange);
  }

  &--outline {
    background-color: $white;
    border: 2px solid $orange;
    color: $web-blue;
  }
}



// Links
.link {
  font-size: $text-font-size-1;
  text-transform: uppercase;
  color: $orange;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 700;
  i {
    font-weight: 700;
    font-size: 1.6em;
  }
  &:hover {
    color: $orange;
    filter: drop-shadow(0px 0px 10px $orange);
  }

  &--white {
    color: $white;
  }

  &--arrow {
    position: relative;
    display: inline-block;
    &::after {
      content: '\e684';
      position: absolute;
      font-weight: 700;
      font-size: 1.6em;
      font-family: '7-stroke';
      bottom: -7px;
      line-height: 30px;
    }
  }

  @media (max-width: 768px) {
    font-size: $text-font-size-1-xs;
    &::after {
      bottom: -8px;
    }
  }
}


// CTA Buttons
.button-cta {
  display: inline-block;
  max-width: 100%;
  color: $white;
  border: 2px solid $white;
  padding: 1em 1.5em;
  font-size: 1.25rem;
  font-weight: bold;
  // margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;

  &.button-focus {
    border-color: $primary;
    background-color: $primary;
  }

  &.button-blue {
    color: $primary;
    border-color: $primary;
  }

  &:hover,
  &:active {
    color: $white;
    border-color: lighten($primary, 20%);
    background-color: lighten($primary, 20%);
  }

}

// Buttons Block
button,
.button,
.button-cta {

  &.button-block {
    display: block;
    width: 100%;
  }

}
