/**
 *
 *  Social Icons Style
 *
 *  @package gleesik_components
 *
 **/

.social-icons {
  display: inline-block;
  font-size: 1.75rem;
  margin: 0.5rem 0;

  ul.icons {
    justify-content: center;
    align-items: center;
    flex-direction: row;

    &.global-text-color-icons {
      li {
        a {
          color: $global-text;

          &:hover {
            color: $primary;
          }
        }
      }
    }

    li {
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

}
