/**
 *
 *  Tags Box Style
 *
 *  @package gleesik_components
 *
 **/

ul.tag-cloud-box {
  justify-content: stretch;
  flex-direction: row;
  flex-wrap: wrap;

  li {
    display: inline-block;
    margin: 0px 1px;

    a {
      display: block;
      padding: 8px 12px;
      // color: $simple-gray;
      border: 1px solid $primary;
      line-height: 0.8em;
      height: auto !important;

      &:hover {
        color: $white;
        border-color: $primary;
        background: $primary;
      }
    }
  }

}
