---
layout: default
header-title: Diode Drive Plans and Pricing
header-description:  

stripe: pk_live_51He4M0EGYTHllVn0iPT4hONmdtfrTMXJiLrWbT0e3LjtdstS6AtRlgnAjTZW7z21jWnaRTU9jWshQVRT5SPmWlA500G7L5BNNr

plans:
  - title: Nomad
    description: Try it out!  Great plan for yourself, friends, and family.
    price: 
      yearly: 0
      full-year: 0
      monthly: 0
    action: resources/download
    action-name: Get Nomad
    items:
      - title: E2EE group chat and direct messaging
      - title: E2EE file sharing
      - title: Secure in-app markdown editor
      - title: Secure upload/download web links
      - title: Unlimited storage
      - title: 3 team members
      - title: 1 group chat channel
      - title: 3 web links
      
  - title: Freelancer
    description: Great fit for independent professionals.
    price: 
      yearly: 8
      full-year: 96
      monthly: 10
    id:
      yearly: price_1IET4eEGYTHllVn0KLQTQOmk
      monthly: price_1IET4eEGYTHllVn0GJvaFrOP
    action-name: Order now
    items:
      - title: All Nomad +
      - title: File backup
      - title: Invitation codes
      - title: 10 team members
      - title: 3 group chat channels
      - title: 20 web links
      - title: Basic support

  - title: Business
    description: Perfect for small businesses and multi-site operations.
    price:
      yearly: 40
      full-year: 480
      monthly: 50
    id:
      yearly: price_1IET4XEGYTHllVn0xPwXihpr
      monthly: price_1IET4XEGYTHllVn0rZD0UVlt
    action-name: Order now
    items:
      - title: All Freelancer +
      - title: Custom link branding
      - title: 20+ team members
      - title: 100 group chat channels
      - title: 100 web links
      - title: Premium support

items:
  - title: Drives
    plans:
      - monthly: <div class="ammount">1</div><div class="ammount--tip">+ $5 / Drive / Mo</div>
        yearly: <div class="ammount">1</div><div class="ammount--tip">+ $4 / Drive / Mo</div>
      - monthly: <div class="ammount">1</div><div class="ammount--tip">+ $5 / Drive / Mo</div>
        yearly: <div class="ammount">1</div><div class="ammount--tip">+ $4 / Drive / Mo</div>
      - monthly: <div class="ammount">1</div><div class="ammount--tip">+ $20 / Drive / Mo</div>
        yearly: <div class="ammount">1</div><div class="ammount--tip">+ $16 / Drive / Mo</div>
  - title: Users / Shares
    plans:
      - monthly: <div class="has-asterisk">Unlimited*</div>
        yearly: <div class="has-asterisk">Unlimited*</div>
      - monthly: <div class="ammount has-asterisk">10*</div><div class="ammount--tip">+ $3 / User / Mo</div>
        yearly: <div class="ammount has-asterisk">10*</div><div class="ammount--tip">+ $2 / User / Mo</div>
      - monthly: <div class="ammount has-asterisk">20*</div><div class="ammount--tip">+ $6 / User / Mo</div>
        yearly: <div class="ammount has-asterisk">20*</div><div class="ammount--tip">+ $5 / User / Mo</div>
  - title: Storage
    plans:
      - monthly: Unlimited
        yearly: Unlimited
      - monthly: Unlimited
        yearly: Unlimited
      - monthly: Unlimited
        yearly: Unlimited
  - title: Link Sharing
    plans:
      - monthly: No
        yearly: No
      - monthly: Yes
        yearly: Yes
      - monthly: Data Room
        yearly: Data Room
  - title: Web Access
    plans:
      - monthly: No
        yearly: No
      - monthly: Yes
        yearly: Yes
      - monthly: Yes
        yearly: Yes
  - title: Sub-Folder Permissions
    plans:
      - monthly: No
        yearly: No
      - monthly: Yes
        yearly: Yes
      - monthly: Administrated
        yearly: Administrated
  - title: Versions
    plans:
      - monthly: No
        yearly: No
      - monthly: No
        yearly: No
      - monthly: Yes
        yearly: Yes
  - title: Backup / Headless
    plans:
      - monthly: Via Share
        yearly: Via Share
      - monthly: On Premise
        yearly: On Premise
      - monthly: Hosted
        yearly: Hosted
  - title: QOS
    plans:
      - monthly: Per Availability
        yearly: Per Availability
      - monthly: Basic
        yearly: Basic
      - monthly: Premium
        yearly: Premium
  - title: Support
    plans:
      - monthly: None
        yearly: None
      - monthly: Basic
        yearly: Basic
      - monthly: Premium
        yearly: Premium

---

{% include header.html %}
{% include breadcrumbs.html %}

{% include sections/products-pricing.html %}
