---
layout: default
header-title: Plans and Pricing
header-description: Our mission is to enable private, secure, and affordable communications. 

stripe: pk_test_51He4M0EGYTHllVn0oQq2Xv6KHJzO9w0A2JpOBPFmRC9cGdGSTAg7n5XFkKoHN21L0Fik4Bqi9eeY2YPz7nIRMsgq00EugxB144

plans:
  - title: Nomad
    description: Try it out!  Great plan for yourself, friends, and family.
    price: 
      yearly: 0
      full-year: 0
      monthly: 0
    action: resources/download
    action-name: Get Nomad
    items:
      - title: Unlimited storage
      - title: Private drive collaboration
      - title: File sharing via link
      
  - title: Freelancer
    description: Great fit for independent professionals.
    price: 
      yearly: 8
      full-year: 96
      monthly: 10
    id:
      yearly: price_1ICXyuEGYTHllVn09mefQMzF
      monthly: price_1ICXz1EGYTHllVn0N2I5Ynmm
    action-name: Order now
    items:
      - title: All Nomad +
      - title: Up to 3 Collaborators
      - title: Password protected links
      - title: Basic support

  - title: Business
    description: Perfect for small businesses and multi-site operations.
    price:
      yearly: 40
      full-year: 480
      monthly: 50
    id:
      yearly: price_1ICXsYEGYTHllVn0KnTpaITr
      monthly: price_1ICXsHEGYTHllVn03GqLzBPv
    action-name: Order now
    items:
      - title: All Freelancer +
      - title: Up to 10 Collaborators
      - title: Premium support

items:
  - title: Drives
    plans:
      - monthly: <div class="ammount">1</div><div class="ammount--tip">+ $5 / Drive / Mo</div>
        yearly: <div class="ammount">1</div><div class="ammount--tip">+ $4 / Drive / Mo</div>
      - monthly: <div class="ammount">1</div><div class="ammount--tip">+ $5 / Drive / Mo</div>
        yearly: <div class="ammount">1</div><div class="ammount--tip">+ $4 / Drive / Mo</div>
      - monthly: <div class="ammount">1</div><div class="ammount--tip">+ $20 / Drive / Mo</div>
        yearly: <div class="ammount">1</div><div class="ammount--tip">+ $16 / Drive / Mo</div>
  - title: Users / Shares
    plans:
      - monthly: <div class="has-asterisk">Unlimited*</div>
        yearly: <div class="has-asterisk">Unlimited*</div>
      - monthly: <div class="ammount has-asterisk">10*</div><div class="ammount--tip">+ $3 / User / Mo</div>
        yearly: <div class="ammount has-asterisk">10*</div><div class="ammount--tip">+ $2 / User / Mo</div>
      - monthly: <div class="ammount has-asterisk">20*</div><div class="ammount--tip">+ $6 / User / Mo</div>
        yearly: <div class="ammount has-asterisk">20*</div><div class="ammount--tip">+ $5 / User / Mo</div>
  - title: Storage
    plans:
      - monthly: Unlimited
        yearly: Unlimited
      - monthly: Unlimited
        yearly: Unlimited
      - monthly: Unlimited
        yearly: Unlimited
  - title: Link Sharing
    plans:
      - monthly: No
        yearly: No
      - monthly: Yes
        yearly: Yes
      - monthly: Data Room
        yearly: Data Room
  - title: Web Access
    plans:
      - monthly: No
        yearly: No
      - monthly: Yes
        yearly: Yes
      - monthly: Yes
        yearly: Yes
  - title: Sub-Folder Permissions
    plans:
      - monthly: No
        yearly: No
      - monthly: Yes
        yearly: Yes
      - monthly: Administrated
        yearly: Administrated
  - title: Versions
    plans:
      - monthly: No
        yearly: No
      - monthly: No
        yearly: No
      - monthly: Yes
        yearly: Yes
  - title: Backup / Headless
    plans:
      - monthly: Via Share
        yearly: Via Share
      - monthly: On Premise
        yearly: On Premise
      - monthly: Hosted
        yearly: Hosted
  - title: QOS
    plans:
      - monthly: Per Availability
        yearly: Per Availability
      - monthly: Basic
        yearly: Basic
      - monthly: Premium
        yearly: Premium
  - title: Support
    plans:
      - monthly: None
        yearly: None
      - monthly: Basic
        yearly: Basic
      - monthly: Premium
        yearly: Premium

---

{% include header.html %}
{% include breadcrumbs.html %}

{% include sections/products-pricing.html %}
