---
layout: default
header-title: Payment Succeeded!
header-description: Our mission is to enable private, secure, and affordable communications. 
---

{% include header.html %}
{% include breadcrumbs.html %}

<!-- Products Section -->
<section class="site-section section-focus products-pricing-section" id="products-pricing">
  <div class="container">

    <!-- Products Pricing Page Title -->
    <h2 class="site-section__title">{{ page.header-title }}</h2>

    <!-- Products Pricing Page Description -->
    <h3 class="products-section__description">
        Congrats your payment was successfully processed. You should receive shortly an email with the receipt. In the meantime go ahead
        and <a href="/resources/download/">download & install</a> dDrive on your computer.
  
    </h3>

    <!-- Contact us -->
    <div class="products-pricing__contact-us">
      <a id="contact-us" class="button button--outline" href="/resources/download/">
        DOWNLOAD NOW
      </a>
    </div>
  </div>
</section>
