{% if page.author %}
{% assign author = site.team | where: 'name', page.author | first %}
{% endif %}
{% if page.type == "team" %}
{% assign author = page %}
{% endif %}

{% if author %}
<!-- About Widget -->
<div class="widget about-widget">

  <!-- Widget Header -->
  <header class="widget-header">
    <h4 class="widget-title">About Me</h4>
  </header>

  <!-- Widget Content -->
  <div class="widget-content">

    <div class="row">
      <div class="col-sm-6">
        <img src="{{ site.baseurl }}/images/avatars/{{ author.avatar }}" alt="Avatar Profile Image">
        <div class="social-icons">
          <ul class="icons global-text-color-icons">
            <li><a href="{{ author.linkedin }}" target="_blank"><i class="fi flaticon-linkedin"></i></a></li>
            <li><a href="{{ author.twitter }}" target="_blank"><i class="fi flaticon-twitter"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="info clearfix">
          <h4 class="author-name">{{ author.name }}</h4>
          <h5 class="author-info">{{ author.jobtitle }}</h5>
          <hr class="medium">
        </div>
        <p class="author-text">{{ author.content }}</p>
      </div>
    </div>

  </div>

</div>
{% endif %}