<!-- Newsletter Widget -->
<div class="widget newsletter-widget">

  <!-- Widget Header -->
  <header class="widget-header">
    <h4 class="widget-title">Newsletter</h4>
  </header>

  <!-- Widget Content -->
  <div class="widget-content">

    <!--[if lte IE 8]>
    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
    <![endif]-->
    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
    <script>
    hbspt.forms.create({
        portalId: "508291",
        formId: "78a9ec8c-db4f-4e96-9f25-7f484997c38d",
        css: '',
        cssRequired: '',
        cssClass: 'newsletter-email-signup',
        submitButtonClass: 'button button-focus button-subscribe',
        locale: 'en',
        translations: {
          en: {
            submitText: "Subscribe",
          }
        }
    });
    </script>

  </div>

</div>
