---
layout: ""
---


<!DOCTYPE html>
<html lang="en">

<head>
    <title>Diode℠ Testnet Status</title>
    <meta charset="utf-8">
    <!-- From example https://vuejs.org/v2/guide/computed.html -->
    <script src="https://cdn.jsdelivr.net/npm/lodash"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-router"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css"></link>
    <link rel="shortcut icon" href="/images/favicon.png" title="Favicon"></link>
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet"></link>
</head>

<body>
    <div class="banner">
        <h1>Diode℠ Testnet Status</h1>
    </div>
    <div id="app">
        <div class="host" v-bind:class="host.status" v-for="host in hosts" v-key="host.name">
            <div class="head">
                <div class="title"><% host.name %></div>
                <div class="status"><% host.status %></div>
            </div>
            <div class="svg">
                <div :style="{ left: left, top: top }" id="hover" v-html="descr"></div>
                <svg :view-box.camel="'0 0 ' + (host.data.length*4) + ' ' + 100" :transform="'scale(1 ' + Math.max(1, (host.data.length/250)) + ')'" @mouseOver="mouseOver(event, host)">
                    <line :x1="i*4" :x2="i*4" y1="1" y2="100" v-bind:class="status" :key="i" v-for="(status, i) in host.data"></line>
                    <line v-for="i in host.days" :x1="i*4" :x2="i*4" y1="1" y2="100" class="day"></line>
                </svg>
            </div>
            <div class="body">
                <div class="info" v-show="host.uptime"><% Math.round(host.uptime*100000)/1000 %>% uptime</div>
                <div class="info" v-show="host.longest"><% host.longest %> minutes since last disconnect</div>
            </div>
        </div>
    </div>
    <script type="module">
        // let url = 'http://localhost:8080'
        let url = 'https://monitor.testnet.diode.io'
        let app = new Vue({
            el: '#app',
            data: {
                hosts: {},
                descr: '',
                left: '0px',
                top: '0px',
            },
            delimiters: ["<%", "%>"],
            methods: {
                mouseOver: _.throttle(function(evt, host) {
                    let div = evt.target.parentElement;
                    while (div.className != 'svg') {
                        div = div.parentElement;
                    }
                    let rect = div.getBoundingClientRect();
                    let target = evt.target;
                    let desc = '';
                    if (target.tagName === 'line') {
                        desc += `${target.classList[0]}<br />`;
                    }
                    let x = (evt.clientX - rect.left + 10);
                    if (x + rect.left + 100 > document.body.clientWidth) {
                        x = document.body.clientWidth - 100 - rect.left;
                    }
                    this.left = x + 'px';
                    this.top = (evt.clientY - rect.top - 60) + 'px';
                    x = (host.data.length*host.interval) * evt.layerX/rect.width;

                    let t = new Date((host.start + x) * 1000);
                    desc += t.toISOString().slice(5, 16);
                    this.descr = desc;
                }, 100)
            }
        })

        let opt = {
            headers: {
                'Content-Type': 'application/json'
            }
        }

        function refresh() {
            axios.get(url + "/", opt).then(response => {
                // console.log("Got", response.data)
                for (let k in response.data) {
                    if (app.hosts[k]) continue;
                    let entry = { name: response.data[k], data: [], status: 'Unknown' }
                    // app.hosts[k] = entry
                    app.$set(app.hosts, k, entry)
                    refreshHost(k)
                }
                setTimeout(refresh, 25000)
            })
        }
        function refreshHost(name) {
            axios.get(url + "/" + name, opt).then(response => {
                let up = 0;
                let uptime = 0;
                let interval = 60;
                let start = response.data.start;
                let end = Math.floor(Date.now() / 1000)
                let data = []
                let days = []
                let status = "Unknown"
                for (let i = 0; start + (i * interval) < end; i++) {
                    status = "Unknown"
                    if (Math.round(start/interval + i) % 1440 == 0) {
                        days.push(i)
                    }
                    switch (response.data.data[i]) {
                        default:
                            if (start + ((i + 1) * interval) >= end) {
                                continue;
                            }
                            status = "Unknown";
                            uptime = 0;
                            break;
                        case 1:
                            up++;
                            uptime++;
                            status = "Up";
                            break;
                        case 2:
                            status = "Slow";
                            uptime = 0;
                            break;
                        case 3:
                            status = "Problem";
                            uptime = 0;
                            break;
                        case 4:
                            status = "Problem2";
                            uptime = 0;
                            break;
                    }
                    data.push(status)
                }
                up = up / data.length;

                let target = 1000;
                let sampling = data.length > target;
                if (sampling) {
                    let samples = []
                    let sample_rate = data.length/target;
                    for (let i = 0; i < data.length; i += sample_rate) {
                        samples.push(data[Math.round(i)])
                    }
                    interval = interval * sample_rate
                    data = samples;
                    days = days.map(i => i / sample_rate)
                }


                app.$set(app.hosts[name], 'start', start);
                app.$set(app.hosts[name], 'data', data);
                app.$set(app.hosts[name], 'days', days);
                app.$set(app.hosts[name], 'interval', interval);
                app.$set(app.hosts[name], 'status', status);
                app.$set(app.hosts[name], 'uptime', up);
                app.$set(app.hosts[name], 'longest', uptime);
                setTimeout(() => refreshHost(name), 60000)
            })
        }
        refresh()
    </script>
</body>

</html>