---
layout: ""
---


<!DOCTYPE html>
<html lang="en">

<head>
    <title>Testnet</title>
    <meta charset="utf-8">
    <!-- From example https://vuejs.org/v2/guide/computed.html -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-router"></script>
    <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.0.0-beta.36/dist/web3.min.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
    </link>
</head>

<body>
    {% include_relative vue/fleet_registration.vue %}
    {% include_relative vue/power_distribution.vue %}
    <div id="app">
        <ul class="navbar">
            <li v-for="r in routes">
                <router-link :to="r.path"><% r.name %></router-link>
            </li>
        </ul>

        <transition>
            <keep-alive>
                <router-view></router-view>
            </keep-alive>
        </transition>
    </div>

    <script>

        let web3 = new Web3('wss://testnet.diode.io:8443/ws')
        // let web3 = new Web3('ws://localhost:8545/ws')

        web3.extend({
            property: 'eth',
            methods: [{
                name: 'getCodeHash',
                call: 'eth_getCodeHash',
                params: 2,
                inputFormatter: [web3.extend.formatters.inputAddressFormatter, web3.extend.formatters.inputDefaultBlockNumberFormatter]
                // outputFormatter: web3.utils.hexToNumberString
            }]
        });

        let Registry = "0x5000000000000000000000000000000000000000"

        var routes = [
            {name: 'Power Distribution', path: '/', component: PowerDistribution},
            {name: 'Fleet Registration', path: '/fleets', component: FleetRegistration}
        ];

        const app = new Vue({
            data: {
                routes
            },
            router: new VueRouter({
                routes
            }),
            delimiters: ["<%", "%>"]
        }).$mount('#app')


        function resolveName(name) {
            if (!name) return "null"
            switch (name.toLowerCase()) {
                case "0x937c492a77ae90de971986d003ffbc5f8bb2232c": return "beta"
                case "0xceca2f8cf1983b4cf0c1ba51fd382c2bc37aba58": return "gamma"
                case "0x68e0bafdda9ef323f692fc080d612718c941d120": return "alpha"
                default: return name;
            }
        }

        function fetchStake(Main, address) {
            if (!address) return
            let name = resolveName(address)
            let call = web3.eth.abi.encodeFunctionCall({
                name: 'MinerValue',
                type: 'function',
                inputs: [{
                    type: 'uint8',
                    name: 'mode'
                }, {
                    type: 'address',
                    name: 'miner'
                }]
            }, [0, address]);
            return web3.eth.call({
                to: Registry,
                data: call,
                gasPrice: 0
            }).then((value) => {
                Main.$set(Main.stakes, name, {
                    name: name,
                    value: web3.utils.fromWei(web3.utils.toBN(value)).toString()
                })
            })
        }

        function formatUnix(unix_timestamp) {
            // https://stackoverflow.com/questions/847185/convert-a-unix-timestamp-to-time-in-javascript
            let date = new Date(unix_timestamp * 1000);
            // Hours part from the timestamp
            let hours = date.getHours();
            // Minutes part from the timestamp
            let minutes = "0" + date.getMinutes();
            // Seconds part from the timestamp
            let seconds = "0" + date.getSeconds();

            // Will display time in 10:30:23 format
            return hours + ':' + minutes.substr(-2) + ':' + seconds.substr(-2);
        }
    </script>
</body>

</html>