@import url(ttps://fonts.googleapis.com/css?family=Titillium+Web:400);
body {
    font: 16px/1.4em "Titillium Web", Arial, sans-serif;
    background-image: url(background.png);
}

#app {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (min-width: 800px) {
    #app {
        width: 80%;
    }
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul.navbar {
    display: flex;
    flex-direction: row-reverse;
}

ul.navbar li {
    display: block;
    padding-left: 2em;
}

ul.navbar li a {
    color: #111111;
    text-transform: uppercase;
    letter-spacing: 0.08rem;
    text-decoration: none;
    white-space: nowrap;
    font-weight: bold;
    transition: all 300ms ease-in-out;
}

ul.navbar li a.router-link-exact-active, ul.navbar li a:hover {
    color: #F15C2E;
}

ul.navbar li a.router-link-exact-active::before {
    content: '';
    display: block;
    position: relative;
    width: 50%;
    height: 1px;
    left: 50%;
    top: 150%;
    transform: translateX(-50%);
    background-color: #F15C2E;
}

.title {
    text-align: left;
}

.title h1 {
    margin: 0.2em;
    font-weight: normal;
    font-size: 1.3em;
    border-bottom: 1px solid;
    border-color: gray;
}

td.fleet, th.fleet {
    background-color: #ebebeb
}

table.data {
    background-color: #fbfbfb;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

table.data tr:nth-child(2n) {
    background-color: #f2f2f2;
}

table.data th, table.data td {
    text-align: left;
    border: 1px solid #ddd;
    padding: 8px;
}

table.data th.big, table.data td.big {
    word-break: break-all;
}

table.data th {
    white-space: nowrap;
    vertical-align: top;
}


table.data td.big {
    overflow-wrap: anywhere;
}

.ether-value {
    text-align: right;
    font-family: monospace;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.error, .bad {
    color: red;
}

.good, .bad {
    font-weight: bold;
}

.good {
    color: green;
}

.chart-text {
    /*font: 16px/1.4em "Montserrat", Arial, sans-serif;*/
    fill: #000;
    -moz-transform: translateY(0.25em);
    -ms-transform: translateY(0.25em);
    -webkit-transform: translateY(0.25em);
    transform: translateY(0.25em);
}

.chart-number {
    font-size: 0.6em;
    line-height: 1;
    text-anchor: middle;
    -moz-transform: translateY(-0.25em);
    -ms-transform: translateY(-0.25em);
    -webkit-transform: translateY(-0.25em);
    transform: translateY(-0.25em);
}

.chart-label {
    font-size: 0.2em;
    text-transform: uppercase;
    text-anchor: middle;
    -moz-transform: translateY(0.7em);
    -ms-transform: translateY(0.7em);
    -webkit-transform: translateY(0.7em);
    transform: translateY(0.7em);
}

figure {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-left: -15px;
    margin-right: -15px;
}

@media (min-width: 768px) {
    figure {
        flex-direction: row;
    }
}

.figure-title {
    font-weight: bold;
    text-transform: capitalize;
}

.figure-content {
    flex: 2;
    padding-left: 15px;
    padding-right: 15px;
    align-self: center;
}

.figure-key {
    flex: 1;
    padding-left: 15px;
    padding-right: 15px;
    align-self: center;
}

.figure-content svg {
    height: auto;
}

.figure-key {
    min-width: calc(8 / 12);
}

.figure-key [class*="shape-"] {
    margin-right: 6px;
}

.figure-key-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.figure-key-list li {
    margin: 0 0 8px;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.shape-circle {
    display: inline-block;
    vertical-align: middle;
    width: 32px;
    height: 32px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.shape-fuschia {
    background-color: #ce4b99;
}

.shape-lemon-lime {
    background-color: #b1c94e;
}

.shape-blue {
    background-color: #377bbc;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.list-complete-item {
    transition: all 1s;
    /* display: inline-block; */
    margin-right: 10px;
}

.list-complete-enter, .list-complete-leave-to
/* .list-complete-leave-active below version 2.1.8 */

    {
    opacity: 0;
    transform: translateX(-30px);
}

.list-complete-leave-active {
    position: absolute;
}