@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400);
body {
    font: 16px/1.4em "Titillium Web", Arial, sans-serif;
    background-image: url(background.png);
}

#app {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (min-width: 800px) {
    #app {
        width: 80%;
    }
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul.navbar {
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

ul.navbar li {
    display: block;
    padding-left: 2em;
}

ul.navbar li a {
    color: #111111;
    text-transform: uppercase;
    letter-spacing: 0.08rem;
    text-decoration: none;
    white-space: nowrap;
    font-weight: bold;
    transition: all 300ms ease-in-out;
}

ul.navbar li a.router-link-exact-active, ul.navbar li a:hover {
    color: #F15C2E;
}

ul.navbar li a.router-link-exact-active::before {
    content: '';
    display: block;
    position: relative;
    width: 70%;
    height: 1px;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    background-color: #F15C2E;
}

.title {
    text-align: left;
}

.title h1 {
    margin: 0.2em;
    font-weight: normal;
    font-size: 1.3em;
    border-bottom: 1px solid;
    border-color: gray;
}

td.fleet, th.fleet {
    background-color: #ebebeb
}

table.data {
    background-color: #fbfbfb;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

table.data tr:nth-child(2n) {
    background-color: #f2f2f2;
}

table.data th, table.data td {
    text-align: left;
    border: 1px solid #ddd;
    padding: 8px;
}

table.data th.big, table.data td.big {
    word-break: break-all;
}

table.data th {
    white-space: nowrap;
    vertical-align: top;
}


table.data td.big {
    overflow-wrap: anywhere;
}

.ether-value {
    text-align: right;
    font-family: monospace;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.error, .bad {
    color: red;
}

.good, .bad {
    font-weight: bold;
}

.good {
    color: green;
}

.chart-text {
    /*font: 16px/1.4em "Montserrat", Arial, sans-serif;*/
    fill: #000;
    -moz-transform: translateY(0.25em);
    -ms-transform: translateY(0.25em);
    -webkit-transform: translateY(0.25em);
    transform: translateY(0.25em);
}

.chart-number {
    font-size: 0.6em;
    line-height: 1;
    text-anchor: middle;
    -moz-transform: translateY(-0.25em);
    -ms-transform: translateY(-0.25em);
    -webkit-transform: translateY(-0.25em);
    transform: translateY(-0.25em);
}

.chart-label {
    font-size: 0.2em;
    text-transform: uppercase;
    text-anchor: middle;
    -moz-transform: translateY(0.7em);
    -ms-transform: translateY(0.7em);
    -webkit-transform: translateY(0.7em);
    transform: translateY(0.7em);
}

figure {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-left: -15px;
    margin-right: -15px;
}

@media (min-width: 768px) {
    figure {
        flex-direction: row;
    }
}

.figure-title {
    font-weight: bold;
    text-transform: capitalize;
}

.figure-content {
    flex: 2;
    padding-left: 15px;
    padding-right: 15px;
    align-self: center;
}

.figure-key {
    flex: 1;
    padding-left: 15px;
    padding-right: 15px;
    align-self: center;
}

.figure-content svg {
    height: auto;
}

.figure-key {
    min-width: calc(8 / 12);
}

.figure-key [class*="shape-"] {
    margin-right: 6px;
}

.figure-key-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.figure-key-list li {
    margin: 0 0 8px;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.shape-circle {
    display: inline-block;
    vertical-align: middle;
    width: 32px;
    height: 32px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.shape-fuschia {
    background-color: #ce4b99;
}

.shape-lemon-lime {
    background-color: #b1c94e;
}

.shape-blue {
    background-color: #377bbc;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.list-complete-item {
    transition: all 1s;
    /* display: inline-block; */
    margin-right: 10px;
}

.list-complete-enter, .list-complete-leave-to
/* .list-complete-leave-active below version 2.1.8 */

    {
    opacity: 0;
    transform: translateX(-30px);
}

.list-complete-leave-active {
    position: absolute;
}

.button {
    background-color: white;
    border-color: #dbdbdb;
    border-width: 1px;
    color: #363636;
    cursor: pointer;
    justify-content: center;
    padding-bottom: calc(0.5em - 1px);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: calc(0.5em - 1px);
    text-align: center;
    white-space: nowrap;
  }
  
  .button strong {
    color: inherit;
  }
  
  .button .icon, .button .icon.is-small, .button .icon.is-medium, .button .icon.is-large {
    height: 1.5em;
    width: 1.5em;
  }
  
  .button .icon:first-child:not(:last-child) {
    margin-left: calc(-0.5em - 1px);
    margin-right: 0.25em;
  }
  
  .button .icon:last-child:not(:first-child) {
    margin-left: 0.25em;
    margin-right: calc(-0.5em - 1px);
  }
  
  .button .icon:first-child:last-child {
    margin-left: calc(-0.5em - 1px);
    margin-right: calc(-0.5em - 1px);
  }
  
  .button:hover, .button.is-hovered {
    border-color: #b5b5b5;
    color: #363636;
  }
  
  .button:focus, .button.is-focused {
    border-color: #3273dc;
    color: #363636;
  }
  
  .button:focus:not(:active), .button.is-focused:not(:active) {
    box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
  }
  
  .button:active, .button.is-active {
    border-color: #4a4a4a;
    color: #363636;
  }

.button[disabled] {
  background-color: white;
  border-color: #dbdbdb;
  box-shadow: none;
  opacity: 0.5;
}

.headtable {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.headtable .doclet {
    flex-grow: 1;
    margin: 3px;
    padding: 5px;
    background-color: gainsboro;
}

.headtable .doclet h2 {
    margin: 0px;
    font-size: 1.2em;
}

.network path {
    fill-rule: evenodd;
    fill: wheat;
}

.network text {
    dominant-baseline: middle;
    font-size: 120%;
}

.network circle {
    r: 8px;
    fill: #3437e2;
    stroke: black;
    stroke-width: 2px;
}

.network circle.self {
    fill: #3437e2;
}

.network circle.connected {
    fill: #8ae234;
}

.network line.connected {
    stroke: #8ae234;
    stroke-width: 3px;
}

.network line {
    stroke: none;
    stroke-width: 3px;
}

.network circle.notConnected {
    fill: gainsboro;
}

.tooltip {
    display: block !important;
    z-index: 10000;
  }
  
  .tooltip .tooltip-inner {
    background: black;
    color: white;
    border-radius: 16px;
    padding: 5px 10px 4px;
  }
  
  .tooltip .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
    border-color: black;
    z-index: 1;
  }
  
  .tooltip[x-placement^="top"] {
    margin-bottom: 5px;
  }
  
  .tooltip[x-placement^="top"] .tooltip-arrow {
    border-width: 5px 5px 0 5px;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-bottom-color: transparent !important;
    bottom: -5px;
    left: calc(50% - 5px);
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .tooltip[x-placement^="bottom"] {
    margin-top: 5px;
  }
  
  .tooltip[x-placement^="bottom"] .tooltip-arrow {
    border-width: 0 5px 5px 5px;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-top-color: transparent !important;
    top: -5px;
    left: calc(50% - 5px);
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .tooltip[x-placement^="right"] {
    margin-left: 5px;
  }
  
  .tooltip[x-placement^="right"] .tooltip-arrow {
    border-width: 5px 5px 5px 0;
    border-left-color: transparent !important;
    border-top-color: transparent !important;
    border-bottom-color: transparent !important;
    left: -5px;
    top: calc(50% - 5px);
    margin-left: 0;
    margin-right: 0;
  }
  
  .tooltip[x-placement^="left"] {
    margin-right: 5px;
  }
  
  .tooltip[x-placement^="left"] .tooltip-arrow {
    border-width: 5px 0 5px 5px;
    border-top-color: transparent !important;
    border-right-color: transparent !important;
    border-bottom-color: transparent !important;
    right: -5px;
    top: calc(50% - 5px);
    margin-left: 0;
    margin-right: 0;
  }
  
  .tooltip.popover .popover-inner {
    background: #f9f9f9;
    color: black;
    padding: 24px;
    border-radius: 5px;
    box-shadow: 0 5px 30px rgba(black, .1);
  }
  
  .tooltip.popover .popover-arrow {
    border-color: #f9f9f9;
  }
  
  .tooltip[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    transition: opacity .15s, visibility .15s;
  }
  
  .tooltip[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: opacity .15s;
  }