{% assign _dl = site.links.download.url %}
<a href="{% if _dl contains '://' %}{{ _dl }}{% else %}{{ _dl | relative_url }}{% endif %}" class="btn header__download"{% if _dl contains '://' %} target="_blank" rel="noopener noreferrer"{% endif %}>{{ site.links.download.title }}</a>
