<figure class="{{ include.class | default: "logo" }}">
    <a href="{{ "/" | relative_url }}"><img src="{{ "logo.svg" | prepend: site.path.images | relative_url }}" width="129" height="42" alt="{{ site.name }}"></a>
</figure>