<div class="{{ include.class | default: "security" }}">
    {%- if site.security.title -%}<p class="h3">{{ site.security.title }}</p>{% endif %}
    {%- if site.security.content -%}<p>{{ site.security.content }}</p>{% endif %}
</div>