---
layout: default
class: docs
---

{% include header-page.html %}

<!-- Page Section -->
<section class="site-section docs-layout" id="start">
    <div class="container">

        <!-- Page Layout -->
        <div class="row docs-row">
            <!-- Small sidebar -->
            <div class="nav-sidebar hidden-lg hidden-md">
                TOC
            </div>

            <!-- Sidebar -->
            <div class="col col-sidebar">
                {% include docs-sidebar.html %}
            </div>

            <!-- Content -->
            <div class="col col-content">
                <!-- Docs Section -->
                <section class="site-section docs-section" id="docs">
                    <!-- Section Heading -->
                    <div class="row header-row">
                        <header class="col-sm-10 section-header text-center">
                            <div class="edit">
                                <h2>{{ page.title }}
                                <a href="https://github.com/diodechain/website/edit/master/{{ page.path }}">Edit</a></h2>
                            </div>
                            <hr class="normal">
                            <p>{{ page.tagline }}</p>
                        </header>
                    </div>
                    {{ content }}
                </section>
            </div>

        </div>

    </div>
</section>

<!-- Docs Section -->