---
layout: default
---

{% include header-page.html %}
<!-- Page Section -->
<section class="site-section blog-section page-layout no-sidebar" id="start">
  <div class="container">

    <!-- Page Layout -->
    {% unless layout.skip_head == "true" %}
    <div class="row">
      <!-- Content -->
      <div class="col blog-articles-container">
        <h2>
          {% if page.tagline == null %}
            {{ page.type }}
          {% else %}
            {{ page.tagline }}
          {% endif %}
        </h2>
        <h1 class="thin title">{{ page.title }}</h1>
        {% if page.subtitle != null %}
          <h4 class="subtitle">
            {{ page.subtitle }}
          </h4>
        {% endif %}
        <hr class="small">
      </div>
    </div>
    {% endunless %}

    <!-- Page Layout -->
    <div class="row">
      <!-- Content -->
      <div class="col blog-articles-container">
        {{ content }}
      </div>
    </div>
  </div>
</section>

