---
layout: page
skip_head: "true"
tagline: All the updates
title: The Blockchain Journal
---
{% assign author = page %}

<!-- About Widget -->
<div class="widget author-widget">

  <!-- Widget Content -->
  <div class="widget-content">

    <div class="row">
      <div class="col-xs-4 head">
        <img src="images/avatars/{{ author.avatar }}" alt="Avatar Profile Image">
        <div class="social-icons">
          <ul class="icons global-text-color-icons">
            <li><a href="{{ author.linkedin }}" target="_blank"><i class="fi flaticon-linkedin"></i></a></li>
            <li><a href="{{ author.twitter }}" target="_blank"><i class="fi flaticon-twitter"></i></a></li>
            {% if author.github %}
            <li><a class="github" href="{{ author.github }}" target="_blank"><i class="fi flaticon-github"></i></a></li>
            {% endif %}
          </ul>
        </div>
      </div>
      <div class="col-xs-8">
        <div class="info">
          <h4 class="author-name">{{ author.name }}</h4>
          <h5 class="author-info">{{ author.jobtitle }}</h5>
          <hr class="medium">
        </div>
        <p class="author-text">{{ author.content }}</p>
      </div>
    </div>

  </div>

</div>

{% assign posts = site.posts | where: 'author', page.name %}
{% for post in posts %}

  <!-- Blog Article -->
  <div class="post-full">
    <article class="blog-article border-article">

      {% include post-preview.html post=post %}

    </article>
  </div>

{% endfor %}
