---
skip_head: "true"
layout: page
---

<!-- Blog Article -->
<div class="post-full">
  <article class="blog-article blog-single-page">

    <!-- Article Header -->
    <header class="article-header">
      <div class="article-title">
        <h3 class="title">{{ page.title }}</h3>
        {%- if page.author %}
        {% assign author = site.team | where: 'name', page.author | first %}
        <div class="article-author">
          <div class="avatar" style="background-image: url('images/avatars/{{ author.avatar }}'"></div>
          by <a href=".{{ author.url }}">{{ author.name }}</a> 
          | {{ page.date | date: "%B %d, %Y" }}
          | Category: <a href="{{ site.tagurl }}{{ page.tags | first | slugify }}" class="category">#{{ page.tags | first }}</a>

        </div>
        {% endif -%}
      
      </div>
      {% if page.image %}
      <div class="img-wrap">
        <img img class="full" src="images/blog/{{ page.image }}" alt="Article Blog Image">
      </div>
      {% endif %}
    </header>

    <!-- Article Content -->
    <div class="article-content">
      {{ page.content }}
    </div>

    <!-- Article Tool Boxes -->
    <div class="article-boxes">

      <!-- Tags Box -->
      <div class="tags-article box">
        <ul class="tag-cloud-box box-content">
          {% assign tags_list = page.tags %}
            {% if tags_list.first[0] == null %}
              {% for tag in tags_list %}
                <li><a href="{{ site.tagurl }}{{ tag | slugify }}">#{{ tag }}</a></li>
              {% endfor %}
            {% else %}
              {% for tag in tags_list %}
                <li><a href="{{ site.tagurl }}{{ tag[0] | slugify }}">#{{ tag[0] }}</a></li>
              {% endfor %}
            {% endif %}
          {% assign tags_list = nil %}
        </ul>
      </div>

      <section class="offer-section box">

          <div class="col-md-6 col-sm-12 text-center">
            <h2>Follow us on twitter!</h2>
          </div>
          <div class="col-md-6 col-sm-12">
            <a href="https://twitter.com/diode_chain" target="_blank" class="button-cta button-block">@diode_chain</a>
          </div>
      
      </section>
    
      <!-- Share Article Links Box -->
      <div class="share-article box">
        <div class="social-icons box-content">
          <ul class="icons global-text-color-icons">
            <li>
		    <a href="https://twitter.com/share?url={{ site.url }}{{ page.url | url_encode }}&text={{ page.title | url_encode }}" target="_blank">
                <i class="fi flaticon-twitter-c"></i>
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url | url_encode }}" target="_blank">
                <i class="fi flaticon-linkedin-c"></i>
              </a>
            </li>
            <li>
              <a href="https://telegram.me/share/url?url={{ site.url }}{{ page.url | url_encode }}" target="_blank">
                <i class="fi flaticon-telegram-c"></i>
              </a>
            </li>
            <li>
              <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url | url_encode }}" target="_blank">
                <i class="fi flaticon-facebook-c"></i>
              </a>
            </li>
            <li>
              <a href="https://wa.me/?text={{ site.url }}{{ page.url | url_encode }}" target="_blank">
                <i class="fi flaticon-whatsapp-c"></i>
              </a>
            </li>
            <li>
              <input style="position: absolute; top: -9999px;" id="copy" type="text" value="{{ site.url }}{{ page.url }}"/>
              <a onclick="$('#copy').select(); document.execCommand('copy')">
                <i class="pe-7s-paperclip"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>

    </div>

  </article>
</div>
