---
layout: default
header-title: How It Works
header-description: Web3 Technologies On a Mission

video: https://www.youtube-nocookie.com/embed/xt4iyqTJVx8
video2: 

section2: 
  title: No Servers, No It Admins
  description: The Diode Network allows any system on the planet to serve secured content using public Internet without relying on centralized platforms. We're ending the monopoly of datacenter servers, big tech applications, the need for static IP addresses, and the dangerious reliance on decades old, broken, PKI technologies.  

section3:
  title: Key Concepts
  description: The Diode Network is a global server network operated by Diode and others around the world.  These servers all run our open source software that run Smart Contracts which remove the need for custom IT administration.

  items:
    - title: Peer to Peer Communications
      description: People and systems can communicate directly with each other by using the Diode Network.  Systems of all levels of capability (computers, phone, IoT sensor) can exchange information without relying on big tech software applications or infrastructure.  Communications through the Diode Network are 256bit end to end encrypted, and the network handles addressing and routing.
    - title: Unique Identities
      description: Every user on the Diode Network interacts using a Client Identifier.  Each user can have one or more Client Identifiers, and there is no personal identification or pre-shared trust required for a user to establish a Client Identifier.  Every Client's identity is also used for the routing of communications so the terms “Address” and “Identity” are often used interchangeably.
    - title: Sovereignty Zones
      description: Diode Network users can operate in groups called "Sovereignty Zones."  Each user can be part of one or more Sovereignty Zone.  Users inside the Sovereignty Zones are able to share resources and engage in real time collaboration, depending on the applications they have installed.  Diode Network "Fleet Contracts" (smart contracts that implement Sovereignty Zone rules) are used to enforce permissions and capabilities for the Team Members in a Sovereignty Zone.
    - title: Resilient Digital Footprint
      description: Every Client Address is able to publish capabilities and digital resources - such as a file or a website.  If the Client is operating as part of a Sovereignty Zone, and multiple Sovereignty Zone members also have the ability to publish the resources, the Diode Network will intelligently route internal and external communications so that the published capabilities and resources leverage the combined capacity of all members.  This, combined with the inherently decentralized nature of the core Diode Network nodes, can create a very resilient external footprint for each Sovereignty Zone.

---

{% include header.html %}

{% include breadcrumbs.html %}

{% include sections/how-it-works.html %}
