---
layout: default
### Hero Section
hero-title: Transfer files privately and securely
hero-xs-title: Transfer files privately and securely
hero-action-link: resources/download/#diode-drive-download
hero-action-text: Download Diode Drive

page-title: Secure File Transfer
page-description: Share and receive confidential files without email and with zero IT admin. 
solution-bg-image: images/lp-work-desk.jpg
solutions:
  - title: No Cloud Uploads
    description: Files are shared directly between you and the other party. Your files never need to be uploaded to cloud storage.
  - title: Easy Browser Access
    description: Send a link to the file or folder via email, chat, or other method - your client can download and upload via their web browser.
  - title: Permissions and Security
    description: Each file link can be configured with the appropriate level of security, and your recipients' contact information is never exposed.

gs-title: Install and setup a transfer link in less than 2 minutes
### gs-image: https://stoffe.kawaiifabric.com/images/product_images/large_img/black-mesh-fabric-223630-1.jpg
gs-video: https://player.vimeo.com/video/562684103
gs-description: If you need to share sensitive files and data with your clients, Diode Drive is a great solution.  Traditional solutions, like FTP, are costly to setup and maintain.  Modern cloud storage solutions don't have the level of security and privacy required.
gs-action-link: resources/download/#diode-drive-download
gs-action-text: Get Diode Drive!

---

{% include header.html %}
{% include sections/hero-lp.html %}
<br/>
{% include sections/solutions.html %} 
{% include sections/get-started.html %} 
{% include breadcrumbs.html %}

