---
layout: default
### Hero Section
hero-title: Share your files privately
hero-xs-title: Share your files privately
hero-action-link: resources/download/#diode-drive-download
hero-action-text: Get Diode

page-title: Secure File Sharing
page-description: Share large or confidential files without email, and without uploading to the cloud.
solution-bg-image: images/design-engineer.jpg
solutions:
  - title: No Uploads
    description: Files are shared directly from your computer or other synchronized peer.  Your files never need to be uploaded to cloud storage.
  - title: Send a Link
    description: Files are shared via link.  You can send the link via email, chat, or other method - even if the other person doesn't have an account.
  - title: Permissions and Security
    description: Each file link can be configured with the appropriate level of security, and your recipients' contact information is never exposed.

gs-title: Get Started in 3 Easy Steps
### gs-image: https://stoffe.kawaiifabric.com/images/product_images/large_img/black-mesh-fabric-223630-1.jpg
gs-video: https://player.vimeo.com/video/551847182
gs-description: 1. Download and install the Diode Drive app.</br>2. Follow the guided process to set up your sharing zone.</br>3. Start sharing your files with confidence and security.
gs-action-link: resources/download/#diode-drive-download
gs-action-text: Get Diode!

---

{% include header.html %}
{% include sections/hero-lp.html %}
<br/>
{% include sections/solutions.html %} 
{% include sections/get-started.html %} 
{% include breadcrumbs.html %}

