.form-group {
  margin-bottom: 6px;
  position: relative;
}

.form-label {
  margin: 0 0 16px;
  display: block;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
}

.form-control {
  min-width: 200px;
  padding: 16px 32px;
  border: 2px solid black;
  border-radius: 28px;
  font: 13px/20px $font-default;
  display: inline-block;
  vertical-align: top;
  color: $color-dark;
  background: white;
  -webkit-appearance: none;
  box-shadow: none;
  outline: none !important;
  &::placeholder { color: $color-dark; transition: opacity $effect-s; @include user-select; }
  &:focus::placeholder { opacity: 0; }
}

textarea.form-control {
  resize: none;
}

.btn {
  min-width: 140px;
  padding: 10px 20px;
  border: 2px solid $color-orange;
  border-radius: 28px;
  display: inline-block;
  position: relative;
  font: 12px/18px $font-default;
  color: white;
  letter-spacing: .02em;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: top;
  white-space: nowrap;
  text-align: center;
  background: $color-orange;
  transition: border-color $effect, background-color $effect;
  cursor: pointer;
  outline: none;
  @include user-select;
  @include media-breakpoint-up(md) {
    min-width: 189px;
    padding: 14px 28px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (hover: hover) {
    &:hover, &:focus {border-color: black;background-color: black;}
  }

  &--bordered {
    background-color: transparent;
    @media (hover: hover) {
      &:hover, &:focus {
        border-color: white;
        background-color: transparent;
      }
    }
  }

  &--blank {
    min-width: 0;
    padding: 12px 4px;
    border: none;
    border-radius: 0;
    color: $color-orange;
    background-color: transparent;
    transition: color $effect;
    @include media-breakpoint-up(md) {
      padding: 16px 12px;
    }
    @media (hover: hover) {
      &:hover, &:focus {
        border-color: transparent;
        color: black;
        background-color: transparent;
      }
    }
  }
}