.form-group {
  margin-bottom: 6px;
  position: relative;
}

.form-label {
  margin: 0 0 16px;
  display: block;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
}

.form-control {
  min-width: 200px;
  padding: 16px 32px;
  border: 2px solid black;
  border-radius: 28px;
  font: 13px/20px $font-default;
  display: inline-block;
  vertical-align: top;
  color: $color-dark;
  background: white;
  -webkit-appearance: none;
  box-shadow: none;
  outline: none !important;
  &::placeholder { color: $color-dark; transition: opacity $effect-s; @include user-select; }
  &:focus::placeholder { opacity: 0; }
}

textarea.form-control {
  resize: none;
}

.btn {
  min-width: 140px;
  padding: 10px 20px;
  border: 2px solid $color-orange;
  border-radius: 28px;
  display: inline-block;
  position: relative;
  font: 13px/18px $font-default;
  color: white;
  letter-spacing: .02em;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: top;
  white-space: nowrap;
  text-align: center;
  background: $color-orange;
  transition: color $effect-s, border-color $effect, background-color $effect;
  outline: none;
  @include media-breakpoint-up(md) {
    min-width: 189px;
    padding: 14px 28px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (hover: hover) {
    &:hover, &:focus {
      color: black;
      background-color: transparent;
    }
  }

  &--bordered {
    color: black;
    background-color: transparent;
    @media (hover: hover) {
      &:hover, &:focus {
        border-color: black;
        background-color: transparent;
      }
    }
  }

  &--blank {
    min-width: 0;
    padding: 12px 0;
    border: none;
    border-radius: 0;
    color: $color-orange;
    background-color: transparent;
    transition: color $effect;
    @include media-breakpoint-up(md) {
      padding: 16px 0;
    }
    @media (hover: hover) {
      &:hover, &:focus {
        border-color: transparent;
        color: black;
        background-color: transparent;
      }
    }
  }

  &--arrow {
    transition: none;
    @include media-breakpoint-up(xl) {
      position: relative;
      left: 11px;
    }
    &::after {
      @include pseudo;
      width: 13px;
      height: 14px;
      margin-left: 5px;
      display: inline-block;
      vertical-align: middle;
      position: relative;
      top: -1px;
      background: url($icon-arrow) no-repeat center center;
      background-size: contain;
      @include media-breakpoint-up(md) {
        width: 15px;
        height: 16px;
        margin-left: 8px;
      }
      @include media-breakpoint-up(xl) {
        width: 17px;
        height: 16px;
        margin-left: 5px;
      }
    }
    @media (hover: hover) {
      &:hover, &:focus {
        &::after {
          -webkit-filter: brightness(0%);
          filter: brightness(0%);
        }
      }
    }
  }

  &--small {
    min-height: 56px;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    line-height: 18px;
    @media (hover: hover) {
      &:hover, &:focus {
        color: white;
        background-color: $color-orange;
      }
    }
  }
}