// ==========================================================================
// VARIABLES
// ========================================================================== */
$min-width: 320px;

// Media Breakpoints
$grid-breakpoints: (
  xs: 0,
  xss: 360px,
  xsm: 375px,
  xsl: 420px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
  xxxl: 1600px
) !default;

// Path
$img: '../img';

// Fonts
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
$font-default: 'IBM Plex Mono', monospace;
$font-heading: Poppins, sans-serif;

// Colors
$color-orange: #f15d2f;
$color-indigo: #1e2739;
$color-dark: #161c2a;

// Transition
$easing: ease;
$bezier: cubic-bezier(.645, .045, .355, 1);
$bezier-reverse: cubic-bezier(.355, .045, .645, 1);
$effect: .3s $easing;
$effect-s: .2s $easing;

// SVG Icons
$icon-download: 'data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOSIgaGVpZ2h0PSIyMCIgZmlsbD0ibm9uZSI+PGcgY2xpcC1wYXRoPSJ1cmwoI2EpIj48cGF0aCBmaWxsPSIjRjE1RDJGIiBkPSJNMCAxNy42OFYyMGgxOXYtMi4zMkgwWm0xNy4yNTQtNy45OS03LjcyOSA2LjY0OS03LjU1Mi02LjY2TDMuNDYgNy45MjdsNS4wMjQgNC40MzFWMGgyLjI3M3YxMi4yNDZsNS4wMzMtNC4zMyAxLjQ2NCAxLjc3M1oiLz48L2c+PGRlZnM+PGNsaXBQYXRoIGlkPSJhIj48cGF0aCBmaWxsPSIjZmZmIiBkPSJNMCAwaDE5djIwSDB6Ii8+PC9jbGlwUGF0aD48L2RlZnM+PC9zdmc+';

// Mixins
@mixin pseudo {content: '';display: block;overflow: hidden;}
@mixin clearfix {content: '';display: table;clear: both;}
@mixin user-select {-webkit-touch-callout: none;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}