---
layout: page
title: Download
subtitle: Get started with Diode℠ in just few seconds!
---

<!-- fontawesome -->
<script src="https://kit.fontawesome.com/d8bb285f40.js" crossorigin="anonymous"></script>

<!-- Download Section -->
<section class="download-section" id="download">
  <div class="container">

    <!-- Download Pre-Built Binaries -->
    <div class="row">
      <div class="col-md-12 col-md-push-0 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
        <div class="download-header">
          <p>Copy & paste below line into a terminal to install the Diode client for your current user on macOS, Linux, Raspberry Pi (or Windows if you have curl).</p>
          <code style="font-size: 120%;">
            <span class="noselect">$ </span>curl -Ssf https://diode.io/install.sh | sh
          </code>
          <p><hr/></p>
          <p>Or manually install in a location of your choice:</p>
        </div>
      </div>

      <div class="col-md-4 col-md-push-0 col-sm-6 col-sm-push-0 col-xs-12 col-xs-push-0">
        <div class="download-box">
          <div class="download-content">
            <h4>Download Diode CLI</h4>
            <p>Download the binary for your operating system</p>
            {% for item in site.downloads %}            
            <a id="{{ item.id }}" class="button-cta button-focus" href="{{ site.download-base }}{{ item.link }}">
              {{ item.title }}
            </a>
            {% endfor %}
            {% for item in site.downloads %}            
            <a href="{{ site.download-base }}{{ item.link }}" class="download-link">
              {{ item.title }}
            </a>
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="col-md-4 col-md-push-0 col-sm-6 col-sm-push-0 col-xs-12 col-xs-push-0">
        <div class="download-box">
          <div class="download-content">
            <h4>Unzip and Install</h4>
            <p>Unzip the terminal tool. On Windows you can double click it.</p>

            <code style="margin-bottom: 1em;">
              <span class="noselect">$ </span>unzip Downloads/<span id="filename">diode.zip</span>
            </code>
            
            We recommend moving it into a $PATH directory such as /home/[user]/.local/bin 

          </div>
        </div>
      </div>

      <div class="col-md-4 col-md-push-0 col-sm-6 col-sm-push-0 col-xs-12 col-xs-push-0">
        <div class="download-box">
          <div class="download-content">
            <h4>Publish Ports</h4>
            <p>To publish e.g. your local http ports to the Diode Network call:</p>

            <code>
              <span class="noselect">$ </span>diode publish -public 80:80
            </code>           
            
          </div>
        </div>
      </div>
  </div>
</section>
